 
		.ulisting_element_470_1551877402683{;margin-right:-15px;margin-left:-15px;}
		@media (max-width: 1199px) { .ulisting_element_470_1551877402683{} }
		@media (max-width: 991px) { .ulisting_element_470_1551877402683{} }
		@media (max-width: 767px) { .ulisting_element_470_1551877402683{} }
		@media (max-width: 575px) { .ulisting_element_470_1551877402683{} }
		 
		.ulisting_element_390_1551877402684{;;}
		@media (max-width: 1199px) { .ulisting_element_390_1551877402684{} }
		@media (max-width: 991px) { .ulisting_element_390_1551877402684{} }
		@media (max-width: 767px) { .ulisting_element_390_1551877402684{} }
		@media (max-width: 575px) { .ulisting_element_390_1551877402684{} }
		 
		.ulisting_element_130_1551877402684{;;}
		@media (max-width: 1199px) { .ulisting_element_130_1551877402684{} }
		@media (max-width: 991px) { .ulisting_element_130_1551877402684{} }
		@media (max-width: 767px) { .ulisting_element_130_1551877402684{} }
		@media (max-width: 575px) { .ulisting_element_130_1551877402684{margin-bottom:30px} }
		 
		.ulisting_element_800_1551877622475{;height:168px;}
		@media (max-width: 1199px) { .ulisting_element_800_1551877622475{height:240px} }
		@media (max-width: 991px) { .ulisting_element_800_1551877622475{height:220px} }
		@media (max-width: 767px) { .ulisting_element_800_1551877622475{height:240px} }
		@media (max-width: 575px) { .ulisting_element_800_1551877622475{height:300px} }
		 
		.ulisting_element_150_1551877628455{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1551877628455{} }
		@media (max-width: 991px) { .ulisting_element_150_1551877628455{} }
		@media (max-width: 767px) { .ulisting_element_150_1551877628455{} }
		@media (max-width: 575px) { .ulisting_element_150_1551877628455{} }
		 
		.ulisting_element_330_1551877628455{;display: flex; justify-content: flex-end;;padding-top:10px;padding-right:25px;}
		@media (max-width: 1199px) { .ulisting_element_330_1551877628455{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_330_1551877628455{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_330_1551877628455{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_330_1551877628455{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_380_1551877632890{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1551877632890{} }
		@media (max-width: 991px) { .ulisting_element_380_1551877632890{} }
		@media (max-width: 767px) { .ulisting_element_380_1551877632890{} }
		@media (max-width: 575px) { .ulisting_element_380_1551877632890{} }
		 
		.ulisting_element_790_1556790253302{;;}
		@media (max-width: 1199px) { .ulisting_element_790_1556790253302{} }
		@media (max-width: 991px) { .ulisting_element_790_1556790253302{} }
		@media (max-width: 767px) { .ulisting_element_790_1556790253302{} }
		@media (max-width: 575px) { .ulisting_element_790_1556790253302{} }
		 
		.ulisting_element_540_1556790253302{;display: flex; justify-content: flex-end;;padding-right:20px;padding-bottom:5px;}
		@media (max-width: 1199px) { .ulisting_element_540_1556790253302{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_540_1556790253302{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_540_1556790253302{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_540_1556790253302{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_670_1562392545516{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1562392545516{} }
		@media (max-width: 991px) { .ulisting_element_670_1562392545516{} }
		@media (max-width: 767px) { .ulisting_element_670_1562392545516{} }
		@media (max-width: 575px) { .ulisting_element_670_1562392545516{} }
		 
		.ulisting_element_340_1562392543513{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1562392543513{} }
		@media (max-width: 991px) { .ulisting_element_340_1562392543513{} }
		@media (max-width: 767px) { .ulisting_element_340_1562392543513{} }
		@media (max-width: 575px) { .ulisting_element_340_1562392543513{} }
		 
		.ulisting_element_410_1551877406756{;;}
		@media (max-width: 1199px) { .ulisting_element_410_1551877406756{} }
		@media (max-width: 991px) { .ulisting_element_410_1551877406756{} }
		@media (max-width: 767px) { .ulisting_element_410_1551877406756{} }
		@media (max-width: 575px) { .ulisting_element_410_1551877406756{} }
		 
		.ulisting_element_650_1551877567407{;;}
		@media (max-width: 1199px) { .ulisting_element_650_1551877567407{} }
		@media (max-width: 991px) { .ulisting_element_650_1551877567407{} }
		@media (max-width: 767px) { .ulisting_element_650_1551877567407{} }
		@media (max-width: 575px) { .ulisting_element_650_1551877567407{} }
		 
		.ulisting_element_400_1551877567407{;display: flex; justify-content: flex-start;;margin-bottom:12px;}
		@media (max-width: 1199px) { .ulisting_element_400_1551877567407{display: block;} }
		@media (max-width: 991px) { .ulisting_element_400_1551877567407{display: block;} }
		@media (max-width: 767px) { .ulisting_element_400_1551877567407{display: block;} }
		@media (max-width: 575px) { .ulisting_element_400_1551877567407{display: block;} }
		 
		.ulisting_element_310_1563517885125{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_310_1563517885125{} }
		@media (max-width: 991px) { .ulisting_element_310_1563517885125{} }
		@media (max-width: 767px) { .ulisting_element_310_1563517885125{} }
		@media (max-width: 575px) { .ulisting_element_310_1563517885125{} }
		 
		.ulisting_element_280_1551877574359{;;}
		@media (max-width: 1199px) { .ulisting_element_280_1551877574359{} }
		@media (max-width: 991px) { .ulisting_element_280_1551877574359{} }
		@media (max-width: 767px) { .ulisting_element_280_1551877574359{} }
		@media (max-width: 575px) { .ulisting_element_280_1551877574359{} }
		 
		.ulisting_element_790_1551877823040{;;}
		@media (max-width: 1199px) { .ulisting_element_790_1551877823040{} }
		@media (max-width: 991px) { .ulisting_element_790_1551877823040{} }
		@media (max-width: 767px) { .ulisting_element_790_1551877823040{} }
		@media (max-width: 575px) { .ulisting_element_790_1551877823040{} }
		 
		.ulisting_element_970_1551877823040{;display: flex; justify-content: space-between;;margin-bottom:10px;}
		@media (max-width: 1199px) { .ulisting_element_970_1551877823040{display: flex; justify-content: space-between;} }
		@media (max-width: 991px) { .ulisting_element_970_1551877823040{display: flex; justify-content: space-between;} }
		@media (max-width: 767px) { .ulisting_element_970_1551877823040{display: flex; justify-content: space-between;} }
		@media (max-width: 575px) { .ulisting_element_970_1551877823040{display: block;;margin-bottom:15px} }
		 
		.ulisting_element_390_1551877825140{color:#303441;;}
		@media (max-width: 1199px) { .ulisting_element_390_1551877825140{} }
		@media (max-width: 991px) { .ulisting_element_390_1551877825140{} }
		@media (max-width: 767px) { .ulisting_element_390_1551877825140{} }
		@media (max-width: 575px) { .ulisting_element_390_1551877825140{} }
		 
		.ulisting_element_30_1551877826975{;margin-top:-42px;}
		@media (max-width: 1199px) { .ulisting_element_30_1551877826975{} }
		@media (max-width: 991px) { .ulisting_element_30_1551877826975{} }
		@media (max-width: 767px) { .ulisting_element_30_1551877826975{} }
		@media (max-width: 575px) { .ulisting_element_30_1551877826975{margin-top:0px} }
		 
		.ulisting_element_420_1551877931756{;margin-bottom:20px;margin-left:-10px;}
		@media (max-width: 1199px) { .ulisting_element_420_1551877931756{} }
		@media (max-width: 991px) { .ulisting_element_420_1551877931756{margin-bottom:25px} }
		@media (max-width: 767px) { .ulisting_element_420_1551877931756{} }
		@media (max-width: 575px) { .ulisting_element_420_1551877931756{} }
		 
		.ulisting_element_490_1551877942689{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1551877942689{} }
		@media (max-width: 991px) { .ulisting_element_490_1551877942689{} }
		@media (max-width: 767px) { .ulisting_element_490_1551877942689{} }
		@media (max-width: 575px) { .ulisting_element_490_1551877942689{} }
		 
		.ulisting_element_560_1551877945290{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1551877945290{} }
		@media (max-width: 991px) { .ulisting_element_560_1551877945290{} }
		@media (max-width: 767px) { .ulisting_element_560_1551877945290{} }
		@media (max-width: 575px) { .ulisting_element_560_1551877945290{} }
		 
		.ulisting_element_580_1551877961257{;;}
		@media (max-width: 1199px) { .ulisting_element_580_1551877961257{} }
		@media (max-width: 991px) { .ulisting_element_580_1551877961257{} }
		@media (max-width: 767px) { .ulisting_element_580_1551877961257{} }
		@media (max-width: 575px) { .ulisting_element_580_1551877961257{} }
		 
		.ulisting_element_590_1551877956806{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1551877956806{} }
		@media (max-width: 991px) { .ulisting_element_590_1551877956806{} }
		@media (max-width: 767px) { .ulisting_element_590_1551877956806{} }
		@media (max-width: 575px) { .ulisting_element_590_1551877956806{} }
		 
		.ulisting_element_540_1560168754120{;;}
		@media (max-width: 1199px) { .ulisting_element_540_1560168754120{} }
		@media (max-width: 991px) { .ulisting_element_540_1560168754120{} }
		@media (max-width: 767px) { .ulisting_element_540_1560168754120{} }
		@media (max-width: 575px) { .ulisting_element_540_1560168754120{} }
		 
		.ulisting_element_810_1551878088390{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1551878088390{} }
		@media (max-width: 991px) { .ulisting_element_810_1551878088390{} }
		@media (max-width: 767px) { .ulisting_element_810_1551878088390{} }
		@media (max-width: 575px) { .ulisting_element_810_1551878088390{} }
		 
		.ulisting_element_330_1551878088390{;display: flex; justify-content: flex-start;;;}
		@media (max-width: 1199px) { .ulisting_element_330_1551878088390{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_330_1551878088390{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_330_1551878088390{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_330_1551878088390{display: flex; justify-content: flex-start;;flex-direction: column;} }
		 
		.ulisting_element_400_1551878102887{;padding-top:4px;}
		@media (max-width: 1199px) { .ulisting_element_400_1551878102887{} }
		@media (max-width: 991px) { .ulisting_element_400_1551878102887{} }
		@media (max-width: 767px) { .ulisting_element_400_1551878102887{} }
		@media (max-width: 575px) { .ulisting_element_400_1551878102887{margin-bottom:20px} }
		 
		.ulisting_element_30_1601901547269{;;}
		@media (max-width: 1199px) { .ulisting_element_30_1601901547269{} }
		@media (max-width: 991px) { .ulisting_element_30_1601901547269{} }
		@media (max-width: 767px) { .ulisting_element_30_1601901547269{} }
		@media (max-width: 575px) { .ulisting_element_30_1601901547269{} }
		 
		.ulisting_element_620_1555415728973{;;}
		@media (max-width: 1199px) { .ulisting_element_620_1555415728973{} }
		@media (max-width: 991px) { .ulisting_element_620_1555415728973{} }
		@media (max-width: 767px) { .ulisting_element_620_1555415728973{} }
		@media (max-width: 575px) { .ulisting_element_620_1555415728973{} }
		 
		.ulisting_element_420_1601901547269{;display: block;;;}
		@media (max-width: 1199px) { .ulisting_element_420_1601901547269{display: block;;} }
		@media (max-width: 991px) { .ulisting_element_420_1601901547269{display: block;;} }
		@media (max-width: 767px) { .ulisting_element_420_1601901547269{display: block;;} }
		@media (max-width: 575px) { .ulisting_element_420_1601901547269{display: block;;} }
		 
		.ulisting_element_240_1601900652778{;margin-top:5px;margin-bottom:5px;margin-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_240_1601900652778{margin-top:5px} }
		@media (max-width: 991px) { .ulisting_element_240_1601900652778{margin-top:5px;margin-left:30px} }
		@media (max-width: 767px) { .ulisting_element_240_1601900652778{margin-top:5px;margin-left:0px} }
		@media (max-width: 575px) { .ulisting_element_240_1601900652778{margin-top:5px} }
		