 
		.ulisting_element_500_1574769819138{;margin-top:58px;}
		@media (max-width: 1199px) { .ulisting_element_500_1574769819138{} }
		@media (max-width: 991px) { .ulisting_element_500_1574769819138{} }
		@media (max-width: 767px) { .ulisting_element_500_1574769819138{} }
		@media (max-width: 575px) { .ulisting_element_500_1574769819138{} }
		 
		.ulisting_element_20_1574769819138{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1574769819138{} }
		@media (max-width: 991px) { .ulisting_element_20_1574769819138{} }
		@media (max-width: 767px) { .ulisting_element_20_1574769819138{} }
		@media (max-width: 575px) { .ulisting_element_20_1574769819138{} }
		 
		.ulisting_element_20_1574769819138{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1574769819138{} }
		@media (max-width: 991px) { .ulisting_element_20_1574769819138{} }
		@media (max-width: 767px) { .ulisting_element_20_1574769819138{} }
		@media (max-width: 575px) { .ulisting_element_20_1574769819138{} }
		 
		.ulisting_element_10_1574769862135{;;}
		@media (max-width: 1199px) { .ulisting_element_10_1574769862135{} }
		@media (max-width: 991px) { .ulisting_element_10_1574769862135{} }
		@media (max-width: 767px) { .ulisting_element_10_1574769862135{} }
		@media (max-width: 575px) { .ulisting_element_10_1574769862135{} }
		 
		.ulisting_element_470_1574769862135{;display: block;;;;}
		@media (max-width: 1199px) { .ulisting_element_470_1574769862135{display: block;;;} }
		@media (max-width: 991px) { .ulisting_element_470_1574769862135{display: flex; justify-content: center;;margin-bottom:15px;flex-direction: column;;align-items: center;} }
		@media (max-width: 767px) { .ulisting_element_470_1574769862135{display: flex; justify-content: center;;margin-bottom:5px;flex-direction: column;;align-items: center;} }
		@media (max-width: 575px) { .ulisting_element_470_1574769862135{display: flex; justify-content: center;;margin-bottom:5px;flex-direction: column;;align-items: center;} }
		 
		.ulisting_element_830_1574770117644{;margin-top:-10px;}
		@media (max-width: 1199px) { .ulisting_element_830_1574770117644{} }
		@media (max-width: 991px) { .ulisting_element_830_1574770117644{margin-top:0px} }
		@media (max-width: 767px) { .ulisting_element_830_1574770117644{} }
		@media (max-width: 575px) { .ulisting_element_830_1574770117644{} }
		 
		.ulisting_element_250_1586952839619{;margin-top:-25px;}
		@media (max-width: 1199px) { .ulisting_element_250_1586952839619{} }
		@media (max-width: 991px) { .ulisting_element_250_1586952839619{margin-top:-10px;margin-bottom:5px} }
		@media (max-width: 767px) { .ulisting_element_250_1586952839619{} }
		@media (max-width: 575px) { .ulisting_element_250_1586952839619{} }
		 
		.ulisting_element_770_1574769880459{;display: flex; justify-content: flex-end;;;;}
		@media (max-width: 1199px) { .ulisting_element_770_1574769880459{display: flex; justify-content: flex-end;;;} }
		@media (max-width: 991px) { .ulisting_element_770_1574769880459{display: flex; justify-content: center;;;;margin-bottom:30px} }
		@media (max-width: 767px) { .ulisting_element_770_1574769880459{display: flex; justify-content: center;;;;margin-bottom:30px} }
		@media (max-width: 575px) { .ulisting_element_770_1574769880459{display: flex; justify-content: center;;align-items: center;;flex-direction: column;;margin-bottom:15px} }
		 
		.ulisting_element_80_1574770147889{;margin-right:30px;margin-bottom:12px;}
		@media (max-width: 1199px) { .ulisting_element_80_1574770147889{} }
		@media (max-width: 991px) { .ulisting_element_80_1574770147889{margin-right:30px;margin-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_80_1574770147889{} }
		@media (max-width: 575px) { .ulisting_element_80_1574770147889{margin-right:0px;margin-bottom:10px} }
		 
		.ulisting_element_170_1574770212273{;margin-right:30px;margin-bottom:12px;}
		@media (max-width: 1199px) { .ulisting_element_170_1574770212273{} }
		@media (max-width: 991px) { .ulisting_element_170_1574770212273{margin-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_170_1574770212273{margin-bottom:0px} }
		@media (max-width: 575px) { .ulisting_element_170_1574770212273{margin-right:0px;margin-bottom:15px} }
		 
		.ulisting_element_710_1574770222386{;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_710_1574770222386{margin-right:15px} }
		@media (max-width: 991px) { .ulisting_element_710_1574770222386{} }
		@media (max-width: 767px) { .ulisting_element_710_1574770222386{} }
		@media (max-width: 575px) { .ulisting_element_710_1574770222386{margin-right:0px;margin-bottom:20px} }
		 
		.ulisting_element_990_1574770238648{;;}
		@media (max-width: 1199px) { .ulisting_element_990_1574770238648{} }
		@media (max-width: 991px) { .ulisting_element_990_1574770238648{} }
		@media (max-width: 767px) { .ulisting_element_990_1574770238648{} }
		@media (max-width: 575px) { .ulisting_element_990_1574770238648{} }
		 
		.ulisting_element_780_1574770238648{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1574770238648{} }
		@media (max-width: 991px) { .ulisting_element_780_1574770238648{} }
		@media (max-width: 767px) { .ulisting_element_780_1574770238648{} }
		@media (max-width: 575px) { .ulisting_element_780_1574770238648{} }
		 
		.ulisting_element_410_1574770241984{;margin-top:20px;margin-bottom:10px;}
		@media (max-width: 1199px) { .ulisting_element_410_1574770241984{} }
		@media (max-width: 991px) { .ulisting_element_410_1574770241984{} }
		@media (max-width: 767px) { .ulisting_element_410_1574770241984{} }
		@media (max-width: 575px) { .ulisting_element_410_1574770241984{} }
		 
		.ulisting_element_380_1574770271866{;margin-top:30px;}
		@media (max-width: 1199px) { .ulisting_element_380_1574770271866{} }
		@media (max-width: 991px) { .ulisting_element_380_1574770271866{} }
		@media (max-width: 767px) { .ulisting_element_380_1574770271866{} }
		@media (max-width: 575px) { .ulisting_element_380_1574770271866{} }
		 
		.ulisting_element_320_1574770282449{;;}
		@media (max-width: 1199px) { .ulisting_element_320_1574770282449{} }
		@media (max-width: 991px) { .ulisting_element_320_1574770282449{} }
		@media (max-width: 767px) { .ulisting_element_320_1574770282449{} }
		@media (max-width: 575px) { .ulisting_element_320_1574770282449{} }
		