 
		.ulisting_element_440_1552458931121{;;}
		@media (max-width: 1199px) { .ulisting_element_440_1552458931121{} }
		@media (max-width: 991px) { .ulisting_element_440_1552458931121{} }
		@media (max-width: 767px) { .ulisting_element_440_1552458931121{} }
		@media (max-width: 575px) { .ulisting_element_440_1552458931121{} }
		 
		.ulisting_element_130_1552458931121{;;}
		@media (max-width: 1199px) { .ulisting_element_130_1552458931121{} }
		@media (max-width: 991px) { .ulisting_element_130_1552458931121{} }
		@media (max-width: 767px) { .ulisting_element_130_1552458931121{} }
		@media (max-width: 575px) { .ulisting_element_130_1552458931121{} }
		 
		.ulisting_element_890_1552458931121{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_890_1552458931121{} }
		@media (max-width: 991px) { .ulisting_element_890_1552458931121{} }
		@media (max-width: 767px) { .ulisting_element_890_1552458931121{} }
		@media (max-width: 575px) { .ulisting_element_890_1552458931121{} }
		 
		.ulisting_element_840_1552458951755{color:rgba(255, 255, 255, 0.49);background-color:#3B3E4B;padding-top:18px;padding-bottom:18px;}
		@media (max-width: 1199px) { .ulisting_element_840_1552458951755{} }
		@media (max-width: 991px) { .ulisting_element_840_1552458951755{} }
		@media (max-width: 767px) { .ulisting_element_840_1552458951755{} }
		@media (max-width: 575px) { .ulisting_element_840_1552458951755{} }
		 
		.ulisting_element_730_1548660103747{background-color:#303441;padding-top:20px;padding-bottom:8px;}
		@media (max-width: 1199px) { .ulisting_element_730_1548660103747{} }
		@media (max-width: 991px) { .ulisting_element_730_1548660103747{padding-top:30px} }
		@media (max-width: 767px) { .ulisting_element_730_1548660103747{padding-top:40px} }
		@media (max-width: 575px) { .ulisting_element_730_1548660103747{} }
		 
		.ulisting_element_780_1548660103747{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1548660103747{} }
		@media (max-width: 991px) { .ulisting_element_780_1548660103747{} }
		@media (max-width: 767px) { .ulisting_element_780_1548660103747{} }
		@media (max-width: 575px) { .ulisting_element_780_1548660103747{} }
		 
		.ulisting_element_830_1548660103747{;padding-top:6px;}
		@media (max-width: 1199px) { .ulisting_element_830_1548660103747{} }
		@media (max-width: 991px) { .ulisting_element_830_1548660103747{} }
		@media (max-width: 767px) { .ulisting_element_830_1548660103747{} }
		@media (max-width: 575px) { .ulisting_element_830_1548660103747{} }
		 
		.ulisting_element_340_1548660154503{color:#FFFFFF;margin-bottom:0px;padding-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 991px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 767px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 575px) { .ulisting_element_340_1548660154503{} }
		 
		.ulisting_element_410_1548660127235{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_410_1548660127235{padding-right:15px} }
		@media (max-width: 991px) { .ulisting_element_410_1548660127235{padding-top:15px;padding-bottom:15px} }
		@media (max-width: 767px) { .ulisting_element_410_1548660127235{padding-bottom:20px} }
		@media (max-width: 575px) { .ulisting_element_410_1548660127235{} }
		 
		.ulisting_element_10_1548660157395{;;}
		@media (max-width: 1199px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 991px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 767px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 575px) { .ulisting_element_10_1548660157395{} }
		 
		.ulisting_element_350_1548660168243{color:#F5F5F5;;}
		@media (max-width: 1199px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 991px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 767px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 575px) { .ulisting_element_350_1548660168243{} }
		 
		.ulisting_element_420_1548660189042{color:#FFFFFF;;}
		@media (max-width: 1199px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 991px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 767px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 575px) { .ulisting_element_420_1548660189042{} }
		 
		.ulisting_element_410_1548660195849{color:#FFFFFF;;}
		@media (max-width: 1199px) { .ulisting_element_410_1548660195849{} }
		@media (max-width: 991px) { .ulisting_element_410_1548660195849{} }
		@media (max-width: 767px) { .ulisting_element_410_1548660195849{} }
		@media (max-width: 575px) { .ulisting_element_410_1548660195849{} }
		 
		.ulisting_element_810_1548660284907{color:#FFFFFF;;}
		@media (max-width: 1199px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 991px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 767px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 575px) { .ulisting_element_810_1548660284907{} }
		 
		.ulisting_element_280_1548660127235{;padding-top:10px;}
		@media (max-width: 1199px) { .ulisting_element_280_1548660127235{padding-top:20px;padding-right:20px;padding-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_280_1548660127235{padding-top:23px} }
		@media (max-width: 767px) { .ulisting_element_280_1548660127235{padding-top:0px} }
		@media (max-width: 575px) { .ulisting_element_280_1548660127235{} }
		 
		.ulisting_element_220_1548660484686{color:#FFFFFF;padding-bottom:5px;}
		@media (max-width: 1199px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 991px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 767px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 575px) { .ulisting_element_220_1548660484686{} }
		 
		.ulisting_element_720_1555564332237{color:#FFFFFF;;}
		@media (max-width: 1199px) { .ulisting_element_720_1555564332237{} }
		@media (max-width: 991px) { .ulisting_element_720_1555564332237{} }
		@media (max-width: 767px) { .ulisting_element_720_1555564332237{} }
		@media (max-width: 575px) { .ulisting_element_720_1555564332237{} }
		 
		.ulisting_element_80_1548649971715{background-color:#303441;;}
		@media (max-width: 1199px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_80_1548649971715{} }
		 
		.ulisting_element_170_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_170_1548649971715{} }
		 
		.ulisting_element_790_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_790_1548649971715{} }
		 
		.ulisting_element_960_1548649978737{;;}
		@media (max-width: 1199px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 991px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 767px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 575px) { .ulisting_element_960_1548649978737{} }
		 
		.ulisting_element_750_1548496387744{;padding-top:192px;margin-top:-140px;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496387744{padding-top:50px;padding-bottom:20px;margin-top:0px} }
		@media (max-width: 991px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496387744{} }
		 
		.ulisting_element_670_1548496387744{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 991px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_670_1548496387744{} }
		 
		.ulisting_element_960_1548496387744{;padding-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_960_1548496387744{padding-right:15px;margin-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_960_1548496387744{} }
		 
		.ulisting_element_200_1548497799003{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 991px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 767px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 575px) { .ulisting_element_200_1548497799003{} }
		 
		.ulisting_element_830_1548497776050{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 991px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 767px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 575px) { .ulisting_element_830_1548497776050{} }
		 
		.ulisting_element_550_1548497059551{;padding-bottom:8px;}
		@media (max-width: 1199px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 991px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 767px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 575px) { .ulisting_element_550_1548497059551{} }
		 
		.ulisting_element_490_1548497043109{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 991px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 767px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 575px) { .ulisting_element_490_1548497043109{} }
		 
		.ulisting_element_560_1548496993817{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 991px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 767px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 575px) { .ulisting_element_560_1548496993817{} }
		 
		.ulisting_element_180_1548496558959{;padding-top:15px;padding-bottom:18px;}
		@media (max-width: 1199px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 991px) { .ulisting_element_180_1548496558959{padding-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 575px) { .ulisting_element_180_1548496558959{} }
		 
		.ulisting_element_460_1559026333545{;;}
		@media (max-width: 1199px) { .ulisting_element_460_1559026333545{} }
		@media (max-width: 991px) { .ulisting_element_460_1559026333545{} }
		@media (max-width: 767px) { .ulisting_element_460_1559026333545{} }
		@media (max-width: 575px) { .ulisting_element_460_1559026333545{} }
		 
		.ulisting_element_380_1548496688654{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 991px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 767px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 575px) { .ulisting_element_380_1548496688654{} }
		 
		.ulisting_element_600_1559027209206{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1559027209206{} }
		@media (max-width: 991px) { .ulisting_element_600_1559027209206{} }
		@media (max-width: 767px) { .ulisting_element_600_1559027209206{} }
		@media (max-width: 575px) { .ulisting_element_600_1559027209206{} }
		 
		.ulisting_element_140_1559026448311{;;}
		@media (max-width: 1199px) { .ulisting_element_140_1559026448311{} }
		@media (max-width: 991px) { .ulisting_element_140_1559026448311{} }
		@media (max-width: 767px) { .ulisting_element_140_1559026448311{} }
		@media (max-width: 575px) { .ulisting_element_140_1559026448311{} }
		 
		.ulisting_element_160_1548496556707{;padding-top:15px;padding-bottom:1px;}
		@media (max-width: 1199px) { .ulisting_element_160_1548496556707{padding-top:0px} }
		@media (max-width: 991px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 767px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 575px) { .ulisting_element_160_1548496556707{} }
		 
		.ulisting_element_170_1548496655106{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 991px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 767px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 575px) { .ulisting_element_170_1548496655106{} }
		 
		.ulisting_element_730_1559026481635{;;}
		@media (max-width: 1199px) { .ulisting_element_730_1559026481635{} }
		@media (max-width: 991px) { .ulisting_element_730_1559026481635{} }
		@media (max-width: 767px) { .ulisting_element_730_1559026481635{} }
		@media (max-width: 575px) { .ulisting_element_730_1559026481635{} }
		 
		.ulisting_element_280_1559026453473{;;}
		@media (max-width: 1199px) { .ulisting_element_280_1559026453473{} }
		@media (max-width: 991px) { .ulisting_element_280_1559026453473{} }
		@media (max-width: 767px) { .ulisting_element_280_1559026453473{} }
		@media (max-width: 575px) { .ulisting_element_280_1559026453473{} }
		 
		.ulisting_element_670_1559026440332{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1559026440332{} }
		@media (max-width: 991px) { .ulisting_element_670_1559026440332{} }
		@media (max-width: 767px) { .ulisting_element_670_1559026440332{} }
		@media (max-width: 575px) { .ulisting_element_670_1559026440332{} }
		 
		.ulisting_element_710_1548496955311{;;}
		@media (max-width: 1199px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 991px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 767px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 575px) { .ulisting_element_710_1548496955311{} }
		 
		.ulisting_element_810_1559026851712{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1559026851712{} }
		@media (max-width: 991px) { .ulisting_element_810_1559026851712{} }
		@media (max-width: 767px) { .ulisting_element_810_1559026851712{} }
		@media (max-width: 575px) { .ulisting_element_810_1559026851712{} }
		 
		.ulisting_element_590_1564741631532{;margin-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_590_1564741631532{} }
		@media (max-width: 991px) { .ulisting_element_590_1564741631532{} }
		@media (max-width: 767px) { .ulisting_element_590_1564741631532{} }
		@media (max-width: 575px) { .ulisting_element_590_1564741631532{} }
		 
		.ulisting_element_620_1564741625295{;;}
		@media (max-width: 1199px) { .ulisting_element_620_1564741625295{} }
		@media (max-width: 991px) { .ulisting_element_620_1564741625295{} }
		@media (max-width: 767px) { .ulisting_element_620_1564741625295{} }
		@media (max-width: 575px) { .ulisting_element_620_1564741625295{} }
		 
		.ulisting_element_830_1557141335846{;padding-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_830_1557141335846{} }
		@media (max-width: 991px) { .ulisting_element_830_1557141335846{} }
		@media (max-width: 767px) { .ulisting_element_830_1557141335846{} }
		@media (max-width: 575px) { .ulisting_element_830_1557141335846{} }
		 
		.ulisting_element_20_1548496521532{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 991px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 767px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 575px) { .ulisting_element_20_1548496521532{} }
		 
		.ulisting_element_370_1557142551620{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1557142551620{} }
		@media (max-width: 991px) { .ulisting_element_370_1557142551620{} }
		@media (max-width: 767px) { .ulisting_element_370_1557142551620{} }
		@media (max-width: 575px) { .ulisting_element_370_1557142551620{} }
		 
		.ulisting_element_20_1576474725255{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1576474725255{} }
		@media (max-width: 991px) { .ulisting_element_20_1576474725255{} }
		@media (max-width: 767px) { .ulisting_element_20_1576474725255{} }
		@media (max-width: 575px) { .ulisting_element_20_1576474725255{} }
		 
		.ulisting_element_150_1576474735553{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1576474735553{} }
		@media (max-width: 991px) { .ulisting_element_150_1576474735553{} }
		@media (max-width: 767px) { .ulisting_element_150_1576474735553{} }
		@media (max-width: 575px) { .ulisting_element_150_1576474735553{} }
		 
		.ulisting_element_510_1548827278126{;;}
		@media (max-width: 1199px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 991px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 767px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 575px) { .ulisting_element_510_1548827278126{} }
		 
		.ulisting_element_740_1548842910469{;;}
		@media (max-width: 1199px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 991px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 767px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 575px) { .ulisting_element_740_1548842910469{} }
		 
		.ulisting_element_460_1555511898569{;;}
		@media (max-width: 1199px) { .ulisting_element_460_1555511898569{} }
		@media (max-width: 991px) { .ulisting_element_460_1555511898569{} }
		@media (max-width: 767px) { .ulisting_element_460_1555511898569{} }
		@media (max-width: 575px) { .ulisting_element_460_1555511898569{} }
		 
		.ulisting_element_940_1548842993181{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 991px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 767px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 575px) { .ulisting_element_940_1548842993181{} }
		 
		.ulisting_element_380_1557139927711{background-color:rgba(88, 170, 228, 0.5);;}
		@media (max-width: 1199px) { .ulisting_element_380_1557139927711{} }
		@media (max-width: 991px) { .ulisting_element_380_1557139927711{} }
		@media (max-width: 767px) { .ulisting_element_380_1557139927711{} }
		@media (max-width: 575px) { .ulisting_element_380_1557139927711{} }
		 
		.ulisting_element_930_1548496393967{;margin-top:-192px;padding-left:0px;display: block;;top:15px;position: sticky; position: -webkit-sticky; align-self: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1548496393967{margin-top:20px;display: flex; justify-content: center;;position: none} }
		@media (max-width: 991px) { .ulisting_element_930_1548496393967{padding-left:15px;display: flex; justify-content: center;;position: none} }
		@media (max-width: 767px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		@media (max-width: 575px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		 
		.ulisting_element_500_1553057433294{;padding-left:35px;}
		@media (max-width: 1199px) { .ulisting_element_500_1553057433294{} }
		@media (max-width: 991px) { .ulisting_element_500_1553057433294{padding-left:0px} }
		@media (max-width: 767px) { .ulisting_element_500_1553057433294{} }
		@media (max-width: 575px) { .ulisting_element_500_1553057433294{} }
		