 
		.ulisting_element_440_1550137865060{;;}
		@media (max-width: 1199px) { .ulisting_element_440_1550137865060{} }
		@media (max-width: 991px) { .ulisting_element_440_1550137865060{} }
		@media (max-width: 767px) { .ulisting_element_440_1550137865060{} }
		@media (max-width: 575px) { .ulisting_element_440_1550137865060{} }
		 
		.ulisting_element_570_1550137865060{;;}
		@media (max-width: 1199px) { .ulisting_element_570_1550137865060{} }
		@media (max-width: 991px) { .ulisting_element_570_1550137865060{} }
		@media (max-width: 767px) { .ulisting_element_570_1550137865060{} }
		@media (max-width: 575px) { .ulisting_element_570_1550137865060{} }
		 
		.ulisting_element_210_1550137865060{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_210_1550137865060{} }
		@media (max-width: 991px) { .ulisting_element_210_1550137865060{} }
		@media (max-width: 767px) { .ulisting_element_210_1550137865060{} }
		@media (max-width: 575px) { .ulisting_element_210_1550137865060{} }
		 
		.ulisting_element_690_1553230184837{;;}
		@media (max-width: 1199px) { .ulisting_element_690_1553230184837{} }
		@media (max-width: 991px) { .ulisting_element_690_1553230184837{} }
		@media (max-width: 767px) { .ulisting_element_690_1553230184837{} }
		@media (max-width: 575px) { .ulisting_element_690_1553230184837{} }
		 
		.ulisting_element_740_1549255448902{;;}
		@media (max-width: 1199px) { .ulisting_element_740_1549255448902{} }
		@media (max-width: 991px) { .ulisting_element_740_1549255448902{} }
		@media (max-width: 767px) { .ulisting_element_740_1549255448902{} }
		@media (max-width: 575px) { .ulisting_element_740_1549255448902{} }
		 
		.ulisting_element_520_1549255448902{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1549255448902{} }
		@media (max-width: 991px) { .ulisting_element_520_1549255448902{} }
		@media (max-width: 767px) { .ulisting_element_520_1549255448902{} }
		@media (max-width: 575px) { .ulisting_element_520_1549255448902{} }
		 
		.ulisting_element_250_1549255448902{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_250_1549255448902{} }
		@media (max-width: 991px) { .ulisting_element_250_1549255448902{padding-right:0px} }
		@media (max-width: 767px) { .ulisting_element_250_1549255448902{} }
		@media (max-width: 575px) { .ulisting_element_250_1549255448902{margin-bottom:30px} }
		 
		.ulisting_element_550_1549255782268{;height:800px;}
		@media (max-width: 1199px) { .ulisting_element_550_1549255782268{height:400px} }
		@media (max-width: 991px) { .ulisting_element_550_1549255782268{height:400px} }
		@media (max-width: 767px) { .ulisting_element_550_1549255782268{height:400px} }
		@media (max-width: 575px) { .ulisting_element_550_1549255782268{height:400px} }
		 
		.ulisting_element_440_1549255453470{;padding-top:25px;padding-bottom:35px;}
		@media (max-width: 1199px) { .ulisting_element_440_1549255453470{} }
		@media (max-width: 991px) { .ulisting_element_440_1549255453470{} }
		@media (max-width: 767px) { .ulisting_element_440_1549255453470{} }
		@media (max-width: 575px) { .ulisting_element_440_1549255453470{} }
		 
		.ulisting_element_790_1549261022644{;;}
		@media (max-width: 1199px) { .ulisting_element_790_1549261022644{} }
		@media (max-width: 991px) { .ulisting_element_790_1549261022644{} }
		@media (max-width: 767px) { .ulisting_element_790_1549261022644{} }
		@media (max-width: 575px) { .ulisting_element_790_1549261022644{} }
		 
		.ulisting_element_460_1549261022644{;margin-bottom:-24px;display: block;;;;}
		@media (max-width: 1199px) { .ulisting_element_460_1549261022644{margin-bottom:0px;display: block;;;} }
		@media (max-width: 991px) { .ulisting_element_460_1549261022644{display: block;;flex-direction: column;;align-items: center;} }
		@media (max-width: 767px) { .ulisting_element_460_1549261022644{margin-bottom:25px;display: flex; justify-content: center;;;} }
		@media (max-width: 575px) { .ulisting_element_460_1549261022644{margin-bottom:0px;display: flex; justify-content: center;;;} }
		 
		.ulisting_element_910_1549261033577{;font-size: 24px;padding-top:5px;}
		@media (max-width: 1199px) { .ulisting_element_910_1549261033577{} }
		@media (max-width: 991px) { .ulisting_element_910_1549261033577{} }
		@media (max-width: 767px) { .ulisting_element_910_1549261033577{} }
		@media (max-width: 575px) { .ulisting_element_910_1549261033577{font-size: 32px} }
		 
		.ulisting_element_90_1587012648666{;margin-top:-10px;}
		@media (max-width: 1199px) { .ulisting_element_90_1587012648666{} }
		@media (max-width: 991px) { .ulisting_element_90_1587012648666{} }
		@media (max-width: 767px) { .ulisting_element_90_1587012648666{margin-top:0px} }
		@media (max-width: 575px) { .ulisting_element_90_1587012648666{margin-top:6px} }
		 
		.ulisting_element_60_1549261029766{;display: flex; justify-content: flex-end;;padding-right:0px;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_60_1549261029766{display: flex; justify-content: space-between;;margin-top:20px;;} }
		@media (max-width: 991px) { .ulisting_element_60_1549261029766{display: flex; justify-content: flex-end;;margin-top:0px;;} }
		@media (max-width: 767px) { .ulisting_element_60_1549261029766{display: flex; justify-content: center;;margin-top:0px;;} }
		@media (max-width: 575px) { .ulisting_element_60_1549261029766{display: flex; justify-content: center;;padding-right:15px;padding-left:15px;margin-top:5px;flex-direction: column;;align-items: center;} }
		 
		.ulisting_element_560_1563948751953{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_560_1563948751953{} }
		@media (max-width: 991px) { .ulisting_element_560_1563948751953{} }
		@media (max-width: 767px) { .ulisting_element_560_1563948751953{} }
		@media (max-width: 575px) { .ulisting_element_560_1563948751953{margin-right:0px;margin-bottom:5px} }
		 
		.ulisting_element_750_1562049021683{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_750_1562049021683{margin-right:15px} }
		@media (max-width: 991px) { .ulisting_element_750_1562049021683{margin-right:15px} }
		@media (max-width: 767px) { .ulisting_element_750_1562049021683{} }
		@media (max-width: 575px) { .ulisting_element_750_1562049021683{margin-top:0px;margin-right:0px;margin-bottom:15px} }
		 
		.ulisting_element_230_1549261042733{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_230_1549261042733{margin-right:0px} }
		@media (max-width: 991px) { .ulisting_element_230_1549261042733{} }
		@media (max-width: 767px) { .ulisting_element_230_1549261042733{} }
		@media (max-width: 575px) { .ulisting_element_230_1549261042733{margin-bottom:20px} }
		 
		.ulisting_element_490_1549261044404{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1549261044404{} }
		@media (max-width: 991px) { .ulisting_element_490_1549261044404{} }
		@media (max-width: 767px) { .ulisting_element_490_1549261044404{} }
		@media (max-width: 575px) { .ulisting_element_490_1549261044404{margin-bottom:15px} }
		 
		.ulisting_element_330_1549269310911{;margin-top:-20px;}
		@media (max-width: 1199px) { .ulisting_element_330_1549269310911{} }
		@media (max-width: 991px) { .ulisting_element_330_1549269310911{} }
		@media (max-width: 767px) { .ulisting_element_330_1549269310911{} }
		@media (max-width: 575px) { .ulisting_element_330_1549269310911{} }
		 
		.ulisting_element_780_1549255806818{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1549255806818{} }
		@media (max-width: 991px) { .ulisting_element_780_1549255806818{} }
		@media (max-width: 767px) { .ulisting_element_780_1549255806818{} }
		@media (max-width: 575px) { .ulisting_element_780_1549255806818{} }
		 
		.ulisting_element_70_1549278652477{;margin-bottom:15px;}
		@media (max-width: 1199px) { .ulisting_element_70_1549278652477{} }
		@media (max-width: 991px) { .ulisting_element_70_1549278652477{} }
		@media (max-width: 767px) { .ulisting_element_70_1549278652477{} }
		@media (max-width: 575px) { .ulisting_element_70_1549278652477{} }
		