 
		.ulisting_element_330_1552458321130{;;}
		@media (max-width: 1199px) { .ulisting_element_330_1552458321130{} }
		@media (max-width: 991px) { .ulisting_element_330_1552458321130{} }
		@media (max-width: 767px) { .ulisting_element_330_1552458321130{} }
		@media (max-width: 575px) { .ulisting_element_330_1552458321130{} }
		 
		.ulisting_element_750_1552458321130{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1552458321130{} }
		@media (max-width: 991px) { .ulisting_element_750_1552458321130{} }
		@media (max-width: 767px) { .ulisting_element_750_1552458321130{} }
		@media (max-width: 575px) { .ulisting_element_750_1552458321130{} }
		 
		.ulisting_element_130_1552458321130{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_130_1552458321130{} }
		@media (max-width: 991px) { .ulisting_element_130_1552458321130{} }
		@media (max-width: 767px) { .ulisting_element_130_1552458321130{} }
		@media (max-width: 575px) { .ulisting_element_130_1552458321130{} }
		 
		.ulisting_element_340_1552458328782{color:#AAAAAA;background-color:#F0F0F0;padding-top:18px;padding-bottom:18px;}
		@media (max-width: 1199px) { .ulisting_element_340_1552458328782{} }
		@media (max-width: 991px) { .ulisting_element_340_1552458328782{} }
		@media (max-width: 767px) { .ulisting_element_340_1552458328782{} }
		@media (max-width: 575px) { .ulisting_element_340_1552458328782{} }
		 
		.ulisting_element_20_1552458528843{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1552458528843{} }
		@media (max-width: 991px) { .ulisting_element_20_1552458528843{} }
		@media (max-width: 767px) { .ulisting_element_20_1552458528843{} }
		@media (max-width: 575px) { .ulisting_element_20_1552458528843{} }
		 
		.ulisting_element_670_1552458528843{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1552458528843{} }
		@media (max-width: 991px) { .ulisting_element_670_1552458528843{} }
		@media (max-width: 767px) { .ulisting_element_670_1552458528843{} }
		@media (max-width: 575px) { .ulisting_element_670_1552458528843{} }
		 
		.ulisting_element_980_1552458528844{;;}
		@media (max-width: 1199px) { .ulisting_element_980_1552458528844{} }
		@media (max-width: 991px) { .ulisting_element_980_1552458528844{} }
		@media (max-width: 767px) { .ulisting_element_980_1552458528844{} }
		@media (max-width: 575px) { .ulisting_element_980_1552458528844{} }
		 
		.ulisting_element_830_1552458538725{;margin-top:-45px;margin-bottom:-40px;}
		@media (max-width: 1199px) { .ulisting_element_830_1552458538725{} }
		@media (max-width: 991px) { .ulisting_element_830_1552458538725{} }
		@media (max-width: 767px) { .ulisting_element_830_1552458538725{} }
		@media (max-width: 575px) { .ulisting_element_830_1552458538725{} }
		 
		.ulisting_element_710_1551263403009{background-color:#F0F0F0;padding-top:84px;padding-bottom:10px;margin-top:-70px;}
		@media (max-width: 1199px) { .ulisting_element_710_1551263403009{} }
		@media (max-width: 991px) { .ulisting_element_710_1551263403009{padding-top:154px;margin-top:-140px} }
		@media (max-width: 767px) { .ulisting_element_710_1551263403009{} }
		@media (max-width: 575px) { .ulisting_element_710_1551263403009{} }
		 
		.ulisting_element_340_1551263403009{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1551263403009{} }
		@media (max-width: 991px) { .ulisting_element_340_1551263403009{} }
		@media (max-width: 767px) { .ulisting_element_340_1551263403009{} }
		@media (max-width: 575px) { .ulisting_element_340_1551263403009{} }
		 
		.ulisting_element_80_1551263403009{;;}
		@media (max-width: 1199px) { .ulisting_element_80_1551263403009{} }
		@media (max-width: 991px) { .ulisting_element_80_1551263403009{} }
		@media (max-width: 767px) { .ulisting_element_80_1551263403009{} }
		@media (max-width: 575px) { .ulisting_element_80_1551263403009{} }
		 
		.ulisting_element_340_1548660154503{color:#222222;margin-bottom:10px;padding-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 991px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 767px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 575px) { .ulisting_element_340_1548660154503{} }
		 
		.ulisting_element_800_1551263884339{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1551263884339{} }
		@media (max-width: 991px) { .ulisting_element_800_1551263884339{} }
		@media (max-width: 767px) { .ulisting_element_800_1551263884339{} }
		@media (max-width: 575px) { .ulisting_element_800_1551263884339{} }
		 
		.ulisting_element_980_1551263884339{;padding-right:0px;padding-bottom:10px;padding-left:5px;}
		@media (max-width: 1199px) { .ulisting_element_980_1551263884339{} }
		@media (max-width: 991px) { .ulisting_element_980_1551263884339{} }
		@media (max-width: 767px) { .ulisting_element_980_1551263884339{} }
		@media (max-width: 575px) { .ulisting_element_980_1551263884339{} }
		 
		.ulisting_element_10_1548660157395{;;}
		@media (max-width: 1199px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 991px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 767px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 575px) { .ulisting_element_10_1548660157395{} }
		 
		.ulisting_element_350_1548660168243{color:#222222;;}
		@media (max-width: 1199px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 991px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 767px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 575px) { .ulisting_element_350_1548660168243{} }
		 
		.ulisting_element_420_1548660189042{color:#222222;;}
		@media (max-width: 1199px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 991px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 767px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 575px) { .ulisting_element_420_1548660189042{} }
		 
		.ulisting_element_810_1548660284907{color:#222222;;}
		@media (max-width: 1199px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 991px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 767px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 575px) { .ulisting_element_810_1548660284907{} }
		 
		.ulisting_element_110_1551263427225{;padding-top:12px;}
		@media (max-width: 1199px) { .ulisting_element_110_1551263427225{} }
		@media (max-width: 991px) { .ulisting_element_110_1551263427225{} }
		@media (max-width: 767px) { .ulisting_element_110_1551263427225{} }
		@media (max-width: 575px) { .ulisting_element_110_1551263427225{} }
		 
		.ulisting_element_220_1548660484686{color:#222222;font-size: 20px;padding-bottom:5px;}
		@media (max-width: 1199px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 991px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 767px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 575px) { .ulisting_element_220_1548660484686{} }
		 
		.ulisting_element_260_1555564442255{;;}
		@media (max-width: 1199px) { .ulisting_element_260_1555564442255{} }
		@media (max-width: 991px) { .ulisting_element_260_1555564442255{} }
		@media (max-width: 767px) { .ulisting_element_260_1555564442255{} }
		@media (max-width: 575px) { .ulisting_element_260_1555564442255{} }
		 
		.ulisting_element_80_1548649971715{background-color:#F0F0F0;;}
		@media (max-width: 1199px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_80_1548649971715{} }
		 
		.ulisting_element_170_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_170_1548649971715{} }
		 
		.ulisting_element_790_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_790_1548649971715{} }
		 
		.ulisting_element_960_1548649978737{;;}
		@media (max-width: 1199px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 991px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 767px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 575px) { .ulisting_element_960_1548649978737{} }
		 
		.ulisting_element_750_1548496387744{;padding-top:118px;margin-top:-75px;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496387744{padding-top:50px;padding-bottom:20px;margin-top:0px} }
		@media (max-width: 991px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496387744{} }
		 
		.ulisting_element_670_1548496387744{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 991px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_670_1548496387744{} }
		 
		.ulisting_element_960_1548496387744{;padding-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_960_1548496387744{padding-right:15px;margin-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_960_1548496387744{} }
		 
		.ulisting_element_200_1548497799003{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 991px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 767px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 575px) { .ulisting_element_200_1548497799003{} }
		 
		.ulisting_element_830_1548497776050{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 991px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 767px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 575px) { .ulisting_element_830_1548497776050{} }
		 
		.ulisting_element_550_1548497059551{;padding-bottom:8px;}
		@media (max-width: 1199px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 991px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 767px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 575px) { .ulisting_element_550_1548497059551{} }
		 
		.ulisting_element_490_1548497043109{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 991px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 767px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 575px) { .ulisting_element_490_1548497043109{} }
		 
		.ulisting_element_560_1548496993817{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 991px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 767px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 575px) { .ulisting_element_560_1548496993817{} }
		 
		.ulisting_element_180_1548496558959{;padding-top:15px;padding-bottom:18px;}
		@media (max-width: 1199px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 991px) { .ulisting_element_180_1548496558959{padding-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 575px) { .ulisting_element_180_1548496558959{} }
		 
		.ulisting_element_960_1559033831017{;;}
		@media (max-width: 1199px) { .ulisting_element_960_1559033831017{} }
		@media (max-width: 991px) { .ulisting_element_960_1559033831017{} }
		@media (max-width: 767px) { .ulisting_element_960_1559033831017{} }
		@media (max-width: 575px) { .ulisting_element_960_1559033831017{} }
		 
		.ulisting_element_380_1548496688654{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 991px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 767px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 575px) { .ulisting_element_380_1548496688654{} }
		 
		.ulisting_element_380_1559033853225{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1559033853225{} }
		@media (max-width: 991px) { .ulisting_element_380_1559033853225{} }
		@media (max-width: 767px) { .ulisting_element_380_1559033853225{} }
		@media (max-width: 575px) { .ulisting_element_380_1559033853225{} }
		 
		.ulisting_element_810_1548496669878{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1548496669878{} }
		@media (max-width: 991px) { .ulisting_element_810_1548496669878{} }
		@media (max-width: 767px) { .ulisting_element_810_1548496669878{} }
		@media (max-width: 575px) { .ulisting_element_810_1548496669878{} }
		 
		.ulisting_element_160_1548496556707{;padding-top:15px;padding-bottom:1px;}
		@media (max-width: 1199px) { .ulisting_element_160_1548496556707{padding-top:0px} }
		@media (max-width: 991px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 767px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 575px) { .ulisting_element_160_1548496556707{} }
		 
		.ulisting_element_170_1548496655106{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 991px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 767px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 575px) { .ulisting_element_170_1548496655106{} }
		 
		.ulisting_element_120_1548496644590{;;}
		@media (max-width: 1199px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 991px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 767px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 575px) { .ulisting_element_120_1548496644590{} }
		 
		.ulisting_element_750_1548496638544{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 991px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496638544{} }
		 
		.ulisting_element_370_1548496634676{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 991px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 767px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 575px) { .ulisting_element_370_1548496634676{} }
		 
		.ulisting_element_710_1548496955311{;margin-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 991px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 767px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 575px) { .ulisting_element_710_1548496955311{} }
		 
		.ulisting_element_920_1559033864865{;;}
		@media (max-width: 1199px) { .ulisting_element_920_1559033864865{} }
		@media (max-width: 991px) { .ulisting_element_920_1559033864865{} }
		@media (max-width: 767px) { .ulisting_element_920_1559033864865{} }
		@media (max-width: 575px) { .ulisting_element_920_1559033864865{} }
		 
		.ulisting_element_190_1564806700009{;margin-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_190_1564806700009{} }
		@media (max-width: 991px) { .ulisting_element_190_1564806700009{} }
		@media (max-width: 767px) { .ulisting_element_190_1564806700009{} }
		@media (max-width: 575px) { .ulisting_element_190_1564806700009{} }
		 
		.ulisting_element_270_1564806737186{;;}
		@media (max-width: 1199px) { .ulisting_element_270_1564806737186{} }
		@media (max-width: 991px) { .ulisting_element_270_1564806737186{} }
		@media (max-width: 767px) { .ulisting_element_270_1564806737186{} }
		@media (max-width: 575px) { .ulisting_element_270_1564806737186{} }
		 
		.ulisting_element_640_1556173906602{;padding-top:50px;margin-bottom:50px;}
		@media (max-width: 1199px) { .ulisting_element_640_1556173906602{} }
		@media (max-width: 991px) { .ulisting_element_640_1556173906602{} }
		@media (max-width: 767px) { .ulisting_element_640_1556173906602{} }
		@media (max-width: 575px) { .ulisting_element_640_1556173906602{} }
		 
		.ulisting_element_20_1548496521532{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 991px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 767px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 575px) { .ulisting_element_20_1548496521532{} }
		 
		.ulisting_element_990_1551422710835{;;}
		@media (max-width: 1199px) { .ulisting_element_990_1551422710835{} }
		@media (max-width: 991px) { .ulisting_element_990_1551422710835{} }
		@media (max-width: 767px) { .ulisting_element_990_1551422710835{} }
		@media (max-width: 575px) { .ulisting_element_990_1551422710835{} }
		 
		.ulisting_element_780_1576474751246{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1576474751246{} }
		@media (max-width: 991px) { .ulisting_element_780_1576474751246{} }
		@media (max-width: 767px) { .ulisting_element_780_1576474751246{} }
		@media (max-width: 575px) { .ulisting_element_780_1576474751246{} }
		 
		.ulisting_element_240_1576474760862{;;}
		@media (max-width: 1199px) { .ulisting_element_240_1576474760862{} }
		@media (max-width: 991px) { .ulisting_element_240_1576474760862{} }
		@media (max-width: 767px) { .ulisting_element_240_1576474760862{} }
		@media (max-width: 575px) { .ulisting_element_240_1576474760862{} }
		 
		.ulisting_element_510_1548827278126{;;}
		@media (max-width: 1199px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 991px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 767px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 575px) { .ulisting_element_510_1548827278126{} }
		 
		.ulisting_element_740_1548842910469{;;}
		@media (max-width: 1199px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 991px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 767px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 575px) { .ulisting_element_740_1548842910469{} }
		 
		.ulisting_element_600_1555511915080{;margin-bottom:50px;}
		@media (max-width: 1199px) { .ulisting_element_600_1555511915080{} }
		@media (max-width: 991px) { .ulisting_element_600_1555511915080{} }
		@media (max-width: 767px) { .ulisting_element_600_1555511915080{} }
		@media (max-width: 575px) { .ulisting_element_600_1555511915080{} }
		 
		.ulisting_element_940_1548842993181{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 991px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 767px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 575px) { .ulisting_element_940_1548842993181{} }
		 
		.ulisting_element_750_1557146527186{background-color:rgba(0, 154, 238, 0.5);;}
		@media (max-width: 1199px) { .ulisting_element_750_1557146527186{} }
		@media (max-width: 991px) { .ulisting_element_750_1557146527186{} }
		@media (max-width: 767px) { .ulisting_element_750_1557146527186{} }
		@media (max-width: 575px) { .ulisting_element_750_1557146527186{} }
		 
		.ulisting_element_930_1548496393967{;margin-top:-118px;padding-left:0px;display: block;;top:15px;position: sticky; position: -webkit-sticky; align-self: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1548496393967{margin-top:20px;padding-left:15px;display: flex; justify-content: center;;position: relative} }
		@media (max-width: 991px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		@media (max-width: 767px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		@media (max-width: 575px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		 
		.ulisting_element_400_1555419322522{;margin-left:35px;}
		@media (max-width: 1199px) { .ulisting_element_400_1555419322522{margin-left:0px} }
		@media (max-width: 991px) { .ulisting_element_400_1555419322522{} }
		@media (max-width: 767px) { .ulisting_element_400_1555419322522{} }
		@media (max-width: 575px) { .ulisting_element_400_1555419322522{} }
		