 
		.ulisting_element_590_1574760839858{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1574760839858{} }
		@media (max-width: 991px) { .ulisting_element_590_1574760839858{} }
		@media (max-width: 767px) { .ulisting_element_590_1574760839858{} }
		@media (max-width: 575px) { .ulisting_element_590_1574760839858{} }
		 
		.ulisting_element_350_1574760839858{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1574760839858{} }
		@media (max-width: 991px) { .ulisting_element_350_1574760839858{} }
		@media (max-width: 767px) { .ulisting_element_350_1574760839858{} }
		@media (max-width: 575px) { .ulisting_element_350_1574760839858{} }
		 
		.ulisting_element_420_1574760839858{;padding-right:10px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_420_1574760839858{} }
		@media (max-width: 991px) { .ulisting_element_420_1574760839858{padding-right:0px} }
		@media (max-width: 767px) { .ulisting_element_420_1574760839858{} }
		@media (max-width: 575px) { .ulisting_element_420_1574760839858{} }
		 
		.ulisting_element_940_1574760901643{;height:200px;}
		@media (max-width: 1199px) { .ulisting_element_940_1574760901643{} }
		@media (max-width: 991px) { .ulisting_element_940_1574760901643{} }
		@media (max-width: 767px) { .ulisting_element_940_1574760901643{} }
		@media (max-width: 575px) { .ulisting_element_940_1574760901643{} }
		 
		.ulisting_element_470_1574829355112{;;}
		@media (max-width: 1199px) { .ulisting_element_470_1574829355112{} }
		@media (max-width: 991px) { .ulisting_element_470_1574829355112{} }
		@media (max-width: 767px) { .ulisting_element_470_1574829355112{} }
		@media (max-width: 575px) { .ulisting_element_470_1574829355112{} }
		 
		.ulisting_element_930_1574829355112{;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1574829355112{display: flex; justify-content: flex-start;} }
		@media (max-width: 991px) { .ulisting_element_930_1574829355112{display: flex; justify-content: flex-start;} }
		@media (max-width: 767px) { .ulisting_element_930_1574829355112{display: flex; justify-content: flex-start;} }
		@media (max-width: 575px) { .ulisting_element_930_1574829355112{display: flex; justify-content: flex-start;} }
		 
		.ulisting_element_10_1575000776782{;margin-top:18px;margin-right:-8px;margin-left:18px;}
		@media (max-width: 1199px) { .ulisting_element_10_1575000776782{} }
		@media (max-width: 991px) { .ulisting_element_10_1575000776782{} }
		@media (max-width: 767px) { .ulisting_element_10_1575000776782{} }
		@media (max-width: 575px) { .ulisting_element_10_1575000776782{} }
		 
		.ulisting_element_580_1574760906661{;margin-top:18px;margin-left:18px;}
		@media (max-width: 1199px) { .ulisting_element_580_1574760906661{} }
		@media (max-width: 991px) { .ulisting_element_580_1574760906661{} }
		@media (max-width: 767px) { .ulisting_element_580_1574760906661{} }
		@media (max-width: 575px) { .ulisting_element_580_1574760906661{} }
		 
		.ulisting_element_850_1574829361236{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_850_1574829361236{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_850_1574829361236{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_850_1574829361236{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_850_1574829361236{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_990_1574829379336{;margin-top:18px;margin-right:18px;}
		@media (max-width: 1199px) { .ulisting_element_990_1574829379336{} }
		@media (max-width: 991px) { .ulisting_element_990_1574829379336{} }
		@media (max-width: 767px) { .ulisting_element_990_1574829379336{} }
		@media (max-width: 575px) { .ulisting_element_990_1574829379336{} }
		 
		.ulisting_element_270_1574829557715{;;}
		@media (max-width: 1199px) { .ulisting_element_270_1574829557715{} }
		@media (max-width: 991px) { .ulisting_element_270_1574829557715{} }
		@media (max-width: 767px) { .ulisting_element_270_1574829557715{} }
		@media (max-width: 575px) { .ulisting_element_270_1574829557715{} }
		 
		.ulisting_element_60_1574829557715{;padding-top:0px;padding-right:30px;padding-bottom:15px;padding-left:10px;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_60_1574829557715{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_60_1574829557715{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_60_1574829557715{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_60_1574829557715{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_910_1574829566330{;;}
		@media (max-width: 1199px) { .ulisting_element_910_1574829566330{} }
		@media (max-width: 991px) { .ulisting_element_910_1574829566330{} }
		@media (max-width: 767px) { .ulisting_element_910_1574829566330{} }
		@media (max-width: 575px) { .ulisting_element_910_1574829566330{} }
		 
		.ulisting_element_990_1574829567930{;;}
		@media (max-width: 1199px) { .ulisting_element_990_1574829567930{} }
		@media (max-width: 991px) { .ulisting_element_990_1574829567930{} }
		@media (max-width: 767px) { .ulisting_element_990_1574829567930{} }
		@media (max-width: 575px) { .ulisting_element_990_1574829567930{} }
		 
		.ulisting_element_140_1574760896537{;padding-top:15px;padding-bottom:15px;padding-left:20px;}
		@media (max-width: 1199px) { .ulisting_element_140_1574760896537{padding-left:15px} }
		@media (max-width: 991px) { .ulisting_element_140_1574760896537{} }
		@media (max-width: 767px) { .ulisting_element_140_1574760896537{} }
		@media (max-width: 575px) { .ulisting_element_140_1574760896537{} }
		 
		.ulisting_element_60_1574760992601{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1574760992601{} }
		@media (max-width: 991px) { .ulisting_element_60_1574760992601{} }
		@media (max-width: 767px) { .ulisting_element_60_1574760992601{} }
		@media (max-width: 575px) { .ulisting_element_60_1574760992601{} }
		 
		.ulisting_element_170_1574761007720{;margin-top:5px;}
		@media (max-width: 1199px) { .ulisting_element_170_1574761007720{margin-top:-5px} }
		@media (max-width: 991px) { .ulisting_element_170_1574761007720{margin-top:5px} }
		@media (max-width: 767px) { .ulisting_element_170_1574761007720{} }
		@media (max-width: 575px) { .ulisting_element_170_1574761007720{} }
		 
		.ulisting_element_870_1574761021311{;;}
		@media (max-width: 1199px) { .ulisting_element_870_1574761021311{} }
		@media (max-width: 991px) { .ulisting_element_870_1574761021311{} }
		@media (max-width: 767px) { .ulisting_element_870_1574761021311{} }
		@media (max-width: 575px) { .ulisting_element_870_1574761021311{} }
		 
		.ulisting_element_360_1574761024449{;;}
		@media (max-width: 1199px) { .ulisting_element_360_1574761024449{} }
		@media (max-width: 991px) { .ulisting_element_360_1574761024449{} }
		@media (max-width: 767px) { .ulisting_element_360_1574761024449{} }
		@media (max-width: 575px) { .ulisting_element_360_1574761024449{} }
		 
		.ulisting_element_160_1574761026767{;;}
		@media (max-width: 1199px) { .ulisting_element_160_1574761026767{} }
		@media (max-width: 991px) { .ulisting_element_160_1574761026767{} }
		@media (max-width: 767px) { .ulisting_element_160_1574761026767{} }
		@media (max-width: 575px) { .ulisting_element_160_1574761026767{} }
		 
		.ulisting_element_270_1574761031744{;;}
		@media (max-width: 1199px) { .ulisting_element_270_1574761031744{} }
		@media (max-width: 991px) { .ulisting_element_270_1574761031744{} }
		@media (max-width: 767px) { .ulisting_element_270_1574761031744{} }
		@media (max-width: 575px) { .ulisting_element_270_1574761031744{} }
		 
		.ulisting_element_800_1601915521987{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1601915521987{} }
		@media (max-width: 991px) { .ulisting_element_800_1601915521987{} }
		@media (max-width: 767px) { .ulisting_element_800_1601915521987{} }
		@media (max-width: 575px) { .ulisting_element_800_1601915521987{} }
		 
		.ulisting_element_0_1601915521987{;;}
		@media (max-width: 1199px) { .ulisting_element_0_1601915521987{} }
		@media (max-width: 991px) { .ulisting_element_0_1601915521987{} }
		@media (max-width: 767px) { .ulisting_element_0_1601915521987{} }
		@media (max-width: 575px) { .ulisting_element_0_1601915521987{} }
		 
		.ulisting_element_690_1574761064763{;margin-top:15px;}
		@media (max-width: 1199px) { .ulisting_element_690_1574761064763{margin-top:7px} }
		@media (max-width: 991px) { .ulisting_element_690_1574761064763{margin-top:15px} }
		@media (max-width: 767px) { .ulisting_element_690_1574761064763{} }
		@media (max-width: 575px) { .ulisting_element_690_1574761064763{} }
		 
		.ulisting_element_380_1601915525743{;display: flex; justify-content: flex-end;;;}
		@media (max-width: 1199px) { .ulisting_element_380_1601915525743{display: flex; justify-content: flex-end;;} }
		@media (max-width: 991px) { .ulisting_element_380_1601915525743{display: flex; justify-content: flex-end;;} }
		@media (max-width: 767px) { .ulisting_element_380_1601915525743{display: flex; justify-content: flex-end;;} }
		@media (max-width: 575px) { .ulisting_element_380_1601915525743{display: flex; justify-content: flex-end;;} }
		 
		.ulisting_element_520_1601915462775{;margin-top:12px;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_520_1601915462775{margin-top:4px} }
		@media (max-width: 991px) { .ulisting_element_520_1601915462775{margin-top:12px} }
		@media (max-width: 767px) { .ulisting_element_520_1601915462775{} }
		@media (max-width: 575px) { .ulisting_element_520_1601915462775{} }
		