 
		.ulisting_element_400_1583902188666{background-color:#F5F5F5;;}
		@media (max-width: 1199px) { .ulisting_element_400_1583902188666{} }
		@media (max-width: 991px) { .ulisting_element_400_1583902188666{} }
		@media (max-width: 767px) { .ulisting_element_400_1583902188666{} }
		@media (max-width: 575px) { .ulisting_element_400_1583902188666{} }
		 
		.ulisting_element_480_1583902188666{;;}
		@media (max-width: 1199px) { .ulisting_element_480_1583902188666{} }
		@media (max-width: 991px) { .ulisting_element_480_1583902188666{} }
		@media (max-width: 767px) { .ulisting_element_480_1583902188666{} }
		@media (max-width: 575px) { .ulisting_element_480_1583902188666{} }
		 
		.ulisting_element_950_1583902188666{;padding-top:20px;padding-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_950_1583902188666{} }
		@media (max-width: 991px) { .ulisting_element_950_1583902188666{} }
		@media (max-width: 767px) { .ulisting_element_950_1583902188666{padding-right:30px;padding-left:30px} }
		@media (max-width: 575px) { .ulisting_element_950_1583902188666{padding-right:30px;padding-left:30px} }
		 
		.ulisting_element_420_1583902298027{;;}
		@media (max-width: 1199px) { .ulisting_element_420_1583902298027{} }
		@media (max-width: 991px) { .ulisting_element_420_1583902298027{} }
		@media (max-width: 767px) { .ulisting_element_420_1583902298027{} }
		@media (max-width: 575px) { .ulisting_element_420_1583902298027{} }
		 
		.ulisting_element_580_1583902280977{background-color:#F0F0F0;padding-top:20px;}
		@media (max-width: 1199px) { .ulisting_element_580_1583902280977{} }
		@media (max-width: 991px) { .ulisting_element_580_1583902280977{} }
		@media (max-width: 767px) { .ulisting_element_580_1583902280977{} }
		@media (max-width: 575px) { .ulisting_element_580_1583902280977{} }
		 
		.ulisting_element_470_1583902280977{;;}
		@media (max-width: 1199px) { .ulisting_element_470_1583902280977{} }
		@media (max-width: 991px) { .ulisting_element_470_1583902280977{} }
		@media (max-width: 767px) { .ulisting_element_470_1583902280977{} }
		@media (max-width: 575px) { .ulisting_element_470_1583902280977{} }
		 
		.ulisting_element_190_1583902280977{;display: block;;}
		@media (max-width: 1199px) { .ulisting_element_190_1583902280977{display: block;} }
		@media (max-width: 991px) { .ulisting_element_190_1583902280977{display: block;} }
		@media (max-width: 767px) { .ulisting_element_190_1583902280977{display: block;} }
		@media (max-width: 575px) { .ulisting_element_190_1583902280977{display: block;} }
		 
		.ulisting_element_130_1583902198839{;;}
		@media (max-width: 1199px) { .ulisting_element_130_1583902198839{} }
		@media (max-width: 991px) { .ulisting_element_130_1583902198839{} }
		@media (max-width: 767px) { .ulisting_element_130_1583902198839{} }
		@media (max-width: 575px) { .ulisting_element_130_1583902198839{} }
		 
		.ulisting_element_870_1583902568573{;margin-top:-15px;margin-right:-15px;margin-left:-15px;}
		@media (max-width: 1199px) { .ulisting_element_870_1583902568573{} }
		@media (max-width: 991px) { .ulisting_element_870_1583902568573{} }
		@media (max-width: 767px) { .ulisting_element_870_1583902568573{} }
		@media (max-width: 575px) { .ulisting_element_870_1583902568573{} }
		 
		.ulisting_element_380_1583902576079{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1583902576079{} }
		@media (max-width: 991px) { .ulisting_element_380_1583902576079{} }
		@media (max-width: 767px) { .ulisting_element_380_1583902576079{} }
		@media (max-width: 575px) { .ulisting_element_380_1583902576079{} }
		 
		.ulisting_element_1000_1583902577903{;;}
		@media (max-width: 1199px) { .ulisting_element_1000_1583902577903{} }
		@media (max-width: 991px) { .ulisting_element_1000_1583902577903{} }
		@media (max-width: 767px) { .ulisting_element_1000_1583902577903{} }
		@media (max-width: 575px) { .ulisting_element_1000_1583902577903{} }
		 
		.ulisting_element_660_1583902581007{;;}
		@media (max-width: 1199px) { .ulisting_element_660_1583902581007{} }
		@media (max-width: 991px) { .ulisting_element_660_1583902581007{} }
		@media (max-width: 767px) { .ulisting_element_660_1583902581007{} }
		@media (max-width: 575px) { .ulisting_element_660_1583902581007{} }
		 
		.ulisting_element_810_1583902582842{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1583902582842{} }
		@media (max-width: 991px) { .ulisting_element_810_1583902582842{} }
		@media (max-width: 767px) { .ulisting_element_810_1583902582842{} }
		@media (max-width: 575px) { .ulisting_element_810_1583902582842{} }
		 
		.ulisting_element_460_1583902392025{;display: block;;padding-top:10px;}
		@media (max-width: 1199px) { .ulisting_element_460_1583902392025{display: block;} }
		@media (max-width: 991px) { .ulisting_element_460_1583902392025{display: block;} }
		@media (max-width: 767px) { .ulisting_element_460_1583902392025{display: block;} }
		@media (max-width: 575px) { .ulisting_element_460_1583902392025{display: block;} }
		 
		.ulisting_element_180_1583902439422{;;}
		@media (max-width: 1199px) { .ulisting_element_180_1583902439422{} }
		@media (max-width: 991px) { .ulisting_element_180_1583902439422{} }
		@media (max-width: 767px) { .ulisting_element_180_1583902439422{} }
		@media (max-width: 575px) { .ulisting_element_180_1583902439422{} }
		 
		.ulisting_element_630_1583902452255{;;}
		@media (max-width: 1199px) { .ulisting_element_630_1583902452255{} }
		@media (max-width: 991px) { .ulisting_element_630_1583902452255{} }
		@media (max-width: 767px) { .ulisting_element_630_1583902452255{} }
		@media (max-width: 575px) { .ulisting_element_630_1583902452255{} }
		 
		.ulisting_element_790_1583902731719{background-color:#F0F0F0;;}
		@media (max-width: 1199px) { .ulisting_element_790_1583902731719{} }
		@media (max-width: 991px) { .ulisting_element_790_1583902731719{} }
		@media (max-width: 767px) { .ulisting_element_790_1583902731719{} }
		@media (max-width: 575px) { .ulisting_element_790_1583902731719{} }
		 
		.ulisting_element_780_1583902731720{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1583902731720{} }
		@media (max-width: 991px) { .ulisting_element_780_1583902731720{} }
		@media (max-width: 767px) { .ulisting_element_780_1583902731720{} }
		@media (max-width: 575px) { .ulisting_element_780_1583902731720{} }
		 
		.ulisting_element_240_1583902731720{;margin-top:20px;margin-bottom:30px;}
		@media (max-width: 1199px) { .ulisting_element_240_1583902731720{} }
		@media (max-width: 991px) { .ulisting_element_240_1583902731720{} }
		@media (max-width: 767px) { .ulisting_element_240_1583902731720{} }
		@media (max-width: 575px) { .ulisting_element_240_1583902731720{} }
		 
		.ulisting_element_840_1583902742192{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1583902742192{margin-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_840_1583902742192{margin-bottom:30px} }
		@media (max-width: 767px) { .ulisting_element_840_1583902742192{margin-bottom:30px} }
		@media (max-width: 575px) { .ulisting_element_840_1583902742192{margin-bottom:30px} }
		 
		.ulisting_element_230_1583902764108{;top:15px;right:30px;bottom:15px;position: absolute;}
		@media (max-width: 1199px) { .ulisting_element_230_1583902764108{top:0px;right:0px;bottom:0px;left:0px;position: relative} }
		@media (max-width: 991px) { .ulisting_element_230_1583902764108{top:0px;right:0px;bottom:0px;left:0px;position: relative} }
		@media (max-width: 767px) { .ulisting_element_230_1583902764108{top:0px;right:0px;bottom:0px;left:0px;position: relative} }
		@media (max-width: 575px) { .ulisting_element_230_1583902764108{top:0px;right:0px;bottom:0px;left:0px;position: relative} }
		 
		.ulisting_element_750_1548496387744{background-color:#F0F0F0;padding-bottom:70px;margin-bottom:-70px;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496387744{padding-bottom:20px;margin-top:0px} }
		@media (max-width: 991px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496387744{} }
		 
		.ulisting_element_670_1548496387744{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 991px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_670_1548496387744{} }
		 
		.ulisting_element_960_1548496387744{;padding-right:30px;}
		@media (max-width: 1199px) { .ulisting_element_960_1548496387744{padding-right:15px;margin-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_960_1548496387744{} }
		 
		.ulisting_element_50_1583903326226{;;}
		@media (max-width: 1199px) { .ulisting_element_50_1583903326226{} }
		@media (max-width: 991px) { .ulisting_element_50_1583903326226{} }
		@media (max-width: 767px) { .ulisting_element_50_1583903326226{} }
		@media (max-width: 575px) { .ulisting_element_50_1583903326226{} }
		 
		.ulisting_element_990_1583903326226{background-color:#FFFFFF;margin-right:0px;margin-bottom:30px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_990_1583903326226{} }
		@media (max-width: 991px) { .ulisting_element_990_1583903326226{} }
		@media (max-width: 767px) { .ulisting_element_990_1583903326226{margin-right:15px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_990_1583903326226{} }
		 
		.ulisting_element_200_1548497799003{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 991px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 767px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 575px) { .ulisting_element_200_1548497799003{} }
		 
		.ulisting_element_890_1583903501965{;;}
		@media (max-width: 1199px) { .ulisting_element_890_1583903501965{} }
		@media (max-width: 991px) { .ulisting_element_890_1583903501965{} }
		@media (max-width: 767px) { .ulisting_element_890_1583903501965{} }
		@media (max-width: 575px) { .ulisting_element_890_1583903501965{} }
		 
		.ulisting_element_100_1583903501965{background-color:#FFFFFF;margin-right:0px;margin-bottom:30px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_100_1583903501965{} }
		@media (max-width: 991px) { .ulisting_element_100_1583903501965{} }
		@media (max-width: 767px) { .ulisting_element_100_1583903501965{margin-right:15px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_100_1583903501965{} }
		 
		.ulisting_element_550_1548497059551{;padding-bottom:8px;}
		@media (max-width: 1199px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 991px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 767px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 575px) { .ulisting_element_550_1548497059551{} }
		 
		.ulisting_element_30_1583903540754{;;}
		@media (max-width: 1199px) { .ulisting_element_30_1583903540754{} }
		@media (max-width: 991px) { .ulisting_element_30_1583903540754{} }
		@media (max-width: 767px) { .ulisting_element_30_1583903540754{} }
		@media (max-width: 575px) { .ulisting_element_30_1583903540754{} }
		 
		.ulisting_element_140_1583903540754{background-color:#FFFFFF;margin-right:0px;margin-bottom:30px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_140_1583903540754{} }
		@media (max-width: 991px) { .ulisting_element_140_1583903540754{} }
		@media (max-width: 767px) { .ulisting_element_140_1583903540754{margin-right:15px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_140_1583903540754{} }
		 
		.ulisting_element_560_1548496993817{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 991px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 767px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 575px) { .ulisting_element_560_1548496993817{} }
		 
		.ulisting_element_180_1548496558959{;padding-top:15px;padding-bottom:18px;margin-right:-1px;margin-left:-1px;}
		@media (max-width: 1199px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 991px) { .ulisting_element_180_1548496558959{padding-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 575px) { .ulisting_element_180_1548496558959{} }
		 
		.ulisting_element_460_1559026333545{;;}
		@media (max-width: 1199px) { .ulisting_element_460_1559026333545{} }
		@media (max-width: 991px) { .ulisting_element_460_1559026333545{} }
		@media (max-width: 767px) { .ulisting_element_460_1559026333545{} }
		@media (max-width: 575px) { .ulisting_element_460_1559026333545{} }
		 
		.ulisting_element_380_1548496688654{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 991px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 767px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 575px) { .ulisting_element_380_1548496688654{} }
		 
		.ulisting_element_600_1559027209206{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1559027209206{} }
		@media (max-width: 991px) { .ulisting_element_600_1559027209206{} }
		@media (max-width: 767px) { .ulisting_element_600_1559027209206{} }
		@media (max-width: 575px) { .ulisting_element_600_1559027209206{} }
		 
		.ulisting_element_140_1559026448311{;;}
		@media (max-width: 1199px) { .ulisting_element_140_1559026448311{} }
		@media (max-width: 991px) { .ulisting_element_140_1559026448311{} }
		@media (max-width: 767px) { .ulisting_element_140_1559026448311{} }
		@media (max-width: 575px) { .ulisting_element_140_1559026448311{} }
		 
		.ulisting_element_160_1548496556707{;padding-top:15px;padding-bottom:1px;margin-right:-1px;margin-left:-1px;}
		@media (max-width: 1199px) { .ulisting_element_160_1548496556707{padding-top:0px} }
		@media (max-width: 991px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 767px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 575px) { .ulisting_element_160_1548496556707{} }
		 
		.ulisting_element_170_1548496655106{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 991px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 767px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 575px) { .ulisting_element_170_1548496655106{} }
		 
		.ulisting_element_730_1559026481635{;;}
		@media (max-width: 1199px) { .ulisting_element_730_1559026481635{} }
		@media (max-width: 991px) { .ulisting_element_730_1559026481635{} }
		@media (max-width: 767px) { .ulisting_element_730_1559026481635{} }
		@media (max-width: 575px) { .ulisting_element_730_1559026481635{} }
		 
		.ulisting_element_280_1559026453473{;;}
		@media (max-width: 1199px) { .ulisting_element_280_1559026453473{} }
		@media (max-width: 991px) { .ulisting_element_280_1559026453473{} }
		@media (max-width: 767px) { .ulisting_element_280_1559026453473{} }
		@media (max-width: 575px) { .ulisting_element_280_1559026453473{} }
		 
		.ulisting_element_670_1559026440332{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1559026440332{} }
		@media (max-width: 991px) { .ulisting_element_670_1559026440332{} }
		@media (max-width: 767px) { .ulisting_element_670_1559026440332{} }
		@media (max-width: 575px) { .ulisting_element_670_1559026440332{} }
		 
		.ulisting_element_880_1583903618771{;;}
		@media (max-width: 1199px) { .ulisting_element_880_1583903618771{} }
		@media (max-width: 991px) { .ulisting_element_880_1583903618771{} }
		@media (max-width: 767px) { .ulisting_element_880_1583903618771{} }
		@media (max-width: 575px) { .ulisting_element_880_1583903618771{} }
		 
		.ulisting_element_70_1583903618771{background-color:#FFFFFF;margin-right:0px;margin-bottom:30px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_70_1583903618771{} }
		@media (max-width: 991px) { .ulisting_element_70_1583903618771{} }
		@media (max-width: 767px) { .ulisting_element_70_1583903618771{margin-right:15px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_70_1583903618771{} }
		 
		.ulisting_element_810_1559026851712{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1559026851712{} }
		@media (max-width: 991px) { .ulisting_element_810_1559026851712{} }
		@media (max-width: 767px) { .ulisting_element_810_1559026851712{} }
		@media (max-width: 575px) { .ulisting_element_810_1559026851712{} }
		 
		.ulisting_element_760_1583903720651{;;}
		@media (max-width: 1199px) { .ulisting_element_760_1583903720651{} }
		@media (max-width: 991px) { .ulisting_element_760_1583903720651{} }
		@media (max-width: 767px) { .ulisting_element_760_1583903720651{} }
		@media (max-width: 575px) { .ulisting_element_760_1583903720651{} }
		 
		.ulisting_element_890_1583903720651{background-color:#FFFFFF;margin-right:0px;margin-bottom:30px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_890_1583903720651{} }
		@media (max-width: 991px) { .ulisting_element_890_1583903720651{} }
		@media (max-width: 767px) { .ulisting_element_890_1583903720651{margin-right:15px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_890_1583903720651{} }
		 
		.ulisting_element_590_1564741631532{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1564741631532{} }
		@media (max-width: 991px) { .ulisting_element_590_1564741631532{} }
		@media (max-width: 767px) { .ulisting_element_590_1564741631532{} }
		@media (max-width: 575px) { .ulisting_element_590_1564741631532{} }
		 
		.ulisting_element_620_1564741625295{;;}
		@media (max-width: 1199px) { .ulisting_element_620_1564741625295{} }
		@media (max-width: 991px) { .ulisting_element_620_1564741625295{} }
		@media (max-width: 767px) { .ulisting_element_620_1564741625295{} }
		@media (max-width: 575px) { .ulisting_element_620_1564741625295{} }
		 
		.ulisting_element_620_1583903873181{;;}
		@media (max-width: 1199px) { .ulisting_element_620_1583903873181{} }
		@media (max-width: 991px) { .ulisting_element_620_1583903873181{} }
		@media (max-width: 767px) { .ulisting_element_620_1583903873181{} }
		@media (max-width: 575px) { .ulisting_element_620_1583903873181{} }
		 
		.ulisting_element_290_1583903873181{background-color:#FFFFFF;margin-right:0px;margin-bottom:30px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_290_1583903873181{} }
		@media (max-width: 991px) { .ulisting_element_290_1583903873181{} }
		@media (max-width: 767px) { .ulisting_element_290_1583903873181{margin-right:15px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_290_1583903873181{} }
		 
		.ulisting_element_700_1575450116476{;;}
		@media (max-width: 1199px) { .ulisting_element_700_1575450116476{} }
		@media (max-width: 991px) { .ulisting_element_700_1575450116476{} }
		@media (max-width: 767px) { .ulisting_element_700_1575450116476{} }
		@media (max-width: 575px) { .ulisting_element_700_1575450116476{} }
		 
		.ulisting_element_170_1583903853203{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1583903853203{} }
		@media (max-width: 991px) { .ulisting_element_170_1583903853203{} }
		@media (max-width: 767px) { .ulisting_element_170_1583903853203{} }
		@media (max-width: 575px) { .ulisting_element_170_1583903853203{} }
		 
		.ulisting_element_840_1583903853203{background-color:#FFFFFF;margin-right:0px;margin-bottom:30px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_840_1583903853203{} }
		@media (max-width: 991px) { .ulisting_element_840_1583903853203{} }
		@media (max-width: 767px) { .ulisting_element_840_1583903853203{margin-right:15px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_840_1583903853203{} }
		 
		.ulisting_element_830_1557141335846{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1557141335846{} }
		@media (max-width: 991px) { .ulisting_element_830_1557141335846{} }
		@media (max-width: 767px) { .ulisting_element_830_1557141335846{} }
		@media (max-width: 575px) { .ulisting_element_830_1557141335846{} }
		 
		.ulisting_element_470_1583903866892{;;}
		@media (max-width: 1199px) { .ulisting_element_470_1583903866892{} }
		@media (max-width: 991px) { .ulisting_element_470_1583903866892{} }
		@media (max-width: 767px) { .ulisting_element_470_1583903866892{} }
		@media (max-width: 575px) { .ulisting_element_470_1583903866892{} }
		 
		.ulisting_element_470_1583903866892{background-color:#FFFFFF;margin-bottom:30px;margin-left:0px;padding-top:14px;padding-right:15px;padding-bottom:0px;padding-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_470_1583903866892{} }
		@media (max-width: 991px) { .ulisting_element_470_1583903866892{} }
		@media (max-width: 767px) { .ulisting_element_470_1583903866892{margin-right:0px;padding-right:0px;padding-left:0px} }
		@media (max-width: 575px) { .ulisting_element_470_1583903866892{} }
		 
		.ulisting_element_370_1557142551620{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1557142551620{} }
		@media (max-width: 991px) { .ulisting_element_370_1557142551620{} }
		@media (max-width: 767px) { .ulisting_element_370_1557142551620{} }
		@media (max-width: 575px) { .ulisting_element_370_1557142551620{} }
		 
		.ulisting_element_680_1583903888724{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1583903888724{} }
		@media (max-width: 991px) { .ulisting_element_680_1583903888724{} }
		@media (max-width: 767px) { .ulisting_element_680_1583903888724{} }
		@media (max-width: 575px) { .ulisting_element_680_1583903888724{} }
		 
		.ulisting_element_420_1583903888724{background-color:#FFFFFF;margin-right:0px;margin-left:15px;padding-top:34px;padding-right:30px;padding-bottom:34px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_420_1583903888724{} }
		@media (max-width: 991px) { .ulisting_element_420_1583903888724{} }
		@media (max-width: 767px) { .ulisting_element_420_1583903888724{margin-right:30px;padding-right:15px;padding-left:15px} }
		@media (max-width: 575px) { .ulisting_element_420_1583903888724{} }
		 
		.ulisting_element_380_1557139927711{background-color:rgba(88, 170, 228, 0.5);;}
		@media (max-width: 1199px) { .ulisting_element_380_1557139927711{} }
		@media (max-width: 991px) { .ulisting_element_380_1557139927711{} }
		@media (max-width: 767px) { .ulisting_element_380_1557139927711{} }
		@media (max-width: 575px) { .ulisting_element_380_1557139927711{} }
		 
		.ulisting_element_930_1548496393967{;display: block;;top:15px;position: sticky; position: -webkit-sticky; align-self: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1548496393967{margin-top:20px;display: block;;position: none} }
		@media (max-width: 991px) { .ulisting_element_930_1548496393967{padding-left:15px;display: block;;position: none} }
		@media (max-width: 767px) { .ulisting_element_930_1548496393967{display: block;;position: none} }
		@media (max-width: 575px) { .ulisting_element_930_1548496393967{display: block;;position: none} }
		 
		.ulisting_element_780_1583904636746{background-color:#303441;color:#FFFFFF;margin-bottom:0px;padding-top:30px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_780_1583904636746{} }
		@media (max-width: 991px) { .ulisting_element_780_1583904636746{} }
		@media (max-width: 767px) { .ulisting_element_780_1583904636746{} }
		@media (max-width: 575px) { .ulisting_element_780_1583904636746{} }
		 
		.ulisting_element_90_1583904539119{;margin-bottom:40px;}
		@media (max-width: 1199px) { .ulisting_element_90_1583904539119{} }
		@media (max-width: 991px) { .ulisting_element_90_1583904539119{} }
		@media (max-width: 767px) { .ulisting_element_90_1583904539119{} }
		@media (max-width: 575px) { .ulisting_element_90_1583904539119{} }
		 
		.ulisting_element_900_1583904784910{;margin-bottom:40px;}
		@media (max-width: 1199px) { .ulisting_element_900_1583904784910{} }
		@media (max-width: 991px) { .ulisting_element_900_1583904784910{} }
		@media (max-width: 767px) { .ulisting_element_900_1583904784910{} }
		@media (max-width: 575px) { .ulisting_element_900_1583904784910{} }
		 
		.ulisting_element_60_1583904795090{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1583904795090{} }
		@media (max-width: 991px) { .ulisting_element_60_1583904795090{} }
		@media (max-width: 767px) { .ulisting_element_60_1583904795090{} }
		@media (max-width: 575px) { .ulisting_element_60_1583904795090{} }
		 
		.ulisting_element_370_1583904798712{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1583904798712{} }
		@media (max-width: 991px) { .ulisting_element_370_1583904798712{} }
		@media (max-width: 767px) { .ulisting_element_370_1583904798712{} }
		@media (max-width: 575px) { .ulisting_element_370_1583904798712{} }
		 
		.ulisting_element_90_1583904808629{;;}
		@media (max-width: 1199px) { .ulisting_element_90_1583904808629{} }
		@media (max-width: 991px) { .ulisting_element_90_1583904808629{} }
		@media (max-width: 767px) { .ulisting_element_90_1583904808629{} }
		@media (max-width: 575px) { .ulisting_element_90_1583904808629{} }
		 
		.ulisting_element_990_1583904830717{;;}
		@media (max-width: 1199px) { .ulisting_element_990_1583904830717{} }
		@media (max-width: 991px) { .ulisting_element_990_1583904830717{} }
		@media (max-width: 767px) { .ulisting_element_990_1583904830717{} }
		@media (max-width: 575px) { .ulisting_element_990_1583904830717{} }
		 
		.ulisting_element_250_1583904834354{;;}
		@media (max-width: 1199px) { .ulisting_element_250_1583904834354{} }
		@media (max-width: 991px) { .ulisting_element_250_1583904834354{} }
		@media (max-width: 767px) { .ulisting_element_250_1583904834354{} }
		@media (max-width: 575px) { .ulisting_element_250_1583904834354{} }
		 
		.ulisting_element_60_1583904846506{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1583904846506{} }
		@media (max-width: 991px) { .ulisting_element_60_1583904846506{} }
		@media (max-width: 767px) { .ulisting_element_60_1583904846506{} }
		@media (max-width: 575px) { .ulisting_element_60_1583904846506{} }
		