 
		.ulisting_element_570_1614926200290{;;}
		@media (max-width: 1199px) { .ulisting_element_570_1614926200290{} }
		@media (max-width: 991px) { .ulisting_element_570_1614926200290{} }
		@media (max-width: 767px) { .ulisting_element_570_1614926200290{} }
		@media (max-width: 575px) { .ulisting_element_570_1614926200290{} }
		 
		.ulisting_element_150_1614926200290{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1614926200290{} }
		@media (max-width: 991px) { .ulisting_element_150_1614926200290{} }
		@media (max-width: 767px) { .ulisting_element_150_1614926200290{} }
		@media (max-width: 575px) { .ulisting_element_150_1614926200290{} }
		 
		.ulisting_element_630_1614926200292{;padding-right:0px;padding-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_630_1614926200292{} }
		@media (max-width: 991px) { .ulisting_element_630_1614926200292{padding-right:0px} }
		@media (max-width: 767px) { .ulisting_element_630_1614926200292{} }
		@media (max-width: 575px) { .ulisting_element_630_1614926200292{} }
		 
		.ulisting_element_330_1614926341128{;height:230px;}
		@media (max-width: 1199px) { .ulisting_element_330_1614926341128{} }
		@media (max-width: 991px) { .ulisting_element_330_1614926341128{} }
		@media (max-width: 767px) { .ulisting_element_330_1614926341128{} }
		@media (max-width: 575px) { .ulisting_element_330_1614926341128{} }
		 
		.ulisting_element_30_1614926781074{;;}
		@media (max-width: 1199px) { .ulisting_element_30_1614926781074{} }
		@media (max-width: 991px) { .ulisting_element_30_1614926781074{} }
		@media (max-width: 767px) { .ulisting_element_30_1614926781074{} }
		@media (max-width: 575px) { .ulisting_element_30_1614926781074{} }
		 
		.ulisting_element_660_1614926781074{;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_660_1614926781074{display: block;} }
		@media (max-width: 991px) { .ulisting_element_660_1614926781074{display: block;} }
		@media (max-width: 767px) { .ulisting_element_660_1614926781074{display: block;} }
		@media (max-width: 575px) { .ulisting_element_660_1614926781074{display: block;} }
		 
		.ulisting_element_180_1614926835397{;margin-top:15px;margin-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_180_1614926835397{} }
		@media (max-width: 991px) { .ulisting_element_180_1614926835397{} }
		@media (max-width: 767px) { .ulisting_element_180_1614926835397{} }
		@media (max-width: 575px) { .ulisting_element_180_1614926835397{} }
		 
		.ulisting_element_450_1614926784895{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_450_1614926784895{display: block;} }
		@media (max-width: 991px) { .ulisting_element_450_1614926784895{display: block;} }
		@media (max-width: 767px) { .ulisting_element_450_1614926784895{display: block;} }
		@media (max-width: 575px) { .ulisting_element_450_1614926784895{display: block;} }
		 
		.ulisting_element_20_1614926884856{;margin-top:10px;margin-right:10px;margin-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_20_1614926884856{} }
		@media (max-width: 991px) { .ulisting_element_20_1614926884856{} }
		@media (max-width: 767px) { .ulisting_element_20_1614926884856{} }
		@media (max-width: 575px) { .ulisting_element_20_1614926884856{} }
		 
		.ulisting_element_400_1614926895782{;margin-top:10px;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_400_1614926895782{} }
		@media (max-width: 991px) { .ulisting_element_400_1614926895782{} }
		@media (max-width: 767px) { .ulisting_element_400_1614926895782{} }
		@media (max-width: 575px) { .ulisting_element_400_1614926895782{} }
		 
		.ulisting_element_660_1614926901519{;margin-top:10px;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_660_1614926901519{} }
		@media (max-width: 991px) { .ulisting_element_660_1614926901519{} }
		@media (max-width: 767px) { .ulisting_element_660_1614926901519{} }
		@media (max-width: 575px) { .ulisting_element_660_1614926901519{} }
		 
		.ulisting_element_970_1614926218163{;padding-right:20px;padding-bottom:18px;padding-left:20px;}
		@media (max-width: 1199px) { .ulisting_element_970_1614926218163{} }
		@media (max-width: 991px) { .ulisting_element_970_1614926218163{} }
		@media (max-width: 767px) { .ulisting_element_970_1614926218163{} }
		@media (max-width: 575px) { .ulisting_element_970_1614926218163{} }
		 
		.ulisting_element_310_1614933826198{;;}
		@media (max-width: 1199px) { .ulisting_element_310_1614933826198{} }
		@media (max-width: 991px) { .ulisting_element_310_1614933826198{} }
		@media (max-width: 767px) { .ulisting_element_310_1614933826198{} }
		@media (max-width: 575px) { .ulisting_element_310_1614933826198{} }
		 
		.ulisting_element_320_1614933826198{;;}
		@media (max-width: 1199px) { .ulisting_element_320_1614933826198{} }
		@media (max-width: 991px) { .ulisting_element_320_1614933826198{} }
		@media (max-width: 767px) { .ulisting_element_320_1614933826198{} }
		@media (max-width: 575px) { .ulisting_element_320_1614933826198{} }
		 
		.ulisting_element_230_1614933937040{;margin-bottom:10px;}
		@media (max-width: 1199px) { .ulisting_element_230_1614933937040{} }
		@media (max-width: 991px) { .ulisting_element_230_1614933937040{} }
		@media (max-width: 767px) { .ulisting_element_230_1614933937040{} }
		@media (max-width: 575px) { .ulisting_element_230_1614933937040{} }
		 
		.ulisting_element_220_1614933975228{;;}
		@media (max-width: 1199px) { .ulisting_element_220_1614933975228{} }
		@media (max-width: 991px) { .ulisting_element_220_1614933975228{} }
		@media (max-width: 767px) { .ulisting_element_220_1614933975228{} }
		@media (max-width: 575px) { .ulisting_element_220_1614933975228{} }
		 
		.ulisting_element_720_1614933975228{;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_720_1614933975228{display: block;} }
		@media (max-width: 991px) { .ulisting_element_720_1614933975228{display: block;} }
		@media (max-width: 767px) { .ulisting_element_720_1614933975228{display: block;} }
		@media (max-width: 575px) { .ulisting_element_720_1614933975228{display: block;} }
		 
		.ulisting_element_380_1614934584803{color:#989AA0;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_380_1614934584803{} }
		@media (max-width: 991px) { .ulisting_element_380_1614934584803{} }
		@media (max-width: 767px) { .ulisting_element_380_1614934584803{} }
		@media (max-width: 575px) { .ulisting_element_380_1614934584803{} }
		 
		.ulisting_element_490_1614934590088{color:#989AA0;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_490_1614934590088{} }
		@media (max-width: 991px) { .ulisting_element_490_1614934590088{} }
		@media (max-width: 767px) { .ulisting_element_490_1614934590088{} }
		@media (max-width: 575px) { .ulisting_element_490_1614934590088{} }
		 
		.ulisting_element_240_1614934587223{color:#989AA0;;}
		@media (max-width: 1199px) { .ulisting_element_240_1614934587223{} }
		@media (max-width: 991px) { .ulisting_element_240_1614934587223{} }
		@media (max-width: 767px) { .ulisting_element_240_1614934587223{} }
		@media (max-width: 575px) { .ulisting_element_240_1614934587223{} }
		 
		.ulisting_element_160_1614934384605{;display: flex; justify-content: flex-end;;flex-direction: column;;align-items: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_160_1614934384605{display: block;;;} }
		@media (max-width: 991px) { .ulisting_element_160_1614934384605{display: block;;;} }
		@media (max-width: 767px) { .ulisting_element_160_1614934384605{display: block;;;} }
		@media (max-width: 575px) { .ulisting_element_160_1614934384605{display: block;;;} }
		 
		.ulisting_element_200_1614934896174{font-size: 18px;color:#4B85F0;;}
		@media (max-width: 1199px) { .ulisting_element_200_1614934896174{} }
		@media (max-width: 991px) { .ulisting_element_200_1614934896174{} }
		@media (max-width: 767px) { .ulisting_element_200_1614934896174{} }
		@media (max-width: 575px) { .ulisting_element_200_1614934896174{} }
		