 
		.ulisting_element_460_1553231517721{;;}
		@media (max-width: 1199px) { .ulisting_element_460_1553231517721{} }
		@media (max-width: 991px) { .ulisting_element_460_1553231517721{} }
		@media (max-width: 767px) { .ulisting_element_460_1553231517721{} }
		@media (max-width: 575px) { .ulisting_element_460_1553231517721{} }
		 
		.ulisting_element_650_1553231517721{;;}
		@media (max-width: 1199px) { .ulisting_element_650_1553231517721{} }
		@media (max-width: 991px) { .ulisting_element_650_1553231517721{} }
		@media (max-width: 767px) { .ulisting_element_650_1553231517721{} }
		@media (max-width: 575px) { .ulisting_element_650_1553231517721{} }
		 
		.ulisting_element_630_1553231517721{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_630_1553231517721{} }
		@media (max-width: 991px) { .ulisting_element_630_1553231517721{} }
		@media (max-width: 767px) { .ulisting_element_630_1553231517721{} }
		@media (max-width: 575px) { .ulisting_element_630_1553231517721{} }
		 
		.ulisting_element_350_1553231521633{;height:265px;padding-top:10px;padding-right:15px;padding-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_350_1553231521633{} }
		@media (max-width: 991px) { .ulisting_element_350_1553231521633{} }
		@media (max-width: 767px) { .ulisting_element_350_1553231521633{} }
		@media (max-width: 575px) { .ulisting_element_350_1553231521633{height:315px} }
		 
		.ulisting_element_710_1553231580766{;;}
		@media (max-width: 1199px) { .ulisting_element_710_1553231580766{} }
		@media (max-width: 991px) { .ulisting_element_710_1553231580766{} }
		@media (max-width: 767px) { .ulisting_element_710_1553231580766{} }
		@media (max-width: 575px) { .ulisting_element_710_1553231580766{} }
		 
		.ulisting_element_30_1553231580766{;display: flex; justify-content: flex-start;;flex-direction: row;;}
		@media (max-width: 1199px) { .ulisting_element_30_1553231580766{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_30_1553231580766{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_30_1553231580766{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_30_1553231580766{display: flex; justify-content: flex-start;;} }
		 
		.ulisting_element_300_1563517408062{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_300_1563517408062{} }
		@media (max-width: 991px) { .ulisting_element_300_1563517408062{} }
		@media (max-width: 767px) { .ulisting_element_300_1563517408062{} }
		@media (max-width: 575px) { .ulisting_element_300_1563517408062{} }
		 
		.ulisting_element_140_1553231590481{;;}
		@media (max-width: 1199px) { .ulisting_element_140_1553231590481{} }
		@media (max-width: 991px) { .ulisting_element_140_1553231590481{} }
		@media (max-width: 767px) { .ulisting_element_140_1553231590481{} }
		@media (max-width: 575px) { .ulisting_element_140_1553231590481{} }
		 
		.ulisting_element_360_1553231585121{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_360_1553231585121{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_360_1553231585121{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_360_1553231585121{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_360_1553231585121{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_220_1553231609144{;;}
		@media (max-width: 1199px) { .ulisting_element_220_1553231609144{} }
		@media (max-width: 991px) { .ulisting_element_220_1553231609144{} }
		@media (max-width: 767px) { .ulisting_element_220_1553231609144{} }
		@media (max-width: 575px) { .ulisting_element_220_1553231609144{} }
		 
		.ulisting_element_80_1556710681900{;;}
		@media (max-width: 1199px) { .ulisting_element_80_1556710681900{} }
		@media (max-width: 991px) { .ulisting_element_80_1556710681900{} }
		@media (max-width: 767px) { .ulisting_element_80_1556710681900{} }
		@media (max-width: 575px) { .ulisting_element_80_1556710681900{} }
		 
		.ulisting_element_30_1556710681900{;display: flex; justify-content: flex-end;;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:10px;}
		@media (max-width: 1199px) { .ulisting_element_30_1556710681900{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_30_1556710681900{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_30_1556710681900{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_30_1556710681900{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_580_1562392405598{;;}
		@media (max-width: 1199px) { .ulisting_element_580_1562392405598{} }
		@media (max-width: 991px) { .ulisting_element_580_1562392405598{} }
		@media (max-width: 767px) { .ulisting_element_580_1562392405598{} }
		@media (max-width: 575px) { .ulisting_element_580_1562392405598{} }
		 
		.ulisting_element_600_1562392404015{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1562392404015{} }
		@media (max-width: 991px) { .ulisting_element_600_1562392404015{} }
		@media (max-width: 767px) { .ulisting_element_600_1562392404015{} }
		@media (max-width: 575px) { .ulisting_element_600_1562392404015{} }
		 
		.ulisting_element_870_1553231815094{;;}
		@media (max-width: 1199px) { .ulisting_element_870_1553231815094{} }
		@media (max-width: 991px) { .ulisting_element_870_1553231815094{} }
		@media (max-width: 767px) { .ulisting_element_870_1553231815094{} }
		@media (max-width: 575px) { .ulisting_element_870_1553231815094{} }
		 
		.ulisting_element_440_1553231815094{;;}
		@media (max-width: 1199px) { .ulisting_element_440_1553231815094{} }
		@media (max-width: 991px) { .ulisting_element_440_1553231815094{} }
		@media (max-width: 767px) { .ulisting_element_440_1553231815094{} }
		@media (max-width: 575px) { .ulisting_element_440_1553231815094{} }
		 
		.ulisting_element_870_1553231847341{color:#FFFFFF;margin-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_870_1553231847341{} }
		@media (max-width: 991px) { .ulisting_element_870_1553231847341{} }
		@media (max-width: 767px) { .ulisting_element_870_1553231847341{} }
		@media (max-width: 575px) { .ulisting_element_870_1553231847341{} }
		 
		.ulisting_element_420_1554886914113{;;}
		@media (max-width: 1199px) { .ulisting_element_420_1554886914113{} }
		@media (max-width: 991px) { .ulisting_element_420_1554886914113{} }
		@media (max-width: 767px) { .ulisting_element_420_1554886914113{} }
		@media (max-width: 575px) { .ulisting_element_420_1554886914113{} }
		 
		.ulisting_element_320_1554886914113{;padding-bottom:5px;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_320_1554886914113{display: flex; justify-content: flex-start;} }
		@media (max-width: 991px) { .ulisting_element_320_1554886914113{display: flex; justify-content: flex-start;} }
		@media (max-width: 767px) { .ulisting_element_320_1554886914113{display: flex; justify-content: flex-start;} }
		@media (max-width: 575px) { .ulisting_element_320_1554886914113{display: flex; justify-content: flex-start;} }
		 
		.ulisting_element_930_1554886862144{color:#FFFFFF;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_930_1554886862144{} }
		@media (max-width: 991px) { .ulisting_element_930_1554886862144{} }
		@media (max-width: 767px) { .ulisting_element_930_1554886862144{} }
		@media (max-width: 575px) { .ulisting_element_930_1554886862144{} }
		 
		.ulisting_element_530_1554886788717{;padding-bottom:10px;margin-left:-10px;}
		@media (max-width: 1199px) { .ulisting_element_530_1554886788717{} }
		@media (max-width: 991px) { .ulisting_element_530_1554886788717{} }
		@media (max-width: 767px) { .ulisting_element_530_1554886788717{} }
		@media (max-width: 575px) { .ulisting_element_530_1554886788717{} }
		 
		.ulisting_element_800_1553232070502{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1553232070502{} }
		@media (max-width: 991px) { .ulisting_element_800_1553232070502{} }
		@media (max-width: 767px) { .ulisting_element_800_1553232070502{} }
		@media (max-width: 575px) { .ulisting_element_800_1553232070502{} }
		 
		.ulisting_element_440_1553232072502{;;}
		@media (max-width: 1199px) { .ulisting_element_440_1553232072502{} }
		@media (max-width: 991px) { .ulisting_element_440_1553232072502{} }
		@media (max-width: 767px) { .ulisting_element_440_1553232072502{} }
		@media (max-width: 575px) { .ulisting_element_440_1553232072502{} }
		 
		.ulisting_element_890_1553232074720{;;}
		@media (max-width: 1199px) { .ulisting_element_890_1553232074720{} }
		@media (max-width: 991px) { .ulisting_element_890_1553232074720{} }
		@media (max-width: 767px) { .ulisting_element_890_1553232074720{} }
		@media (max-width: 575px) { .ulisting_element_890_1553232074720{} }
		 
		.ulisting_element_200_1601891318895{;margin-top:-5px;margin-bottom:5px;margin-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_200_1601891318895{} }
		@media (max-width: 991px) { .ulisting_element_200_1601891318895{} }
		@media (max-width: 767px) { .ulisting_element_200_1601891318895{margin-top:-5px;margin-bottom:5px;margin-left:0px} }
		@media (max-width: 575px) { .ulisting_element_200_1601891318895{margin-left:0px} }
		