 
		.ulisting_element_440_1551955739625{;margin-top:58px;}
		@media (max-width: 1199px) { .ulisting_element_440_1551955739625{} }
		@media (max-width: 991px) { .ulisting_element_440_1551955739625{} }
		@media (max-width: 767px) { .ulisting_element_440_1551955739625{} }
		@media (max-width: 575px) { .ulisting_element_440_1551955739625{} }
		 
		.ulisting_element_530_1551955739625{;;}
		@media (max-width: 1199px) { .ulisting_element_530_1551955739625{} }
		@media (max-width: 991px) { .ulisting_element_530_1551955739625{} }
		@media (max-width: 767px) { .ulisting_element_530_1551955739625{} }
		@media (max-width: 575px) { .ulisting_element_530_1551955739625{} }
		 
		.ulisting_element_340_1551955739625{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1551955739625{} }
		@media (max-width: 991px) { .ulisting_element_340_1551955739625{} }
		@media (max-width: 767px) { .ulisting_element_340_1551955739625{} }
		@media (max-width: 575px) { .ulisting_element_340_1551955739625{} }
		 
		.ulisting_element_350_1551955856980{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1551955856980{} }
		@media (max-width: 991px) { .ulisting_element_350_1551955856980{} }
		@media (max-width: 767px) { .ulisting_element_350_1551955856980{} }
		@media (max-width: 575px) { .ulisting_element_350_1551955856980{} }
		 
		.ulisting_element_80_1551955856980{;display: block;;align-items: center;;;}
		@media (max-width: 1199px) { .ulisting_element_80_1551955856980{display: block;;;} }
		@media (max-width: 991px) { .ulisting_element_80_1551955856980{display: flex; justify-content: center;;margin-bottom:15px;;flex-direction: column;} }
		@media (max-width: 767px) { .ulisting_element_80_1551955856980{display: flex; justify-content: center;;margin-bottom:5px;;} }
		@media (max-width: 575px) { .ulisting_element_80_1551955856980{display: flex; justify-content: center;;margin-bottom:5px;;} }
		 
		.ulisting_element_650_1551955869617{;;}
		@media (max-width: 1199px) { .ulisting_element_650_1551955869617{} }
		@media (max-width: 991px) { .ulisting_element_650_1551955869617{} }
		@media (max-width: 767px) { .ulisting_element_650_1551955869617{} }
		@media (max-width: 575px) { .ulisting_element_650_1551955869617{} }
		 
		.ulisting_element_630_1587011841796{;margin-top:-26px;}
		@media (max-width: 1199px) { .ulisting_element_630_1587011841796{} }
		@media (max-width: 991px) { .ulisting_element_630_1587011841796{} }
		@media (max-width: 767px) { .ulisting_element_630_1587011841796{margin-top:-20px;margin-bottom:10px} }
		@media (max-width: 575px) { .ulisting_element_630_1587011841796{margin-bottom:0px} }
		 
		.ulisting_element_230_1551955863003{;display: flex; justify-content: flex-end;;padding-right:0px;align-items: center;;;}
		@media (max-width: 1199px) { .ulisting_element_230_1551955863003{display: flex; justify-content: flex-end;;;} }
		@media (max-width: 991px) { .ulisting_element_230_1551955863003{display: flex; justify-content: center;;;} }
		@media (max-width: 767px) { .ulisting_element_230_1551955863003{display: flex; justify-content: center;;;} }
		@media (max-width: 575px) { .ulisting_element_230_1551955863003{display: flex; justify-content: center;;padding-right:15px;align-items: center;;flex-direction: column;} }
		 
		.ulisting_element_240_1563950633693{;margin-right:30px;}
		@media (max-width: 1199px) { .ulisting_element_240_1563950633693{} }
		@media (max-width: 991px) { .ulisting_element_240_1563950633693{margin-right:30px;margin-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_240_1563950633693{} }
		@media (max-width: 575px) { .ulisting_element_240_1563950633693{margin-right:0px;margin-bottom:10px} }
		 
		.ulisting_element_60_1562063049976{;margin-right:30px;}
		@media (max-width: 1199px) { .ulisting_element_60_1562063049976{} }
		@media (max-width: 991px) { .ulisting_element_60_1562063049976{margin-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_60_1562063049976{margin-bottom:0px} }
		@media (max-width: 575px) { .ulisting_element_60_1562063049976{margin-right:0px;margin-bottom:15px} }
		 
		.ulisting_element_340_1551955941946{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_340_1551955941946{} }
		@media (max-width: 991px) { .ulisting_element_340_1551955941946{} }
		@media (max-width: 767px) { .ulisting_element_340_1551955941946{} }
		@media (max-width: 575px) { .ulisting_element_340_1551955941946{margin-right:0px;margin-bottom:25px} }
		 
		.ulisting_element_350_1551955925602{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1551955925602{} }
		@media (max-width: 991px) { .ulisting_element_350_1551955925602{} }
		@media (max-width: 767px) { .ulisting_element_350_1551955925602{} }
		@media (max-width: 575px) { .ulisting_element_350_1551955925602{margin-bottom:5px} }
		 
		.ulisting_element_330_1551956019468{;;}
		@media (max-width: 1199px) { .ulisting_element_330_1551956019468{} }
		@media (max-width: 991px) { .ulisting_element_330_1551956019468{} }
		@media (max-width: 767px) { .ulisting_element_330_1551956019468{} }
		@media (max-width: 575px) { .ulisting_element_330_1551956019468{} }
		 
		.ulisting_element_840_1551956026579{;padding-top:20px;}
		@media (max-width: 1199px) { .ulisting_element_840_1551956026579{margin-bottom:40px} }
		@media (max-width: 991px) { .ulisting_element_840_1551956026579{margin-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_840_1551956026579{} }
		@media (max-width: 575px) { .ulisting_element_840_1551956026579{} }
		 
		.ulisting_element_460_1551956308251{;;}
		@media (max-width: 1199px) { .ulisting_element_460_1551956308251{} }
		@media (max-width: 991px) { .ulisting_element_460_1551956308251{} }
		@media (max-width: 767px) { .ulisting_element_460_1551956308251{} }
		@media (max-width: 575px) { .ulisting_element_460_1551956308251{} }
		 
		.ulisting_element_800_1551956019468{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1551956019468{} }
		@media (max-width: 991px) { .ulisting_element_800_1551956019468{} }
		@media (max-width: 767px) { .ulisting_element_800_1551956019468{} }
		@media (max-width: 575px) { .ulisting_element_800_1551956019468{} }
		 
		.ulisting_element_100_1551956122358{;margin-top:-20px;}
		@media (max-width: 1199px) { .ulisting_element_100_1551956122358{} }
		@media (max-width: 991px) { .ulisting_element_100_1551956122358{margin-bottom:-30px} }
		@media (max-width: 767px) { .ulisting_element_100_1551956122358{} }
		@media (max-width: 575px) { .ulisting_element_100_1551956122358{} }
		 
		.ulisting_element_580_1551956173391{;;}
		@media (max-width: 1199px) { .ulisting_element_580_1551956173391{} }
		@media (max-width: 991px) { .ulisting_element_580_1551956173391{} }
		@media (max-width: 767px) { .ulisting_element_580_1551956173391{} }
		@media (max-width: 575px) { .ulisting_element_580_1551956173391{} }
		 
		.ulisting_element_630_1559802188058{;;}
		@media (max-width: 1199px) { .ulisting_element_630_1559802188058{} }
		@media (max-width: 991px) { .ulisting_element_630_1559802188058{} }
		@media (max-width: 767px) { .ulisting_element_630_1559802188058{} }
		@media (max-width: 575px) { .ulisting_element_630_1559802188058{} }
		