 
		.ulisting_element_140_1560851418148{;;}
		@media (max-width: 1199px) { .ulisting_element_140_1560851418148{} }
		@media (max-width: 991px) { .ulisting_element_140_1560851418148{} }
		@media (max-width: 767px) { .ulisting_element_140_1560851418148{} }
		@media (max-width: 575px) { .ulisting_element_140_1560851418148{} }
		 
		.ulisting_element_590_1560851418148{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1560851418148{} }
		@media (max-width: 991px) { .ulisting_element_590_1560851418148{} }
		@media (max-width: 767px) { .ulisting_element_590_1560851418148{} }
		@media (max-width: 575px) { .ulisting_element_590_1560851418148{} }
		 
		.ulisting_element_480_1560851418148{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_480_1560851418148{} }
		@media (max-width: 991px) { .ulisting_element_480_1560851418148{} }
		@media (max-width: 767px) { .ulisting_element_480_1560851418148{} }
		@media (max-width: 575px) { .ulisting_element_480_1560851418148{} }
		 
		.ulisting_element_30_1560851450942{;height:180px;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;margin-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_30_1560851450942{} }
		@media (max-width: 991px) { .ulisting_element_30_1560851450942{} }
		@media (max-width: 767px) { .ulisting_element_30_1560851450942{} }
		@media (max-width: 575px) { .ulisting_element_30_1560851450942{} }
		 
		.ulisting_element_370_1560851481473{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1560851481473{} }
		@media (max-width: 991px) { .ulisting_element_370_1560851481473{} }
		@media (max-width: 767px) { .ulisting_element_370_1560851481473{} }
		@media (max-width: 575px) { .ulisting_element_370_1560851481473{} }
		 
		.ulisting_element_800_1560851481473{;display: flex; justify-content: flex-start;;flex-direction: row;;}
		@media (max-width: 1199px) { .ulisting_element_800_1560851481473{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_800_1560851481473{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_800_1560851481473{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_800_1560851481473{display: flex; justify-content: flex-start;;} }
		 
		.ulisting_element_250_1563517671232{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_250_1563517671232{} }
		@media (max-width: 991px) { .ulisting_element_250_1563517671232{} }
		@media (max-width: 767px) { .ulisting_element_250_1563517671232{} }
		@media (max-width: 575px) { .ulisting_element_250_1563517671232{} }
		 
		.ulisting_element_280_1560851489072{;;}
		@media (max-width: 1199px) { .ulisting_element_280_1560851489072{} }
		@media (max-width: 991px) { .ulisting_element_280_1560851489072{} }
		@media (max-width: 767px) { .ulisting_element_280_1560851489072{} }
		@media (max-width: 575px) { .ulisting_element_280_1560851489072{} }
		 
		.ulisting_element_360_1560851486844{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_360_1560851486844{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_360_1560851486844{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_360_1560851486844{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_360_1560851486844{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_750_1560851500789{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1560851500789{} }
		@media (max-width: 991px) { .ulisting_element_750_1560851500789{} }
		@media (max-width: 767px) { .ulisting_element_750_1560851500789{} }
		@media (max-width: 575px) { .ulisting_element_750_1560851500789{} }
		 
		.ulisting_element_10_1560851537141{;;}
		@media (max-width: 1199px) { .ulisting_element_10_1560851537141{} }
		@media (max-width: 991px) { .ulisting_element_10_1560851537141{} }
		@media (max-width: 767px) { .ulisting_element_10_1560851537141{} }
		@media (max-width: 575px) { .ulisting_element_10_1560851537141{} }
		 
		.ulisting_element_240_1560851537141{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_240_1560851537141{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_240_1560851537141{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_240_1560851537141{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_240_1560851537141{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_350_1562392498196{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1562392498196{} }
		@media (max-width: 991px) { .ulisting_element_350_1562392498196{} }
		@media (max-width: 767px) { .ulisting_element_350_1562392498196{} }
		@media (max-width: 575px) { .ulisting_element_350_1562392498196{} }
		 
		.ulisting_element_20_1562392496689{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1562392496689{} }
		@media (max-width: 991px) { .ulisting_element_20_1562392496689{} }
		@media (max-width: 767px) { .ulisting_element_20_1562392496689{} }
		@media (max-width: 575px) { .ulisting_element_20_1562392496689{} }
		 
		.ulisting_element_600_1560851839111{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1560851839111{} }
		@media (max-width: 991px) { .ulisting_element_600_1560851839111{} }
		@media (max-width: 767px) { .ulisting_element_600_1560851839111{} }
		@media (max-width: 575px) { .ulisting_element_600_1560851839111{} }
		 
		.ulisting_element_130_1560851839111{;padding-right:30px;padding-bottom:30px;padding-left:30px;}
		@media (max-width: 1199px) { .ulisting_element_130_1560851839111{} }
		@media (max-width: 991px) { .ulisting_element_130_1560851839111{} }
		@media (max-width: 767px) { .ulisting_element_130_1560851839111{} }
		@media (max-width: 575px) { .ulisting_element_130_1560851839111{} }
		 
		.ulisting_element_520_1560851559940{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1560851559940{} }
		@media (max-width: 991px) { .ulisting_element_520_1560851559940{} }
		@media (max-width: 767px) { .ulisting_element_520_1560851559940{} }
		@media (max-width: 575px) { .ulisting_element_520_1560851559940{} }
		 
		.ulisting_element_430_1560852246398{;margin-top:0px;margin-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_430_1560852246398{} }
		@media (max-width: 991px) { .ulisting_element_430_1560852246398{} }
		@media (max-width: 767px) { .ulisting_element_430_1560852246398{} }
		@media (max-width: 575px) { .ulisting_element_430_1560852246398{} }
		 
		.ulisting_element_940_1602045452653{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1602045452653{} }
		@media (max-width: 991px) { .ulisting_element_940_1602045452653{} }
		@media (max-width: 767px) { .ulisting_element_940_1602045452653{} }
		@media (max-width: 575px) { .ulisting_element_940_1602045452653{} }
		 
		.ulisting_element_880_1602045452653{;;}
		@media (max-width: 1199px) { .ulisting_element_880_1602045452653{} }
		@media (max-width: 991px) { .ulisting_element_880_1602045452653{} }
		@media (max-width: 767px) { .ulisting_element_880_1602045452653{} }
		@media (max-width: 575px) { .ulisting_element_880_1602045452653{} }
		 
		.ulisting_element_880_1560851583074{;;}
		@media (max-width: 1199px) { .ulisting_element_880_1560851583074{} }
		@media (max-width: 991px) { .ulisting_element_880_1560851583074{} }
		@media (max-width: 767px) { .ulisting_element_880_1560851583074{} }
		@media (max-width: 575px) { .ulisting_element_880_1560851583074{} }
		 
		.ulisting_element_10_1602045462708{;display: flex; justify-content: flex-end;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_10_1602045462708{display: block;;} }
		@media (max-width: 991px) { .ulisting_element_10_1602045462708{display: block;;} }
		@media (max-width: 767px) { .ulisting_element_10_1602045462708{display: block;;} }
		@media (max-width: 575px) { .ulisting_element_10_1602045462708{display: block;;} }
		 
		.ulisting_element_180_1602045470933{;margin-top:-8px;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_180_1602045470933{} }
		@media (max-width: 991px) { .ulisting_element_180_1602045470933{} }
		@media (max-width: 767px) { .ulisting_element_180_1602045470933{} }
		@media (max-width: 575px) { .ulisting_element_180_1602045470933{} }
		 
		.ulisting_element_850_1560851666163{;margin-top:-25px;margin-bottom:-25px;}
		@media (max-width: 1199px) { .ulisting_element_850_1560851666163{} }
		@media (max-width: 991px) { .ulisting_element_850_1560851666163{} }
		@media (max-width: 767px) { .ulisting_element_850_1560851666163{} }
		@media (max-width: 575px) { .ulisting_element_850_1560851666163{} }
		 
		.ulisting_element_780_1560851600166{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1560851600166{} }
		@media (max-width: 991px) { .ulisting_element_780_1560851600166{} }
		@media (max-width: 767px) { .ulisting_element_780_1560851600166{} }
		@media (max-width: 575px) { .ulisting_element_780_1560851600166{} }
		 
		.ulisting_element_60_1560851614910{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1560851614910{} }
		@media (max-width: 991px) { .ulisting_element_60_1560851614910{} }
		@media (max-width: 767px) { .ulisting_element_60_1560851614910{} }
		@media (max-width: 575px) { .ulisting_element_60_1560851614910{} }
		 
		.ulisting_element_140_1560851617862{;;}
		@media (max-width: 1199px) { .ulisting_element_140_1560851617862{} }
		@media (max-width: 991px) { .ulisting_element_140_1560851617862{} }
		@media (max-width: 767px) { .ulisting_element_140_1560851617862{} }
		@media (max-width: 575px) { .ulisting_element_140_1560851617862{} }
		