 
		.ulisting_element_760_1551789877857{;;}
		@media (max-width: 1199px) { .ulisting_element_760_1551789877857{} }
		@media (max-width: 991px) { .ulisting_element_760_1551789877857{} }
		@media (max-width: 767px) { .ulisting_element_760_1551789877857{} }
		@media (max-width: 575px) { .ulisting_element_760_1551789877857{} }
		 
		.ulisting_element_490_1551789877857{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1551789877857{} }
		@media (max-width: 991px) { .ulisting_element_490_1551789877857{} }
		@media (max-width: 767px) { .ulisting_element_490_1551789877857{} }
		@media (max-width: 575px) { .ulisting_element_490_1551789877857{} }
		 
		.ulisting_element_910_1551789877857{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_910_1551789877857{} }
		@media (max-width: 991px) { .ulisting_element_910_1551789877857{} }
		@media (max-width: 767px) { .ulisting_element_910_1551789877857{} }
		@media (max-width: 575px) { .ulisting_element_910_1551789877857{} }
		 
		.ulisting_element_790_1560841056492{;height:180px;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;margin-bottom:24px;}
		@media (max-width: 1199px) { .ulisting_element_790_1560841056492{} }
		@media (max-width: 991px) { .ulisting_element_790_1560841056492{} }
		@media (max-width: 767px) { .ulisting_element_790_1560841056492{} }
		@media (max-width: 575px) { .ulisting_element_790_1560841056492{} }
		 
		.ulisting_element_30_1560841117853{;;}
		@media (max-width: 1199px) { .ulisting_element_30_1560841117853{} }
		@media (max-width: 991px) { .ulisting_element_30_1560841117853{} }
		@media (max-width: 767px) { .ulisting_element_30_1560841117853{} }
		@media (max-width: 575px) { .ulisting_element_30_1560841117853{} }
		 
		.ulisting_element_730_1560841117853{;display: flex; justify-content: flex-start;;flex-direction: row;;}
		@media (max-width: 1199px) { .ulisting_element_730_1560841117853{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_730_1560841117853{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_730_1560841117853{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_730_1560841117853{display: flex; justify-content: flex-start;;} }
		 
		.ulisting_element_940_1563517978374{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_940_1563517978374{} }
		@media (max-width: 991px) { .ulisting_element_940_1563517978374{} }
		@media (max-width: 767px) { .ulisting_element_940_1563517978374{} }
		@media (max-width: 575px) { .ulisting_element_940_1563517978374{} }
		 
		.ulisting_element_950_1560841124874{;;}
		@media (max-width: 1199px) { .ulisting_element_950_1560841124874{} }
		@media (max-width: 991px) { .ulisting_element_950_1560841124874{} }
		@media (max-width: 767px) { .ulisting_element_950_1560841124874{} }
		@media (max-width: 575px) { .ulisting_element_950_1560841124874{} }
		 
		.ulisting_element_900_1560841121948{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_900_1560841121948{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_900_1560841121948{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_900_1560841121948{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_900_1560841121948{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_820_1560841132404{;;}
		@media (max-width: 1199px) { .ulisting_element_820_1560841132404{} }
		@media (max-width: 991px) { .ulisting_element_820_1560841132404{} }
		@media (max-width: 767px) { .ulisting_element_820_1560841132404{} }
		@media (max-width: 575px) { .ulisting_element_820_1560841132404{} }
		 
		.ulisting_element_520_1560841194297{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1560841194297{} }
		@media (max-width: 991px) { .ulisting_element_520_1560841194297{} }
		@media (max-width: 767px) { .ulisting_element_520_1560841194297{} }
		@media (max-width: 575px) { .ulisting_element_520_1560841194297{} }
		 
		.ulisting_element_600_1560841194297{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_600_1560841194297{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_600_1560841194297{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_600_1560841194297{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_600_1560841194297{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_740_1562392558454{;;}
		@media (max-width: 1199px) { .ulisting_element_740_1562392558454{} }
		@media (max-width: 991px) { .ulisting_element_740_1562392558454{} }
		@media (max-width: 767px) { .ulisting_element_740_1562392558454{} }
		@media (max-width: 575px) { .ulisting_element_740_1562392558454{} }
		 
		.ulisting_element_340_1562392557149{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1562392557149{} }
		@media (max-width: 991px) { .ulisting_element_340_1562392557149{} }
		@media (max-width: 767px) { .ulisting_element_340_1562392557149{} }
		@media (max-width: 575px) { .ulisting_element_340_1562392557149{} }
		 
		.ulisting_element_220_1560842211826{;;}
		@media (max-width: 1199px) { .ulisting_element_220_1560842211826{} }
		@media (max-width: 991px) { .ulisting_element_220_1560842211826{} }
		@media (max-width: 767px) { .ulisting_element_220_1560842211826{} }
		@media (max-width: 575px) { .ulisting_element_220_1560842211826{} }
		 
		.ulisting_element_80_1560842211826{;padding-right:40px;padding-bottom:20px;padding-left:40px;}
		@media (max-width: 1199px) { .ulisting_element_80_1560842211826{} }
		@media (max-width: 991px) { .ulisting_element_80_1560842211826{} }
		@media (max-width: 767px) { .ulisting_element_80_1560842211826{} }
		@media (max-width: 575px) { .ulisting_element_80_1560842211826{} }
		 
		.ulisting_element_390_1560842251514{color:#303441;;}
		@media (max-width: 1199px) { .ulisting_element_390_1560842251514{} }
		@media (max-width: 991px) { .ulisting_element_390_1560842251514{} }
		@media (max-width: 767px) { .ulisting_element_390_1560842251514{} }
		@media (max-width: 575px) { .ulisting_element_390_1560842251514{} }
		 
		.ulisting_element_570_1560842255071{;margin-top:10px;}
		@media (max-width: 1199px) { .ulisting_element_570_1560842255071{} }
		@media (max-width: 991px) { .ulisting_element_570_1560842255071{} }
		@media (max-width: 767px) { .ulisting_element_570_1560842255071{} }
		@media (max-width: 575px) { .ulisting_element_570_1560842255071{} }
		 
		.ulisting_element_840_1560842267772{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1560842267772{} }
		@media (max-width: 991px) { .ulisting_element_840_1560842267772{} }
		@media (max-width: 767px) { .ulisting_element_840_1560842267772{} }
		@media (max-width: 575px) { .ulisting_element_840_1560842267772{} }
		 
		.ulisting_element_780_1560842269941{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1560842269941{} }
		@media (max-width: 991px) { .ulisting_element_780_1560842269941{} }
		@media (max-width: 767px) { .ulisting_element_780_1560842269941{} }
		@media (max-width: 575px) { .ulisting_element_780_1560842269941{} }
		 
		.ulisting_element_830_1560842277053{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1560842277053{} }
		@media (max-width: 991px) { .ulisting_element_830_1560842277053{} }
		@media (max-width: 767px) { .ulisting_element_830_1560842277053{} }
		@media (max-width: 575px) { .ulisting_element_830_1560842277053{} }
		 
		.ulisting_element_770_1560842273010{;;}
		@media (max-width: 1199px) { .ulisting_element_770_1560842273010{} }
		@media (max-width: 991px) { .ulisting_element_770_1560842273010{} }
		@media (max-width: 767px) { .ulisting_element_770_1560842273010{} }
		@media (max-width: 575px) { .ulisting_element_770_1560842273010{} }
		 
		.ulisting_element_500_1560842311102{;margin-top:-25px;margin-bottom:-20px;}
		@media (max-width: 1199px) { .ulisting_element_500_1560842311102{} }
		@media (max-width: 991px) { .ulisting_element_500_1560842311102{} }
		@media (max-width: 767px) { .ulisting_element_500_1560842311102{} }
		@media (max-width: 575px) { .ulisting_element_500_1560842311102{} }
		 
		.ulisting_element_550_1602045217510{;;}
		@media (max-width: 1199px) { .ulisting_element_550_1602045217510{} }
		@media (max-width: 991px) { .ulisting_element_550_1602045217510{} }
		@media (max-width: 767px) { .ulisting_element_550_1602045217510{} }
		@media (max-width: 575px) { .ulisting_element_550_1602045217510{} }
		 
		.ulisting_element_700_1602045217510{;;}
		@media (max-width: 1199px) { .ulisting_element_700_1602045217510{} }
		@media (max-width: 991px) { .ulisting_element_700_1602045217510{} }
		@media (max-width: 767px) { .ulisting_element_700_1602045217510{} }
		@media (max-width: 575px) { .ulisting_element_700_1602045217510{} }
		 
		.ulisting_element_120_1560842333336{;;}
		@media (max-width: 1199px) { .ulisting_element_120_1560842333336{} }
		@media (max-width: 991px) { .ulisting_element_120_1560842333336{} }
		@media (max-width: 767px) { .ulisting_element_120_1560842333336{} }
		@media (max-width: 575px) { .ulisting_element_120_1560842333336{} }
		 
		.ulisting_element_150_1602045230485{;display: flex; justify-content: flex-end;;align-items: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_150_1602045230485{display: block;;} }
		@media (max-width: 991px) { .ulisting_element_150_1602045230485{display: block;;} }
		@media (max-width: 767px) { .ulisting_element_150_1602045230485{display: block;;} }
		@media (max-width: 575px) { .ulisting_element_150_1602045230485{display: block;;} }
		 
		.ulisting_element_450_1602045207598{;margin-top:-8px;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_450_1602045207598{} }
		@media (max-width: 991px) { .ulisting_element_450_1602045207598{} }
		@media (max-width: 767px) { .ulisting_element_450_1602045207598{} }
		@media (max-width: 575px) { .ulisting_element_450_1602045207598{} }
		