 
		.ulisting_element_710_1551680682216{background-color:#FFFFFF;;}
		@media (max-width: 1199px) { .ulisting_element_710_1551680682216{} }
		@media (max-width: 991px) { .ulisting_element_710_1551680682216{} }
		@media (max-width: 767px) { .ulisting_element_710_1551680682216{} }
		@media (max-width: 575px) { .ulisting_element_710_1551680682216{} }
		 
		.ulisting_element_870_1551680682216{;;}
		@media (max-width: 1199px) { .ulisting_element_870_1551680682216{} }
		@media (max-width: 991px) { .ulisting_element_870_1551680682216{} }
		@media (max-width: 767px) { .ulisting_element_870_1551680682216{} }
		@media (max-width: 575px) { .ulisting_element_870_1551680682216{} }
		 
		.ulisting_element_780_1551680682217{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_780_1551680682217{} }
		@media (max-width: 991px) { .ulisting_element_780_1551680682217{} }
		@media (max-width: 767px) { .ulisting_element_780_1551680682217{} }
		@media (max-width: 575px) { .ulisting_element_780_1551680682217{} }
		 
		.ulisting_element_670_1551680683697{;height:230px;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_670_1551680683697{} }
		@media (max-width: 991px) { .ulisting_element_670_1551680683697{} }
		@media (max-width: 767px) { .ulisting_element_670_1551680683697{} }
		@media (max-width: 575px) { .ulisting_element_670_1551680683697{} }
		 
		.ulisting_element_570_1551689675674{;;}
		@media (max-width: 1199px) { .ulisting_element_570_1551689675674{} }
		@media (max-width: 991px) { .ulisting_element_570_1551689675674{} }
		@media (max-width: 767px) { .ulisting_element_570_1551689675674{} }
		@media (max-width: 575px) { .ulisting_element_570_1551689675674{} }
		 
		.ulisting_element_430_1551689675674{;display: flex; justify-content: flex-start;;flex-direction: row;;}
		@media (max-width: 1199px) { .ulisting_element_430_1551689675674{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_430_1551689675674{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_430_1551689675674{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_430_1551689675674{display: flex; justify-content: flex-start;;} }
		 
		.ulisting_element_670_1563517591160{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_670_1563517591160{} }
		@media (max-width: 991px) { .ulisting_element_670_1563517591160{} }
		@media (max-width: 767px) { .ulisting_element_670_1563517591160{} }
		@media (max-width: 575px) { .ulisting_element_670_1563517591160{} }
		 
		.ulisting_element_780_1551680692145{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1551680692145{} }
		@media (max-width: 991px) { .ulisting_element_780_1551680692145{} }
		@media (max-width: 767px) { .ulisting_element_780_1551680692145{} }
		@media (max-width: 575px) { .ulisting_element_780_1551680692145{} }
		 
		.ulisting_element_750_1551689679967{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_750_1551689679967{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_750_1551689679967{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_750_1551689679967{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_750_1551689679967{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_260_1551689819691{;;}
		@media (max-width: 1199px) { .ulisting_element_260_1551689819691{} }
		@media (max-width: 991px) { .ulisting_element_260_1551689819691{} }
		@media (max-width: 767px) { .ulisting_element_260_1551689819691{} }
		@media (max-width: 575px) { .ulisting_element_260_1551689819691{} }
		 
		.ulisting_element_570_1556788528089{;;}
		@media (max-width: 1199px) { .ulisting_element_570_1556788528089{} }
		@media (max-width: 991px) { .ulisting_element_570_1556788528089{} }
		@media (max-width: 767px) { .ulisting_element_570_1556788528089{} }
		@media (max-width: 575px) { .ulisting_element_570_1556788528089{} }
		 
		.ulisting_element_280_1556788528089{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_280_1556788528089{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_280_1556788528089{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_280_1556788528089{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_280_1556788528089{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_600_1562392469800{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1562392469800{} }
		@media (max-width: 991px) { .ulisting_element_600_1562392469800{} }
		@media (max-width: 767px) { .ulisting_element_600_1562392469800{} }
		@media (max-width: 575px) { .ulisting_element_600_1562392469800{} }
		 
		.ulisting_element_370_1562392468085{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1562392468085{} }
		@media (max-width: 991px) { .ulisting_element_370_1562392468085{} }
		@media (max-width: 767px) { .ulisting_element_370_1562392468085{} }
		@media (max-width: 575px) { .ulisting_element_370_1562392468085{} }
		 
		.ulisting_element_260_1551690033320{;;}
		@media (max-width: 1199px) { .ulisting_element_260_1551690033320{} }
		@media (max-width: 991px) { .ulisting_element_260_1551690033320{} }
		@media (max-width: 767px) { .ulisting_element_260_1551690033320{} }
		@media (max-width: 575px) { .ulisting_element_260_1551690033320{} }
		 
		.ulisting_element_950_1551690033320{;padding-right:40px;padding-bottom:20px;padding-left:40px;}
		@media (max-width: 1199px) { .ulisting_element_950_1551690033320{} }
		@media (max-width: 991px) { .ulisting_element_950_1551690033320{} }
		@media (max-width: 767px) { .ulisting_element_950_1551690033320{} }
		@media (max-width: 575px) { .ulisting_element_950_1551690033320{} }
		 
		.ulisting_element_110_1551690001572{color:#303441;padding-top:24px;}
		@media (max-width: 1199px) { .ulisting_element_110_1551690001572{} }
		@media (max-width: 991px) { .ulisting_element_110_1551690001572{} }
		@media (max-width: 767px) { .ulisting_element_110_1551690001572{} }
		@media (max-width: 575px) { .ulisting_element_110_1551690001572{} }
		 
		.ulisting_element_610_1551690048227{;margin-right:-10px;margin-left:-10px;}
		@media (max-width: 1199px) { .ulisting_element_610_1551690048227{} }
		@media (max-width: 991px) { .ulisting_element_610_1551690048227{} }
		@media (max-width: 767px) { .ulisting_element_610_1551690048227{} }
		@media (max-width: 575px) { .ulisting_element_610_1551690048227{} }
		 
		.ulisting_element_90_1558950552496{;;}
		@media (max-width: 1199px) { .ulisting_element_90_1558950552496{} }
		@media (max-width: 991px) { .ulisting_element_90_1558950552496{} }
		@media (max-width: 767px) { .ulisting_element_90_1558950552496{} }
		@media (max-width: 575px) { .ulisting_element_90_1558950552496{} }
		 
		.ulisting_element_300_1558952321469{;;}
		@media (max-width: 1199px) { .ulisting_element_300_1558952321469{} }
		@media (max-width: 991px) { .ulisting_element_300_1558952321469{} }
		@media (max-width: 767px) { .ulisting_element_300_1558952321469{} }
		@media (max-width: 575px) { .ulisting_element_300_1558952321469{} }
		 
		.ulisting_element_900_1560935174777{;;}
		@media (max-width: 1199px) { .ulisting_element_900_1560935174777{} }
		@media (max-width: 991px) { .ulisting_element_900_1560935174777{} }
		@media (max-width: 767px) { .ulisting_element_900_1560935174777{} }
		@media (max-width: 575px) { .ulisting_element_900_1560935174777{} }
		 
		.ulisting_element_730_1558952220721{;;}
		@media (max-width: 1199px) { .ulisting_element_730_1558952220721{} }
		@media (max-width: 991px) { .ulisting_element_730_1558952220721{} }
		@media (max-width: 767px) { .ulisting_element_730_1558952220721{} }
		@media (max-width: 575px) { .ulisting_element_730_1558952220721{} }
		 
		.ulisting_element_680_1551691101090{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1551691101090{} }
		@media (max-width: 991px) { .ulisting_element_680_1551691101090{} }
		@media (max-width: 767px) { .ulisting_element_680_1551691101090{} }
		@media (max-width: 575px) { .ulisting_element_680_1551691101090{} }
		 
		.ulisting_element_270_1601916689402{;;}
		@media (max-width: 1199px) { .ulisting_element_270_1601916689402{} }
		@media (max-width: 991px) { .ulisting_element_270_1601916689402{} }
		@media (max-width: 767px) { .ulisting_element_270_1601916689402{} }
		@media (max-width: 575px) { .ulisting_element_270_1601916689402{} }
		 
		.ulisting_element_730_1601916689402{;;}
		@media (max-width: 1199px) { .ulisting_element_730_1601916689402{} }
		@media (max-width: 991px) { .ulisting_element_730_1601916689402{} }
		@media (max-width: 767px) { .ulisting_element_730_1601916689402{} }
		@media (max-width: 575px) { .ulisting_element_730_1601916689402{} }
		 
		.ulisting_element_890_1551690644809{;;}
		@media (max-width: 1199px) { .ulisting_element_890_1551690644809{} }
		@media (max-width: 991px) { .ulisting_element_890_1551690644809{} }
		@media (max-width: 767px) { .ulisting_element_890_1551690644809{} }
		@media (max-width: 575px) { .ulisting_element_890_1551690644809{} }
		 
		.ulisting_element_540_1601916704497{;display: flex; justify-content: flex-end;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_540_1601916704497{display: block;;} }
		@media (max-width: 991px) { .ulisting_element_540_1601916704497{display: block;;} }
		@media (max-width: 767px) { .ulisting_element_540_1601916704497{display: block;;} }
		@media (max-width: 575px) { .ulisting_element_540_1601916704497{display: block;;} }
		 
		.ulisting_element_220_1601916711718{;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_220_1601916711718{} }
		@media (max-width: 991px) { .ulisting_element_220_1601916711718{} }
		@media (max-width: 767px) { .ulisting_element_220_1601916711718{} }
		@media (max-width: 575px) { .ulisting_element_220_1601916711718{} }
		