 
		.ulisting_element_600_1552123408830{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1552123408830{} }
		@media (max-width: 991px) { .ulisting_element_600_1552123408830{} }
		@media (max-width: 767px) { .ulisting_element_600_1552123408830{} }
		@media (max-width: 575px) { .ulisting_element_600_1552123408830{} }
		 
		.ulisting_element_830_1552123408830{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1552123408830{} }
		@media (max-width: 991px) { .ulisting_element_830_1552123408830{} }
		@media (max-width: 767px) { .ulisting_element_830_1552123408830{} }
		@media (max-width: 575px) { .ulisting_element_830_1552123408830{} }
		 
		.ulisting_element_260_1552123408830{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_260_1552123408830{} }
		@media (max-width: 991px) { .ulisting_element_260_1552123408830{} }
		@media (max-width: 767px) { .ulisting_element_260_1552123408830{} }
		@media (max-width: 575px) { .ulisting_element_260_1552123408830{} }
		 
		.ulisting_element_750_1552123423365{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1552123423365{} }
		@media (max-width: 991px) { .ulisting_element_750_1552123423365{} }
		@media (max-width: 767px) { .ulisting_element_750_1552123423365{} }
		@media (max-width: 575px) { .ulisting_element_750_1552123423365{} }
		 
		.ulisting_element_610_1559800827737{;;}
		@media (max-width: 1199px) { .ulisting_element_610_1559800827737{} }
		@media (max-width: 991px) { .ulisting_element_610_1559800827737{} }
		@media (max-width: 767px) { .ulisting_element_610_1559800827737{} }
		@media (max-width: 575px) { .ulisting_element_610_1559800827737{} }
		 
		.ulisting_element_60_1559800827737{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1559800827737{} }
		@media (max-width: 991px) { .ulisting_element_60_1559800827737{} }
		@media (max-width: 767px) { .ulisting_element_60_1559800827737{} }
		@media (max-width: 575px) { .ulisting_element_60_1559800827737{} }
		 
		.ulisting_element_710_1559800827737{;padding-top:35px;padding-bottom:35px;}
		@media (max-width: 1199px) { .ulisting_element_710_1559800827737{} }
		@media (max-width: 991px) { .ulisting_element_710_1559800827737{} }
		@media (max-width: 767px) { .ulisting_element_710_1559800827737{} }
		@media (max-width: 575px) { .ulisting_element_710_1559800827737{} }
		 
		.ulisting_element_750_1552123549181{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1552123549181{} }
		@media (max-width: 991px) { .ulisting_element_750_1552123549181{} }
		@media (max-width: 767px) { .ulisting_element_750_1552123549181{} }
		@media (max-width: 575px) { .ulisting_element_750_1552123549181{} }
		 
		.ulisting_element_800_1552123549181{;display: block;;;;}
		@media (max-width: 1199px) { .ulisting_element_800_1552123549181{display: flex; justify-content: center;;margin-bottom:15px;flex-direction: column;;align-items: center;} }
		@media (max-width: 991px) { .ulisting_element_800_1552123549181{display: block;;margin-bottom:0px;;} }
		@media (max-width: 767px) { .ulisting_element_800_1552123549181{display: flex; justify-content: center;;margin-bottom:25px;;} }
		@media (max-width: 575px) { .ulisting_element_800_1552123549181{display: flex; justify-content: center;;margin-bottom:8px;;} }
		 
		.ulisting_element_370_1552123557780{;font-size: 24px;margin-top:7px;}
		@media (max-width: 1199px) { .ulisting_element_370_1552123557780{} }
		@media (max-width: 991px) { .ulisting_element_370_1552123557780{} }
		@media (max-width: 767px) { .ulisting_element_370_1552123557780{} }
		@media (max-width: 575px) { .ulisting_element_370_1552123557780{} }
		 
		.ulisting_element_920_1587011292990{;margin-top:-7px;}
		@media (max-width: 1199px) { .ulisting_element_920_1587011292990{margin-top:0px} }
		@media (max-width: 991px) { .ulisting_element_920_1587011292990{} }
		@media (max-width: 767px) { .ulisting_element_920_1587011292990{} }
		@media (max-width: 575px) { .ulisting_element_920_1587011292990{} }
		 
		.ulisting_element_820_1552123552720{;display: flex; justify-content: flex-end;;padding-right:0px;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_820_1552123552720{display: flex; justify-content: center;;;} }
		@media (max-width: 991px) { .ulisting_element_820_1552123552720{display: flex; justify-content: flex-end;;;} }
		@media (max-width: 767px) { .ulisting_element_820_1552123552720{display: flex; justify-content: center;;;} }
		@media (max-width: 575px) { .ulisting_element_820_1552123552720{display: flex; justify-content: center;;padding-right:15px;margin-bottom:15px;flex-direction: column;;align-items: center;} }
		 
		.ulisting_element_130_1563951115811{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_130_1563951115811{margin-right:20px} }
		@media (max-width: 991px) { .ulisting_element_130_1563951115811{} }
		@media (max-width: 767px) { .ulisting_element_130_1563951115811{} }
		@media (max-width: 575px) { .ulisting_element_130_1563951115811{margin-right:0px;margin-bottom:5px} }
		 
		.ulisting_element_490_1562065289086{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_490_1562065289086{margin-right:20px} }
		@media (max-width: 991px) { .ulisting_element_490_1562065289086{} }
		@media (max-width: 767px) { .ulisting_element_490_1562065289086{} }
		@media (max-width: 575px) { .ulisting_element_490_1562065289086{margin-right:0px;margin-bottom:15px} }
		 
		.ulisting_element_930_1552123583013{;margin-right:5px;}
		@media (max-width: 1199px) { .ulisting_element_930_1552123583013{} }
		@media (max-width: 991px) { .ulisting_element_930_1552123583013{} }
		@media (max-width: 767px) { .ulisting_element_930_1552123583013{} }
		@media (max-width: 575px) { .ulisting_element_930_1552123583013{margin-right:0px;margin-bottom:20px} }
		 
		.ulisting_element_340_1552123578931{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1552123578931{} }
		@media (max-width: 991px) { .ulisting_element_340_1552123578931{} }
		@media (max-width: 767px) { .ulisting_element_340_1552123578931{} }
		@media (max-width: 575px) { .ulisting_element_340_1552123578931{} }
		 
		.ulisting_element_610_1552123670292{;margin-top:-20px;}
		@media (max-width: 1199px) { .ulisting_element_610_1552123670292{} }
		@media (max-width: 991px) { .ulisting_element_610_1552123670292{} }
		@media (max-width: 767px) { .ulisting_element_610_1552123670292{} }
		@media (max-width: 575px) { .ulisting_element_610_1552123670292{} }
		 
		.ulisting_element_930_1552123693292{;;}
		@media (max-width: 1199px) { .ulisting_element_930_1552123693292{} }
		@media (max-width: 991px) { .ulisting_element_930_1552123693292{} }
		@media (max-width: 767px) { .ulisting_element_930_1552123693292{} }
		@media (max-width: 575px) { .ulisting_element_930_1552123693292{} }
		 
		.ulisting_element_830_1552123718641{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1552123718641{} }
		@media (max-width: 991px) { .ulisting_element_830_1552123718641{} }
		@media (max-width: 767px) { .ulisting_element_830_1552123718641{} }
		@media (max-width: 575px) { .ulisting_element_830_1552123718641{} }
		 
		.ulisting_element_20_1559800843306{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_20_1559800843306{} }
		@media (max-width: 991px) { .ulisting_element_20_1559800843306{} }
		@media (max-width: 767px) { .ulisting_element_20_1559800843306{} }
		@media (max-width: 575px) { .ulisting_element_20_1559800843306{} }
		 
		.ulisting_element_160_1552123514780{;height:800px;}
		@media (max-width: 1199px) { .ulisting_element_160_1552123514780{height:400px} }
		@media (max-width: 991px) { .ulisting_element_160_1552123514780{height:400px} }
		@media (max-width: 767px) { .ulisting_element_160_1552123514780{height:400px} }
		@media (max-width: 575px) { .ulisting_element_160_1552123514780{height:400px} }
		