 
		.ulisting_element_420_1578393136050{;margin-right:-15px;margin-left:-15px;}
		@media (max-width: 1199px) { .ulisting_element_420_1578393136050{} }
		@media (max-width: 991px) { .ulisting_element_420_1578393136050{} }
		@media (max-width: 767px) { .ulisting_element_420_1578393136050{} }
		@media (max-width: 575px) { .ulisting_element_420_1578393136050{} }
		 
		.ulisting_element_420_1578393136050{;;}
		@media (max-width: 1199px) { .ulisting_element_420_1578393136050{} }
		@media (max-width: 991px) { .ulisting_element_420_1578393136050{} }
		@media (max-width: 767px) { .ulisting_element_420_1578393136050{} }
		@media (max-width: 575px) { .ulisting_element_420_1578393136050{} }
		 
		.ulisting_element_770_1578393136050{;;}
		@media (max-width: 1199px) { .ulisting_element_770_1578393136050{margin-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_770_1578393136050{margin-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_770_1578393136050{margin-bottom:0px} }
		@media (max-width: 575px) { .ulisting_element_770_1578393136050{margin-bottom:30px} }
		 
		.ulisting_element_790_1578393328406{;height:168px;}
		@media (max-width: 1199px) { .ulisting_element_790_1578393328406{height:240px} }
		@media (max-width: 991px) { .ulisting_element_790_1578393328406{height:220px} }
		@media (max-width: 767px) { .ulisting_element_790_1578393328406{height:240px} }
		@media (max-width: 575px) { .ulisting_element_790_1578393328406{height:180px} }
		 
		.ulisting_element_780_1578393428876{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1578393428876{} }
		@media (max-width: 991px) { .ulisting_element_780_1578393428876{} }
		@media (max-width: 767px) { .ulisting_element_780_1578393428876{} }
		@media (max-width: 575px) { .ulisting_element_780_1578393428876{} }
		 
		.ulisting_element_870_1578393428876{;padding-top:10px;padding-right:25px;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_870_1578393428876{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_870_1578393428876{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_870_1578393428876{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_870_1578393428876{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_20_1578393503891{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1578393503891{} }
		@media (max-width: 991px) { .ulisting_element_20_1578393503891{} }
		@media (max-width: 767px) { .ulisting_element_20_1578393503891{} }
		@media (max-width: 575px) { .ulisting_element_20_1578393503891{} }
		 
		.ulisting_element_70_1578393535305{;;}
		@media (max-width: 1199px) { .ulisting_element_70_1578393535305{} }
		@media (max-width: 991px) { .ulisting_element_70_1578393535305{} }
		@media (max-width: 767px) { .ulisting_element_70_1578393535305{} }
		@media (max-width: 575px) { .ulisting_element_70_1578393535305{} }
		 
		.ulisting_element_240_1578393535305{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_240_1578393535305{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_240_1578393535305{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_240_1578393535305{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_240_1578393535305{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_70_1578393616382{;;}
		@media (max-width: 1199px) { .ulisting_element_70_1578393616382{} }
		@media (max-width: 991px) { .ulisting_element_70_1578393616382{} }
		@media (max-width: 767px) { .ulisting_element_70_1578393616382{} }
		@media (max-width: 575px) { .ulisting_element_70_1578393616382{} }
		 
		.ulisting_element_780_1578393618572{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1578393618572{} }
		@media (max-width: 991px) { .ulisting_element_780_1578393618572{} }
		@media (max-width: 767px) { .ulisting_element_780_1578393618572{} }
		@media (max-width: 575px) { .ulisting_element_780_1578393618572{} }
		 
		.ulisting_element_450_1578393181313{;;}
		@media (max-width: 1199px) { .ulisting_element_450_1578393181313{} }
		@media (max-width: 991px) { .ulisting_element_450_1578393181313{} }
		@media (max-width: 767px) { .ulisting_element_450_1578393181313{} }
		@media (max-width: 575px) { .ulisting_element_450_1578393181313{} }
		 
		.ulisting_element_340_1578393654057{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1578393654057{} }
		@media (max-width: 991px) { .ulisting_element_340_1578393654057{} }
		@media (max-width: 767px) { .ulisting_element_340_1578393654057{} }
		@media (max-width: 575px) { .ulisting_element_340_1578393654057{} }
		 
		.ulisting_element_590_1578393654057{;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_590_1578393654057{display: flex; justify-content: flex-start;} }
		@media (max-width: 991px) { .ulisting_element_590_1578393654057{display: flex; justify-content: flex-start;} }
		@media (max-width: 767px) { .ulisting_element_590_1578393654057{display: flex; justify-content: flex-start;} }
		@media (max-width: 575px) { .ulisting_element_590_1578393654057{display: flex; justify-content: flex-start;} }
		 
		.ulisting_element_960_1578393707173{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_960_1578393707173{} }
		@media (max-width: 991px) { .ulisting_element_960_1578393707173{} }
		@media (max-width: 767px) { .ulisting_element_960_1578393707173{} }
		@media (max-width: 575px) { .ulisting_element_960_1578393707173{} }
		 
		.ulisting_element_260_1578393732247{;margin-right:10px;margin-bottom:10px;}
		@media (max-width: 1199px) { .ulisting_element_260_1578393732247{} }
		@media (max-width: 991px) { .ulisting_element_260_1578393732247{} }
		@media (max-width: 767px) { .ulisting_element_260_1578393732247{} }
		@media (max-width: 575px) { .ulisting_element_260_1578393732247{} }
		 
		.ulisting_element_830_1578393751861{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1578393751861{} }
		@media (max-width: 991px) { .ulisting_element_830_1578393751861{} }
		@media (max-width: 767px) { .ulisting_element_830_1578393751861{} }
		@media (max-width: 575px) { .ulisting_element_830_1578393751861{} }
		 
		.ulisting_element_90_1578393751861{;margin-bottom:7px;display: flex; justify-content: space-between;;}
		@media (max-width: 1199px) { .ulisting_element_90_1578393751861{display: flex; justify-content: space-between;} }
		@media (max-width: 991px) { .ulisting_element_90_1578393751861{margin-bottom:20px;display: flex; justify-content: space-between;} }
		@media (max-width: 767px) { .ulisting_element_90_1578393751861{display: flex; justify-content: space-between;} }
		@media (max-width: 575px) { .ulisting_element_90_1578393751861{display: block;} }
		 
		.ulisting_element_980_1578394027687{color:#303441;margin-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_980_1578394027687{} }
		@media (max-width: 991px) { .ulisting_element_980_1578394027687{} }
		@media (max-width: 767px) { .ulisting_element_980_1578394027687{} }
		@media (max-width: 575px) { .ulisting_element_980_1578394027687{margin-bottom:20px} }
		 
		.ulisting_element_450_1578394059105{;margin-top:-44px;}
		@media (max-width: 1199px) { .ulisting_element_450_1578394059105{} }
		@media (max-width: 991px) { .ulisting_element_450_1578394059105{} }
		@media (max-width: 767px) { .ulisting_element_450_1578394059105{} }
		@media (max-width: 575px) { .ulisting_element_450_1578394059105{margin-top:0px} }
		 
		.ulisting_element_590_1578394108200{;margin-bottom:17px;margin-left:-10px;}
		@media (max-width: 1199px) { .ulisting_element_590_1578394108200{} }
		@media (max-width: 991px) { .ulisting_element_590_1578394108200{} }
		@media (max-width: 767px) { .ulisting_element_590_1578394108200{} }
		@media (max-width: 575px) { .ulisting_element_590_1578394108200{} }
		 
		.ulisting_element_10_1578394178157{;;}
		@media (max-width: 1199px) { .ulisting_element_10_1578394178157{} }
		@media (max-width: 991px) { .ulisting_element_10_1578394178157{} }
		@media (max-width: 767px) { .ulisting_element_10_1578394178157{} }
		@media (max-width: 575px) { .ulisting_element_10_1578394178157{} }
		 
		.ulisting_element_60_1578394183301{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1578394183301{} }
		@media (max-width: 991px) { .ulisting_element_60_1578394183301{} }
		@media (max-width: 767px) { .ulisting_element_60_1578394183301{} }
		@media (max-width: 575px) { .ulisting_element_60_1578394183301{} }
		 
		.ulisting_element_970_1578394217067{;;}
		@media (max-width: 1199px) { .ulisting_element_970_1578394217067{} }
		@media (max-width: 991px) { .ulisting_element_970_1578394217067{} }
		@media (max-width: 767px) { .ulisting_element_970_1578394217067{} }
		@media (max-width: 575px) { .ulisting_element_970_1578394217067{} }
		 
		.ulisting_element_310_1578394222846{;;}
		@media (max-width: 1199px) { .ulisting_element_310_1578394222846{} }
		@media (max-width: 991px) { .ulisting_element_310_1578394222846{} }
		@media (max-width: 767px) { .ulisting_element_310_1578394222846{} }
		@media (max-width: 575px) { .ulisting_element_310_1578394222846{} }
		 
		.ulisting_element_920_1578394359306{;;}
		@media (max-width: 1199px) { .ulisting_element_920_1578394359306{} }
		@media (max-width: 991px) { .ulisting_element_920_1578394359306{} }
		@media (max-width: 767px) { .ulisting_element_920_1578394359306{} }
		@media (max-width: 575px) { .ulisting_element_920_1578394359306{} }
		 
		.ulisting_element_360_1578394359306{;display: flex; justify-content: flex-start;;;}
		@media (max-width: 1199px) { .ulisting_element_360_1578394359306{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_360_1578394359306{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_360_1578394359306{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_360_1578394359306{display: flex; justify-content: center;;flex-direction: column;} }
		 
		.ulisting_element_450_1578394415882{;padding-top:4px;padding-right:55px;}
		@media (max-width: 1199px) { .ulisting_element_450_1578394415882{} }
		@media (max-width: 991px) { .ulisting_element_450_1578394415882{} }
		@media (max-width: 767px) { .ulisting_element_450_1578394415882{padding-right:20px} }
		@media (max-width: 575px) { .ulisting_element_450_1578394415882{} }
		 
		.ulisting_element_800_1578394418599{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1578394418599{} }
		@media (max-width: 991px) { .ulisting_element_800_1578394418599{} }
		@media (max-width: 767px) { .ulisting_element_800_1578394418599{} }
		@media (max-width: 575px) { .ulisting_element_800_1578394418599{} }
		