 
		.ulisting_element_340_1549446252581{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1549446252581{} }
		@media (max-width: 991px) { .ulisting_element_340_1549446252581{} }
		@media (max-width: 767px) { .ulisting_element_340_1549446252581{} }
		@media (max-width: 575px) { .ulisting_element_340_1549446252581{} }
		 
		.ulisting_element_840_1549446252582{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1549446252582{} }
		@media (max-width: 991px) { .ulisting_element_840_1549446252582{} }
		@media (max-width: 767px) { .ulisting_element_840_1549446252582{} }
		@media (max-width: 575px) { .ulisting_element_840_1549446252582{} }
		 
		.ulisting_element_60_1549446252582{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_60_1549446252582{} }
		@media (max-width: 991px) { .ulisting_element_60_1549446252582{} }
		@media (max-width: 767px) { .ulisting_element_60_1549446252582{} }
		@media (max-width: 575px) { .ulisting_element_60_1549446252582{} }
		 
		.ulisting_element_730_1549446253323{;height:256px;padding-top:10px;padding-right:15px;padding-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_730_1549446253323{} }
		@media (max-width: 991px) { .ulisting_element_730_1549446253323{} }
		@media (max-width: 767px) { .ulisting_element_730_1549446253323{} }
		@media (max-width: 575px) { .ulisting_element_730_1549446253323{} }
		 
		.ulisting_element_550_1549879724999{;;}
		@media (max-width: 1199px) { .ulisting_element_550_1549879724999{} }
		@media (max-width: 991px) { .ulisting_element_550_1549879724999{} }
		@media (max-width: 767px) { .ulisting_element_550_1549879724999{} }
		@media (max-width: 575px) { .ulisting_element_550_1549879724999{} }
		 
		.ulisting_element_240_1549879724999{;display: flex; justify-content: flex-start;;flex-direction: row;;}
		@media (max-width: 1199px) { .ulisting_element_240_1549879724999{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_240_1549879724999{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_240_1549879724999{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_240_1549879724999{display: flex; justify-content: flex-start;;} }
		 
		.ulisting_element_740_1563517490269{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_740_1563517490269{} }
		@media (max-width: 991px) { .ulisting_element_740_1563517490269{} }
		@media (max-width: 767px) { .ulisting_element_740_1563517490269{} }
		@media (max-width: 575px) { .ulisting_element_740_1563517490269{} }
		 
		.ulisting_element_530_1549879738849{;;}
		@media (max-width: 1199px) { .ulisting_element_530_1549879738849{} }
		@media (max-width: 991px) { .ulisting_element_530_1549879738849{} }
		@media (max-width: 767px) { .ulisting_element_530_1549879738849{} }
		@media (max-width: 575px) { .ulisting_element_530_1549879738849{} }
		 
		.ulisting_element_510_1549879731024{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_510_1549879731024{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_510_1549879731024{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_510_1549879731024{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_510_1549879731024{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_530_1549879745994{;;}
		@media (max-width: 1199px) { .ulisting_element_530_1549879745994{} }
		@media (max-width: 991px) { .ulisting_element_530_1549879745994{} }
		@media (max-width: 767px) { .ulisting_element_530_1549879745994{} }
		@media (max-width: 575px) { .ulisting_element_530_1549879745994{} }
		 
		.ulisting_element_60_1549880101751{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1549880101751{} }
		@media (max-width: 991px) { .ulisting_element_60_1549880101751{} }
		@media (max-width: 767px) { .ulisting_element_60_1549880101751{} }
		@media (max-width: 575px) { .ulisting_element_60_1549880101751{} }
		 
		.ulisting_element_930_1549880101751{;margin-bottom:-12px;padding-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_930_1549880101751{} }
		@media (max-width: 991px) { .ulisting_element_930_1549880101751{} }
		@media (max-width: 767px) { .ulisting_element_930_1549880101751{} }
		@media (max-width: 575px) { .ulisting_element_930_1549880101751{} }
		 
		.ulisting_element_440_1549880110209{color:#FFFFFF;margin-bottom:15px;}
		@media (max-width: 1199px) { .ulisting_element_440_1549880110209{} }
		@media (max-width: 991px) { .ulisting_element_440_1549880110209{} }
		@media (max-width: 767px) { .ulisting_element_440_1549880110209{} }
		@media (max-width: 575px) { .ulisting_element_440_1549880110209{} }
		 
		.ulisting_element_580_1602044526995{;;}
		@media (max-width: 1199px) { .ulisting_element_580_1602044526995{} }
		@media (max-width: 991px) { .ulisting_element_580_1602044526995{} }
		@media (max-width: 767px) { .ulisting_element_580_1602044526995{} }
		@media (max-width: 575px) { .ulisting_element_580_1602044526995{} }
		 
		.ulisting_element_840_1602044526995{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1602044526995{} }
		@media (max-width: 991px) { .ulisting_element_840_1602044526995{} }
		@media (max-width: 767px) { .ulisting_element_840_1602044526995{} }
		@media (max-width: 575px) { .ulisting_element_840_1602044526995{} }
		 
		.ulisting_element_230_1549880197614{;padding-top:0px;padding-right:20px;}
		@media (max-width: 1199px) { .ulisting_element_230_1549880197614{} }
		@media (max-width: 991px) { .ulisting_element_230_1549880197614{} }
		@media (max-width: 767px) { .ulisting_element_230_1549880197614{} }
		@media (max-width: 575px) { .ulisting_element_230_1549880197614{} }
		 
		.ulisting_element_310_1602044538233{;display: flex; justify-content: flex-end;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_310_1602044538233{display: block;;} }
		@media (max-width: 991px) { .ulisting_element_310_1602044538233{display: block;;} }
		@media (max-width: 767px) { .ulisting_element_310_1602044538233{display: block;;} }
		@media (max-width: 575px) { .ulisting_element_310_1602044538233{display: block;;} }
		 
		.ulisting_element_680_1602044472845{;margin-top:-8px;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_680_1602044472845{} }
		@media (max-width: 991px) { .ulisting_element_680_1602044472845{} }
		@media (max-width: 767px) { .ulisting_element_680_1602044472845{} }
		@media (max-width: 575px) { .ulisting_element_680_1602044472845{} }
		 
		.ulisting_element_310_1549880154565{;;}
		@media (max-width: 1199px) { .ulisting_element_310_1549880154565{} }
		@media (max-width: 991px) { .ulisting_element_310_1549880154565{} }
		@media (max-width: 767px) { .ulisting_element_310_1549880154565{} }
		@media (max-width: 575px) { .ulisting_element_310_1549880154565{} }
		 
		.ulisting_element_850_1549880154565{;display: block;;padding-bottom:15px;}
		@media (max-width: 1199px) { .ulisting_element_850_1549880154565{display: block;} }
		@media (max-width: 991px) { .ulisting_element_850_1549880154565{display: block;} }
		@media (max-width: 767px) { .ulisting_element_850_1549880154565{display: block;} }
		@media (max-width: 575px) { .ulisting_element_850_1549880154565{display: block;} }
		 
		.ulisting_element_280_1549880200936{;;}
		@media (max-width: 1199px) { .ulisting_element_280_1549880200936{} }
		@media (max-width: 991px) { .ulisting_element_280_1549880200936{} }
		@media (max-width: 767px) { .ulisting_element_280_1549880200936{} }
		@media (max-width: 575px) { .ulisting_element_280_1549880200936{} }
		 
		.ulisting_element_940_1549880263135{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1549880263135{} }
		@media (max-width: 991px) { .ulisting_element_940_1549880263135{} }
		@media (max-width: 767px) { .ulisting_element_940_1549880263135{} }
		@media (max-width: 575px) { .ulisting_element_940_1549880263135{} }
		 
		.ulisting_element_260_1549880300355{;;}
		@media (max-width: 1199px) { .ulisting_element_260_1549880300355{} }
		@media (max-width: 991px) { .ulisting_element_260_1549880300355{} }
		@media (max-width: 767px) { .ulisting_element_260_1549880300355{} }
		@media (max-width: 575px) { .ulisting_element_260_1549880300355{} }
		 
		.ulisting_element_150_1549880308018{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1549880308018{} }
		@media (max-width: 991px) { .ulisting_element_150_1549880308018{} }
		@media (max-width: 767px) { .ulisting_element_150_1549880308018{} }
		@media (max-width: 575px) { .ulisting_element_150_1549880308018{} }
		