 
		.ulisting_element_270_1554202814904{;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-bottom:-70px;}
		@media (max-width: 1199px) { .ulisting_element_270_1554202814904{} }
		@media (max-width: 991px) { .ulisting_element_270_1554202814904{} }
		@media (max-width: 767px) { .ulisting_element_270_1554202814904{} }
		@media (max-width: 575px) { .ulisting_element_270_1554202814904{} }
		 
		.ulisting_element_840_1554202814904{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1554202814904{} }
		@media (max-width: 991px) { .ulisting_element_840_1554202814904{} }
		@media (max-width: 767px) { .ulisting_element_840_1554202814904{} }
		@media (max-width: 575px) { .ulisting_element_840_1554202814904{} }
		 
		.ulisting_element_210_1554202814904{;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_210_1554202814904{} }
		@media (max-width: 991px) { .ulisting_element_210_1554202814904{} }
		@media (max-width: 767px) { .ulisting_element_210_1554202814904{} }
		@media (max-width: 575px) { .ulisting_element_210_1554202814904{} }
		 
		.ulisting_element_10_1554202835109{;height:820px;}
		@media (max-width: 1199px) { .ulisting_element_10_1554202835109{} }
		@media (max-width: 991px) { .ulisting_element_10_1554202835109{} }
		@media (max-width: 767px) { .ulisting_element_10_1554202835109{} }
		@media (max-width: 575px) { .ulisting_element_10_1554202835109{} }
		 
		.ulisting_element_30_1554202837109{;;}
		@media (max-width: 1199px) { .ulisting_element_30_1554202837109{} }
		@media (max-width: 991px) { .ulisting_element_30_1554202837109{} }
		@media (max-width: 767px) { .ulisting_element_30_1554202837109{} }
		@media (max-width: 575px) { .ulisting_element_30_1554202837109{} }
		