 
		.ulisting_element_840_1552454021394{;;}
		@media (max-width: 1199px) { .ulisting_element_840_1552454021394{} }
		@media (max-width: 991px) { .ulisting_element_840_1552454021394{} }
		@media (max-width: 767px) { .ulisting_element_840_1552454021394{} }
		@media (max-width: 575px) { .ulisting_element_840_1552454021394{} }
		 
		.ulisting_element_360_1552454021394{;;}
		@media (max-width: 1199px) { .ulisting_element_360_1552454021394{} }
		@media (max-width: 991px) { .ulisting_element_360_1552454021394{} }
		@media (max-width: 767px) { .ulisting_element_360_1552454021394{} }
		@media (max-width: 575px) { .ulisting_element_360_1552454021394{} }
		 
		.ulisting_element_900_1552454021394{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_900_1552454021394{} }
		@media (max-width: 991px) { .ulisting_element_900_1552454021394{} }
		@media (max-width: 767px) { .ulisting_element_900_1552454021394{} }
		@media (max-width: 575px) { .ulisting_element_900_1552454021394{} }
		 
		.ulisting_element_540_1552454063326{color:#A7A7A7;background-color:#F5F5F5;padding-top:20px;padding-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_540_1552454063326{} }
		@media (max-width: 991px) { .ulisting_element_540_1552454063326{} }
		@media (max-width: 767px) { .ulisting_element_540_1552454063326{} }
		@media (max-width: 575px) { .ulisting_element_540_1552454063326{} }
		 
		.ulisting_element_730_1548660103747{background-color:#E9E9E9;padding-top:20px;padding-bottom:8px;}
		@media (max-width: 1199px) { .ulisting_element_730_1548660103747{} }
		@media (max-width: 991px) { .ulisting_element_730_1548660103747{padding-top:30px} }
		@media (max-width: 767px) { .ulisting_element_730_1548660103747{padding-top:40px} }
		@media (max-width: 575px) { .ulisting_element_730_1548660103747{} }
		 
		.ulisting_element_780_1548660103747{;;}
		@media (max-width: 1199px) { .ulisting_element_780_1548660103747{} }
		@media (max-width: 991px) { .ulisting_element_780_1548660103747{} }
		@media (max-width: 767px) { .ulisting_element_780_1548660103747{} }
		@media (max-width: 575px) { .ulisting_element_780_1548660103747{} }
		 
		.ulisting_element_830_1548660103747{;padding-top:6px;}
		@media (max-width: 1199px) { .ulisting_element_830_1548660103747{} }
		@media (max-width: 991px) { .ulisting_element_830_1548660103747{} }
		@media (max-width: 767px) { .ulisting_element_830_1548660103747{} }
		@media (max-width: 575px) { .ulisting_element_830_1548660103747{} }
		 
		.ulisting_element_340_1548660154503{;margin-bottom:0px;padding-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 991px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 767px) { .ulisting_element_340_1548660154503{} }
		@media (max-width: 575px) { .ulisting_element_340_1548660154503{} }
		 
		.ulisting_element_410_1548660127235{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_410_1548660127235{padding-right:15px} }
		@media (max-width: 991px) { .ulisting_element_410_1548660127235{padding-top:15px;padding-bottom:15px} }
		@media (max-width: 767px) { .ulisting_element_410_1548660127235{padding-bottom:20px} }
		@media (max-width: 575px) { .ulisting_element_410_1548660127235{} }
		 
		.ulisting_element_10_1548660157395{;;}
		@media (max-width: 1199px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 991px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 767px) { .ulisting_element_10_1548660157395{} }
		@media (max-width: 575px) { .ulisting_element_10_1548660157395{} }
		 
		.ulisting_element_350_1548660168243{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 991px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 767px) { .ulisting_element_350_1548660168243{} }
		@media (max-width: 575px) { .ulisting_element_350_1548660168243{} }
		 
		.ulisting_element_420_1548660189042{;;}
		@media (max-width: 1199px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 991px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 767px) { .ulisting_element_420_1548660189042{} }
		@media (max-width: 575px) { .ulisting_element_420_1548660189042{} }
		 
		.ulisting_element_410_1548660195849{;;}
		@media (max-width: 1199px) { .ulisting_element_410_1548660195849{} }
		@media (max-width: 991px) { .ulisting_element_410_1548660195849{} }
		@media (max-width: 767px) { .ulisting_element_410_1548660195849{} }
		@media (max-width: 575px) { .ulisting_element_410_1548660195849{} }
		 
		.ulisting_element_810_1548660284907{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 991px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 767px) { .ulisting_element_810_1548660284907{} }
		@media (max-width: 575px) { .ulisting_element_810_1548660284907{} }
		 
		.ulisting_element_280_1548660127235{;padding-top:10px;}
		@media (max-width: 1199px) { .ulisting_element_280_1548660127235{padding-top:20px;padding-right:20px;padding-bottom:30px} }
		@media (max-width: 991px) { .ulisting_element_280_1548660127235{padding-top:23px} }
		@media (max-width: 767px) { .ulisting_element_280_1548660127235{padding-top:0px} }
		@media (max-width: 575px) { .ulisting_element_280_1548660127235{} }
		 
		.ulisting_element_220_1548660484686{;padding-bottom:5px;}
		@media (max-width: 1199px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 991px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 767px) { .ulisting_element_220_1548660484686{} }
		@media (max-width: 575px) { .ulisting_element_220_1548660484686{} }
		 
		.ulisting_element_740_1555565240541{;;}
		@media (max-width: 1199px) { .ulisting_element_740_1555565240541{} }
		@media (max-width: 991px) { .ulisting_element_740_1555565240541{} }
		@media (max-width: 767px) { .ulisting_element_740_1555565240541{} }
		@media (max-width: 575px) { .ulisting_element_740_1555565240541{} }
		 
		.ulisting_element_80_1548649971715{background-color:#E9E9E9;;}
		@media (max-width: 1199px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_80_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_80_1548649971715{} }
		 
		.ulisting_element_170_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_170_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_170_1548649971715{} }
		 
		.ulisting_element_790_1548649971715{;;}
		@media (max-width: 1199px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 991px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 767px) { .ulisting_element_790_1548649971715{} }
		@media (max-width: 575px) { .ulisting_element_790_1548649971715{} }
		 
		.ulisting_element_960_1548649978737{;;}
		@media (max-width: 1199px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 991px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 767px) { .ulisting_element_960_1548649978737{} }
		@media (max-width: 575px) { .ulisting_element_960_1548649978737{} }
		 
		.ulisting_element_750_1548496387744{;padding-top:212px;margin-top:-142px;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496387744{padding-top:50px;padding-bottom:20px;margin-top:0px} }
		@media (max-width: 991px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496387744{} }
		 
		.ulisting_element_670_1548496387744{;;}
		@media (max-width: 1199px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 991px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_670_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_670_1548496387744{} }
		 
		.ulisting_element_930_1548496393967{;margin-top:-212px;padding-right:0px;padding-left:0px;display: block;;top:15px;position: sticky; position: -webkit-sticky; align-self: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1548496393967{margin-top:20px;padding-right:15px;padding-left:15px;display: flex; justify-content: center;;position: relative} }
		@media (max-width: 991px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		@media (max-width: 767px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		@media (max-width: 575px) { .ulisting_element_930_1548496393967{display: flex; justify-content: center;;position: none} }
		 
		.ulisting_element_910_1555419337173{;margin-right:35px;margin-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_910_1555419337173{margin-right:0px;margin-left:0px} }
		@media (max-width: 991px) { .ulisting_element_910_1555419337173{} }
		@media (max-width: 767px) { .ulisting_element_910_1555419337173{} }
		@media (max-width: 575px) { .ulisting_element_910_1555419337173{} }
		 
		.ulisting_element_960_1548496387744{;padding-left:0px;margin-left:-15px;}
		@media (max-width: 1199px) { .ulisting_element_960_1548496387744{padding-left:15px;margin-top:50px;margin-bottom:30px;margin-left:0px} }
		@media (max-width: 991px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 767px) { .ulisting_element_960_1548496387744{} }
		@media (max-width: 575px) { .ulisting_element_960_1548496387744{} }
		 
		.ulisting_element_200_1548497799003{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 991px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 767px) { .ulisting_element_200_1548497799003{} }
		@media (max-width: 575px) { .ulisting_element_200_1548497799003{} }
		 
		.ulisting_element_830_1548497776050{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 991px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 767px) { .ulisting_element_830_1548497776050{} }
		@media (max-width: 575px) { .ulisting_element_830_1548497776050{} }
		 
		.ulisting_element_550_1548497059551{;padding-bottom:8px;}
		@media (max-width: 1199px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 991px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 767px) { .ulisting_element_550_1548497059551{} }
		@media (max-width: 575px) { .ulisting_element_550_1548497059551{} }
		 
		.ulisting_element_490_1548497043109{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 991px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 767px) { .ulisting_element_490_1548497043109{} }
		@media (max-width: 575px) { .ulisting_element_490_1548497043109{} }
		 
		.ulisting_element_560_1548496993817{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 991px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 767px) { .ulisting_element_560_1548496993817{} }
		@media (max-width: 575px) { .ulisting_element_560_1548496993817{} }
		 
		.ulisting_element_180_1548496558959{;padding-top:15px;padding-bottom:18px;}
		@media (max-width: 1199px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 991px) { .ulisting_element_180_1548496558959{padding-bottom:0px} }
		@media (max-width: 767px) { .ulisting_element_180_1548496558959{} }
		@media (max-width: 575px) { .ulisting_element_180_1548496558959{} }
		 
		.ulisting_element_400_1559034045040{;;}
		@media (max-width: 1199px) { .ulisting_element_400_1559034045040{} }
		@media (max-width: 991px) { .ulisting_element_400_1559034045040{} }
		@media (max-width: 767px) { .ulisting_element_400_1559034045040{} }
		@media (max-width: 575px) { .ulisting_element_400_1559034045040{} }
		 
		.ulisting_element_380_1548496688654{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 991px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 767px) { .ulisting_element_380_1548496688654{} }
		@media (max-width: 575px) { .ulisting_element_380_1548496688654{} }
		 
		.ulisting_element_740_1548496681425{;;}
		@media (max-width: 1199px) { .ulisting_element_740_1548496681425{} }
		@media (max-width: 991px) { .ulisting_element_740_1548496681425{} }
		@media (max-width: 767px) { .ulisting_element_740_1548496681425{} }
		@media (max-width: 575px) { .ulisting_element_740_1548496681425{} }
		 
		.ulisting_element_810_1548496669878{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1548496669878{} }
		@media (max-width: 991px) { .ulisting_element_810_1548496669878{} }
		@media (max-width: 767px) { .ulisting_element_810_1548496669878{} }
		@media (max-width: 575px) { .ulisting_element_810_1548496669878{} }
		 
		.ulisting_element_160_1548496556707{;padding-top:15px;padding-bottom:1px;}
		@media (max-width: 1199px) { .ulisting_element_160_1548496556707{padding-top:0px} }
		@media (max-width: 991px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 767px) { .ulisting_element_160_1548496556707{} }
		@media (max-width: 575px) { .ulisting_element_160_1548496556707{} }
		 
		.ulisting_element_170_1548496655106{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 991px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 767px) { .ulisting_element_170_1548496655106{} }
		@media (max-width: 575px) { .ulisting_element_170_1548496655106{} }
		 
		.ulisting_element_120_1548496644590{;;}
		@media (max-width: 1199px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 991px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 767px) { .ulisting_element_120_1548496644590{} }
		@media (max-width: 575px) { .ulisting_element_120_1548496644590{} }
		 
		.ulisting_element_750_1548496638544{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 991px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 767px) { .ulisting_element_750_1548496638544{} }
		@media (max-width: 575px) { .ulisting_element_750_1548496638544{} }
		 
		.ulisting_element_370_1548496634676{;;}
		@media (max-width: 1199px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 991px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 767px) { .ulisting_element_370_1548496634676{} }
		@media (max-width: 575px) { .ulisting_element_370_1548496634676{} }
		 
		.ulisting_element_710_1548496955311{;;}
		@media (max-width: 1199px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 991px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 767px) { .ulisting_element_710_1548496955311{} }
		@media (max-width: 575px) { .ulisting_element_710_1548496955311{} }
		 
		.ulisting_element_20_1559034055577{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1559034055577{} }
		@media (max-width: 991px) { .ulisting_element_20_1559034055577{} }
		@media (max-width: 767px) { .ulisting_element_20_1559034055577{} }
		@media (max-width: 575px) { .ulisting_element_20_1559034055577{} }
		 
		.ulisting_element_80_1564807383505{;margin-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_80_1564807383505{} }
		@media (max-width: 991px) { .ulisting_element_80_1564807383505{} }
		@media (max-width: 767px) { .ulisting_element_80_1564807383505{} }
		@media (max-width: 575px) { .ulisting_element_80_1564807383505{} }
		 
		.ulisting_element_870_1564807414754{;;}
		@media (max-width: 1199px) { .ulisting_element_870_1564807414754{} }
		@media (max-width: 991px) { .ulisting_element_870_1564807414754{} }
		@media (max-width: 767px) { .ulisting_element_870_1564807414754{} }
		@media (max-width: 575px) { .ulisting_element_870_1564807414754{} }
		 
		.ulisting_element_420_1556173985253{;padding-top:50px;}
		@media (max-width: 1199px) { .ulisting_element_420_1556173985253{} }
		@media (max-width: 991px) { .ulisting_element_420_1556173985253{} }
		@media (max-width: 767px) { .ulisting_element_420_1556173985253{} }
		@media (max-width: 575px) { .ulisting_element_420_1556173985253{} }
		 
		.ulisting_element_20_1548496521532{;;}
		@media (max-width: 1199px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 991px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 767px) { .ulisting_element_20_1548496521532{} }
		@media (max-width: 575px) { .ulisting_element_20_1548496521532{} }
		 
		.ulisting_element_910_1551422721356{;;}
		@media (max-width: 1199px) { .ulisting_element_910_1551422721356{} }
		@media (max-width: 991px) { .ulisting_element_910_1551422721356{} }
		@media (max-width: 767px) { .ulisting_element_910_1551422721356{} }
		@media (max-width: 575px) { .ulisting_element_910_1551422721356{} }
		 
		.ulisting_element_680_1576474807346{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1576474807346{} }
		@media (max-width: 991px) { .ulisting_element_680_1576474807346{} }
		@media (max-width: 767px) { .ulisting_element_680_1576474807346{} }
		@media (max-width: 575px) { .ulisting_element_680_1576474807346{} }
		 
		.ulisting_element_980_1576474817160{;;}
		@media (max-width: 1199px) { .ulisting_element_980_1576474817160{} }
		@media (max-width: 991px) { .ulisting_element_980_1576474817160{} }
		@media (max-width: 767px) { .ulisting_element_980_1576474817160{} }
		@media (max-width: 575px) { .ulisting_element_980_1576474817160{} }
		 
		.ulisting_element_510_1548827278126{;;}
		@media (max-width: 1199px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 991px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 767px) { .ulisting_element_510_1548827278126{} }
		@media (max-width: 575px) { .ulisting_element_510_1548827278126{} }
		 
		.ulisting_element_740_1548842910469{;;}
		@media (max-width: 1199px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 991px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 767px) { .ulisting_element_740_1548842910469{} }
		@media (max-width: 575px) { .ulisting_element_740_1548842910469{} }
		 
		.ulisting_element_530_1555511943424{;;}
		@media (max-width: 1199px) { .ulisting_element_530_1555511943424{} }
		@media (max-width: 991px) { .ulisting_element_530_1555511943424{} }
		@media (max-width: 767px) { .ulisting_element_530_1555511943424{} }
		@media (max-width: 575px) { .ulisting_element_530_1555511943424{} }
		 
		.ulisting_element_940_1548842993181{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 991px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 767px) { .ulisting_element_940_1548842993181{} }
		@media (max-width: 575px) { .ulisting_element_940_1548842993181{} }
		 
		.ulisting_element_510_1557146587595{background-color:rgba(0, 154, 238, 0.5);;}
		@media (max-width: 1199px) { .ulisting_element_510_1557146587595{} }
		@media (max-width: 991px) { .ulisting_element_510_1557146587595{} }
		@media (max-width: 767px) { .ulisting_element_510_1557146587595{} }
		@media (max-width: 575px) { .ulisting_element_510_1557146587595{} }
		