 
		.ulisting_element_450_1552279173475{;margin-bottom:50px;}
		@media (max-width: 1199px) { .ulisting_element_450_1552279173475{} }
		@media (max-width: 991px) { .ulisting_element_450_1552279173475{} }
		@media (max-width: 767px) { .ulisting_element_450_1552279173475{} }
		@media (max-width: 575px) { .ulisting_element_450_1552279173475{} }
		 
		.ulisting_element_750_1552279173475{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1552279173475{} }
		@media (max-width: 991px) { .ulisting_element_750_1552279173475{} }
		@media (max-width: 767px) { .ulisting_element_750_1552279173475{} }
		@media (max-width: 575px) { .ulisting_element_750_1552279173475{} }
		 
		.ulisting_element_430_1552279173475{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_430_1552279173475{} }
		@media (max-width: 991px) { .ulisting_element_430_1552279173475{} }
		@media (max-width: 767px) { .ulisting_element_430_1552279173475{} }
		@media (max-width: 575px) { .ulisting_element_430_1552279173475{} }
		 
		.ulisting_element_180_1552278887079{;height:600px;}
		@media (max-width: 1199px) { .ulisting_element_180_1552278887079{} }
		@media (max-width: 991px) { .ulisting_element_180_1552278887079{height:400px} }
		@media (max-width: 767px) { .ulisting_element_180_1552278887079{} }
		@media (max-width: 575px) { .ulisting_element_180_1552278887079{height:600px} }
		 
		.ulisting_element_80_1552127454016{;;}
		@media (max-width: 1199px) { .ulisting_element_80_1552127454016{} }
		@media (max-width: 991px) { .ulisting_element_80_1552127454016{} }
		@media (max-width: 767px) { .ulisting_element_80_1552127454016{} }
		@media (max-width: 575px) { .ulisting_element_80_1552127454016{} }
		 
		.ulisting_element_650_1552127454016{;;}
		@media (max-width: 1199px) { .ulisting_element_650_1552127454016{} }
		@media (max-width: 991px) { .ulisting_element_650_1552127454016{} }
		@media (max-width: 767px) { .ulisting_element_650_1552127454016{} }
		@media (max-width: 575px) { .ulisting_element_650_1552127454016{} }
		 
		.ulisting_element_630_1552127454016{;;}
		@media (max-width: 1199px) { .ulisting_element_630_1552127454016{} }
		@media (max-width: 991px) { .ulisting_element_630_1552127454016{} }
		@media (max-width: 767px) { .ulisting_element_630_1552127454016{} }
		@media (max-width: 575px) { .ulisting_element_630_1552127454016{} }
		 
		.ulisting_element_240_1552127477781{;;}
		@media (max-width: 1199px) { .ulisting_element_240_1552127477781{} }
		@media (max-width: 991px) { .ulisting_element_240_1552127477781{} }
		@media (max-width: 767px) { .ulisting_element_240_1552127477781{} }
		@media (max-width: 575px) { .ulisting_element_240_1552127477781{} }
		 
		.ulisting_element_750_1552127482655{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1552127482655{} }
		@media (max-width: 991px) { .ulisting_element_750_1552127482655{} }
		@media (max-width: 767px) { .ulisting_element_750_1552127482655{} }
		@media (max-width: 575px) { .ulisting_element_750_1552127482655{} }
		 
		.ulisting_element_590_1552127477781{;display: block;;align-items: center;;;}
		@media (max-width: 1199px) { .ulisting_element_590_1552127477781{display: block;;;} }
		@media (max-width: 991px) { .ulisting_element_590_1552127477781{display: block;;margin-top:5px;;flex-direction: column;} }
		@media (max-width: 767px) { .ulisting_element_590_1552127477781{display: flex; justify-content: center;;;} }
		@media (max-width: 575px) { .ulisting_element_590_1552127477781{display: flex; justify-content: center;;;} }
		 
		.ulisting_element_170_1552127488979{;;}
		@media (max-width: 1199px) { .ulisting_element_170_1552127488979{} }
		@media (max-width: 991px) { .ulisting_element_170_1552127488979{} }
		@media (max-width: 767px) { .ulisting_element_170_1552127488979{} }
		@media (max-width: 575px) { .ulisting_element_170_1552127488979{} }
		 
		.ulisting_element_120_1587010183298{;margin-top:-27px;}
		@media (max-width: 1199px) { .ulisting_element_120_1587010183298{} }
		@media (max-width: 991px) { .ulisting_element_120_1587010183298{} }
		@media (max-width: 767px) { .ulisting_element_120_1587010183298{margin-top:-20px;margin-bottom:20px} }
		@media (max-width: 575px) { .ulisting_element_120_1587010183298{margin-top:-15px;margin-bottom:10px} }
		 
		.ulisting_element_580_1552127482655{;display: flex; justify-content: flex-end;;padding-right:0px;padding-left:0px;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_580_1552127482655{display: flex; justify-content: flex-end;;;} }
		@media (max-width: 991px) { .ulisting_element_580_1552127482655{display: flex; justify-content: flex-end;;;} }
		@media (max-width: 767px) { .ulisting_element_580_1552127482655{display: flex; justify-content: center;;;} }
		@media (max-width: 575px) { .ulisting_element_580_1552127482655{display: flex; justify-content: center;;flex-direction: column;;align-items: center;} }
		 
		.ulisting_element_330_1563951308457{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_330_1563951308457{} }
		@media (max-width: 991px) { .ulisting_element_330_1563951308457{} }
		@media (max-width: 767px) { .ulisting_element_330_1563951308457{} }
		@media (max-width: 575px) { .ulisting_element_330_1563951308457{margin-right:0px;margin-bottom:10px} }
		 
		.ulisting_element_350_1562068350818{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_350_1562068350818{} }
		@media (max-width: 991px) { .ulisting_element_350_1562068350818{} }
		@media (max-width: 767px) { .ulisting_element_350_1562068350818{} }
		@media (max-width: 575px) { .ulisting_element_350_1562068350818{margin-right:0px;margin-bottom:15px} }
		 
		.ulisting_element_340_1552127508430{;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_340_1552127508430{} }
		@media (max-width: 991px) { .ulisting_element_340_1552127508430{} }
		@media (max-width: 767px) { .ulisting_element_340_1552127508430{} }
		@media (max-width: 575px) { .ulisting_element_340_1552127508430{margin-right:0px;margin-bottom:20px} }
		 
		.ulisting_element_590_1552127506596{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1552127506596{} }
		@media (max-width: 991px) { .ulisting_element_590_1552127506596{} }
		@media (max-width: 767px) { .ulisting_element_590_1552127506596{} }
		@media (max-width: 575px) { .ulisting_element_590_1552127506596{} }
		 
		.ulisting_element_110_1552127542247{;;}
		@media (max-width: 1199px) { .ulisting_element_110_1552127542247{} }
		@media (max-width: 991px) { .ulisting_element_110_1552127542247{} }
		@media (max-width: 767px) { .ulisting_element_110_1552127542247{} }
		@media (max-width: 575px) { .ulisting_element_110_1552127542247{} }
		 
		.ulisting_element_350_1552127542247{;margin-top:-80px;}
		@media (max-width: 1199px) { .ulisting_element_350_1552127542247{margin-top:0px} }
		@media (max-width: 991px) { .ulisting_element_350_1552127542247{} }
		@media (max-width: 767px) { .ulisting_element_350_1552127542247{} }
		@media (max-width: 575px) { .ulisting_element_350_1552127542247{} }
		 
		.ulisting_element_590_1552127585680{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1552127585680{} }
		@media (max-width: 991px) { .ulisting_element_590_1552127585680{} }
		@media (max-width: 767px) { .ulisting_element_590_1552127585680{} }
		@media (max-width: 575px) { .ulisting_element_590_1552127585680{} }
		 
		.ulisting_element_80_1552127546312{;margin-top:-30px;}
		@media (max-width: 1199px) { .ulisting_element_80_1552127546312{} }
		@media (max-width: 991px) { .ulisting_element_80_1552127546312{} }
		@media (max-width: 767px) { .ulisting_element_80_1552127546312{} }
		@media (max-width: 575px) { .ulisting_element_80_1552127546312{} }
		 
		.ulisting_element_360_1552279406972{;;}
		@media (max-width: 1199px) { .ulisting_element_360_1552279406972{} }
		@media (max-width: 991px) { .ulisting_element_360_1552279406972{margin-bottom:-30px} }
		@media (max-width: 767px) { .ulisting_element_360_1552279406972{margin-bottom:-40px} }
		@media (max-width: 575px) { .ulisting_element_360_1552279406972{} }
		 
		.ulisting_element_150_1552127605413{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1552127605413{} }
		@media (max-width: 991px) { .ulisting_element_150_1552127605413{margin-top:30px} }
		@media (max-width: 767px) { .ulisting_element_150_1552127605413{} }
		@media (max-width: 575px) { .ulisting_element_150_1552127605413{} }
		 
		.ulisting_element_530_1559801524732{;;}
		@media (max-width: 1199px) { .ulisting_element_530_1559801524732{} }
		@media (max-width: 991px) { .ulisting_element_530_1559801524732{} }
		@media (max-width: 767px) { .ulisting_element_530_1559801524732{} }
		@media (max-width: 575px) { .ulisting_element_530_1559801524732{} }
		