 
		.ulisting_element_410_1551787744785{;;}
		@media (max-width: 1199px) { .ulisting_element_410_1551787744785{} }
		@media (max-width: 991px) { .ulisting_element_410_1551787744785{} }
		@media (max-width: 767px) { .ulisting_element_410_1551787744785{} }
		@media (max-width: 575px) { .ulisting_element_410_1551787744785{} }
		 
		.ulisting_element_350_1551787744785{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1551787744785{} }
		@media (max-width: 991px) { .ulisting_element_350_1551787744785{} }
		@media (max-width: 767px) { .ulisting_element_350_1551787744785{} }
		@media (max-width: 575px) { .ulisting_element_350_1551787744785{} }
		 
		.ulisting_element_520_1551787744785{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_520_1551787744785{} }
		@media (max-width: 991px) { .ulisting_element_520_1551787744785{} }
		@media (max-width: 767px) { .ulisting_element_520_1551787744785{} }
		@media (max-width: 575px) { .ulisting_element_520_1551787744785{} }
		 
		.ulisting_element_30_1551787835230{;height:170px;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_30_1551787835230{} }
		@media (max-width: 991px) { .ulisting_element_30_1551787835230{} }
		@media (max-width: 767px) { .ulisting_element_30_1551787835230{} }
		@media (max-width: 575px) { .ulisting_element_30_1551787835230{} }
		 
		.ulisting_element_550_1551787840679{;;}
		@media (max-width: 1199px) { .ulisting_element_550_1551787840679{} }
		@media (max-width: 991px) { .ulisting_element_550_1551787840679{} }
		@media (max-width: 767px) { .ulisting_element_550_1551787840679{} }
		@media (max-width: 575px) { .ulisting_element_550_1551787840679{} }
		 
		.ulisting_element_570_1551787840679{;display: flex; justify-content: flex-start;;flex-direction: row;;}
		@media (max-width: 1199px) { .ulisting_element_570_1551787840679{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_570_1551787840679{display: flex; justify-content: flex-start;;} }
		@media (max-width: 767px) { .ulisting_element_570_1551787840679{display: flex; justify-content: flex-start;;} }
		@media (max-width: 575px) { .ulisting_element_570_1551787840679{display: flex; justify-content: flex-start;;} }
		 
		.ulisting_element_760_1563517799477{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_760_1563517799477{} }
		@media (max-width: 991px) { .ulisting_element_760_1563517799477{} }
		@media (max-width: 767px) { .ulisting_element_760_1563517799477{} }
		@media (max-width: 575px) { .ulisting_element_760_1563517799477{} }
		 
		.ulisting_element_650_1551787850546{;;}
		@media (max-width: 1199px) { .ulisting_element_650_1551787850546{} }
		@media (max-width: 991px) { .ulisting_element_650_1551787850546{} }
		@media (max-width: 767px) { .ulisting_element_650_1551787850546{} }
		@media (max-width: 575px) { .ulisting_element_650_1551787850546{} }
		 
		.ulisting_element_710_1551787845177{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_710_1551787845177{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_710_1551787845177{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_710_1551787845177{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_710_1551787845177{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_700_1551787874379{;;}
		@media (max-width: 1199px) { .ulisting_element_700_1551787874379{} }
		@media (max-width: 991px) { .ulisting_element_700_1551787874379{} }
		@media (max-width: 767px) { .ulisting_element_700_1551787874379{} }
		@media (max-width: 575px) { .ulisting_element_700_1551787874379{} }
		 
		.ulisting_element_160_1556788930072{;;}
		@media (max-width: 1199px) { .ulisting_element_160_1556788930072{} }
		@media (max-width: 991px) { .ulisting_element_160_1556788930072{} }
		@media (max-width: 767px) { .ulisting_element_160_1556788930072{} }
		@media (max-width: 575px) { .ulisting_element_160_1556788930072{} }
		 
		.ulisting_element_740_1556788930072{;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_740_1556788930072{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_740_1556788930072{display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_740_1556788930072{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_740_1556788930072{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_900_1562392534298{;;}
		@media (max-width: 1199px) { .ulisting_element_900_1562392534298{} }
		@media (max-width: 991px) { .ulisting_element_900_1562392534298{} }
		@media (max-width: 767px) { .ulisting_element_900_1562392534298{} }
		@media (max-width: 575px) { .ulisting_element_900_1562392534298{} }
		 
		.ulisting_element_160_1562392532731{;;}
		@media (max-width: 1199px) { .ulisting_element_160_1562392532731{} }
		@media (max-width: 991px) { .ulisting_element_160_1562392532731{} }
		@media (max-width: 767px) { .ulisting_element_160_1562392532731{} }
		@media (max-width: 575px) { .ulisting_element_160_1562392532731{} }
		 
		.ulisting_element_340_1601900236303{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1601900236303{} }
		@media (max-width: 991px) { .ulisting_element_340_1601900236303{} }
		@media (max-width: 767px) { .ulisting_element_340_1601900236303{} }
		@media (max-width: 575px) { .ulisting_element_340_1601900236303{} }
		 
		.ulisting_element_900_1601900236303{;;}
		@media (max-width: 1199px) { .ulisting_element_900_1601900236303{} }
		@media (max-width: 991px) { .ulisting_element_900_1601900236303{} }
		@media (max-width: 767px) { .ulisting_element_900_1601900236303{} }
		@media (max-width: 575px) { .ulisting_element_900_1601900236303{} }
		 
		.ulisting_element_750_1551788014577{color:#303441;padding-top:11px;margin-bottom:2px;}
		@media (max-width: 1199px) { .ulisting_element_750_1551788014577{} }
		@media (max-width: 991px) { .ulisting_element_750_1551788014577{} }
		@media (max-width: 767px) { .ulisting_element_750_1551788014577{} }
		@media (max-width: 575px) { .ulisting_element_750_1551788014577{} }
		 
		.ulisting_element_190_1551788023994{;;}
		@media (max-width: 1199px) { .ulisting_element_190_1551788023994{} }
		@media (max-width: 991px) { .ulisting_element_190_1551788023994{} }
		@media (max-width: 767px) { .ulisting_element_190_1551788023994{} }
		@media (max-width: 575px) { .ulisting_element_190_1551788023994{} }
		 
		.ulisting_element_590_1551788023994{;padding-right:15px;padding-left:15px;margin-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_590_1551788023994{} }
		@media (max-width: 991px) { .ulisting_element_590_1551788023994{} }
		@media (max-width: 767px) { .ulisting_element_590_1551788023994{} }
		@media (max-width: 575px) { .ulisting_element_590_1551788023994{} }
		 
		.ulisting_element_610_1556182903407{;;}
		@media (max-width: 1199px) { .ulisting_element_610_1556182903407{} }
		@media (max-width: 991px) { .ulisting_element_610_1556182903407{} }
		@media (max-width: 767px) { .ulisting_element_610_1556182903407{} }
		@media (max-width: 575px) { .ulisting_element_610_1556182903407{} }
		 
		.ulisting_element_350_1601900270799{;display: flex; justify-content: flex-end;;align-items: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_350_1601900270799{display: flex; justify-content: flex-end;;align-items: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_350_1601900270799{display: flex; justify-content: flex-end;;align-items: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_350_1601900270799{display: flex; justify-content: flex-end;;align-items: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_350_1601900270799{display: flex; justify-content: flex-end;;align-items: flex-end;} }
		 
		.ulisting_element_200_1601900146699{;margin-top:-2px;margin-right:0px;}
		@media (max-width: 1199px) { .ulisting_element_200_1601900146699{} }
		@media (max-width: 991px) { .ulisting_element_200_1601900146699{} }
		@media (max-width: 767px) { .ulisting_element_200_1601900146699{} }
		@media (max-width: 575px) { .ulisting_element_200_1601900146699{} }
		 
		.ulisting_element_470_1551788045996{;margin-top:10px;margin-bottom:10px;}
		@media (max-width: 1199px) { .ulisting_element_470_1551788045996{} }
		@media (max-width: 991px) { .ulisting_element_470_1551788045996{} }
		@media (max-width: 767px) { .ulisting_element_470_1551788045996{} }
		@media (max-width: 575px) { .ulisting_element_470_1551788045996{} }
		 
		.ulisting_element_470_1551848796879{;margin-right:-10px;margin-bottom:20px;margin-left:-10px;}
		@media (max-width: 1199px) { .ulisting_element_470_1551848796879{} }
		@media (max-width: 991px) { .ulisting_element_470_1551848796879{} }
		@media (max-width: 767px) { .ulisting_element_470_1551848796879{} }
		@media (max-width: 575px) { .ulisting_element_470_1551848796879{} }
		 
		.ulisting_element_520_1551848813267{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1551848813267{} }
		@media (max-width: 991px) { .ulisting_element_520_1551848813267{} }
		@media (max-width: 767px) { .ulisting_element_520_1551848813267{} }
		@media (max-width: 575px) { .ulisting_element_520_1551848813267{} }
		 
		.ulisting_element_510_1551848806863{;;}
		@media (max-width: 1199px) { .ulisting_element_510_1551848806863{} }
		@media (max-width: 991px) { .ulisting_element_510_1551848806863{} }
		@media (max-width: 767px) { .ulisting_element_510_1551848806863{} }
		@media (max-width: 575px) { .ulisting_element_510_1551848806863{} }
		 
		.ulisting_element_440_1551852530517{;;}
		@media (max-width: 1199px) { .ulisting_element_440_1551852530517{} }
		@media (max-width: 991px) { .ulisting_element_440_1551852530517{} }
		@media (max-width: 767px) { .ulisting_element_440_1551852530517{} }
		@media (max-width: 575px) { .ulisting_element_440_1551852530517{} }
		 
		.ulisting_element_140_1575018212013{;;}
		@media (max-width: 1199px) { .ulisting_element_140_1575018212013{} }
		@media (max-width: 991px) { .ulisting_element_140_1575018212013{} }
		@media (max-width: 767px) { .ulisting_element_140_1575018212013{} }
		@media (max-width: 575px) { .ulisting_element_140_1575018212013{} }
		