 
		.ulisting_element_180_1551779276506{;margin-right:15px;margin-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_180_1551779276506{} }
		@media (max-width: 991px) { .ulisting_element_180_1551779276506{} }
		@media (max-width: 767px) { .ulisting_element_180_1551779276506{} }
		@media (max-width: 575px) { .ulisting_element_180_1551779276506{} }
		 
		.ulisting_element_800_1551779276506{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1551779276506{} }
		@media (max-width: 991px) { .ulisting_element_800_1551779276506{} }
		@media (max-width: 767px) { .ulisting_element_800_1551779276506{} }
		@media (max-width: 575px) { .ulisting_element_800_1551779276506{} }
		 
		.ulisting_element_960_1551779276506{;padding-right:0px;padding-left:0px;}
		@media (max-width: 1199px) { .ulisting_element_960_1551779276506{} }
		@media (max-width: 991px) { .ulisting_element_960_1551779276506{} }
		@media (max-width: 767px) { .ulisting_element_960_1551779276506{} }
		@media (max-width: 575px) { .ulisting_element_960_1551779276506{} }
		 
		.ulisting_element_780_1551779405977{;height:380px;padding-left:15px;}
		@media (max-width: 1199px) { .ulisting_element_780_1551779405977{height:240px} }
		@media (max-width: 991px) { .ulisting_element_780_1551779405977{height:240px} }
		@media (max-width: 767px) { .ulisting_element_780_1551779405977{height:240px} }
		@media (max-width: 575px) { .ulisting_element_780_1551779405977{height:180px} }
		 
		.ulisting_element_470_1551779497010{;;}
		@media (max-width: 1199px) { .ulisting_element_470_1551779497010{} }
		@media (max-width: 991px) { .ulisting_element_470_1551779497010{} }
		@media (max-width: 767px) { .ulisting_element_470_1551779497010{} }
		@media (max-width: 575px) { .ulisting_element_470_1551779497010{} }
		 
		.ulisting_element_700_1551779497010{;padding-top:25px;padding-left:30px;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_700_1551779497010{display: flex; justify-content: flex-start;} }
		@media (max-width: 991px) { .ulisting_element_700_1551779497010{padding-top:20px;padding-left:15px;display: flex; justify-content: flex-start;} }
		@media (max-width: 767px) { .ulisting_element_700_1551779497010{display: flex; justify-content: flex-start;} }
		@media (max-width: 575px) { .ulisting_element_700_1551779497010{display: flex; justify-content: flex-start;} }
		 
		.ulisting_element_680_1551779481344{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1551779481344{} }
		@media (max-width: 991px) { .ulisting_element_680_1551779481344{} }
		@media (max-width: 767px) { .ulisting_element_680_1551779481344{} }
		@media (max-width: 575px) { .ulisting_element_680_1551779481344{} }
		 
		.ulisting_element_760_1563959027632{;display: flex; justify-content: flex-end;;padding-top:25px;padding-right:30px;}
		@media (max-width: 1199px) { .ulisting_element_760_1563959027632{display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_760_1563959027632{display: flex; justify-content: flex-end;;padding-top:20px;padding-right:25px} }
		@media (max-width: 767px) { .ulisting_element_760_1563959027632{display: flex; justify-content: flex-end;} }
		@media (max-width: 575px) { .ulisting_element_760_1563959027632{display: flex; justify-content: flex-end;} }
		 
		.ulisting_element_890_1562392483437{;;}
		@media (max-width: 1199px) { .ulisting_element_890_1562392483437{} }
		@media (max-width: 991px) { .ulisting_element_890_1562392483437{} }
		@media (max-width: 767px) { .ulisting_element_890_1562392483437{} }
		@media (max-width: 575px) { .ulisting_element_890_1562392483437{} }
		 
		.ulisting_element_200_1562392481735{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1562392481735{} }
		@media (max-width: 991px) { .ulisting_element_200_1562392481735{} }
		@media (max-width: 767px) { .ulisting_element_200_1562392481735{} }
		@media (max-width: 575px) { .ulisting_element_200_1562392481735{} }
		 
		.ulisting_element_180_1556790448371{;;}
		@media (max-width: 1199px) { .ulisting_element_180_1556790448371{} }
		@media (max-width: 991px) { .ulisting_element_180_1556790448371{} }
		@media (max-width: 767px) { .ulisting_element_180_1556790448371{} }
		@media (max-width: 575px) { .ulisting_element_180_1556790448371{} }
		 
		.ulisting_element_530_1556790448371{;display: flex; justify-content: flex-start;;padding-bottom:15px;padding-left:35px;}
		@media (max-width: 1199px) { .ulisting_element_530_1556790448371{display: flex; justify-content: flex-start;;padding-left:15px} }
		@media (max-width: 991px) { .ulisting_element_530_1556790448371{display: flex; justify-content: flex-start;;padding-bottom:10px} }
		@media (max-width: 767px) { .ulisting_element_530_1556790448371{display: flex; justify-content: flex-start;} }
		@media (max-width: 575px) { .ulisting_element_530_1556790448371{display: flex; justify-content: flex-start;} }
		 
		.ulisting_element_780_1563517649718{;margin-right:10px;}
		@media (max-width: 1199px) { .ulisting_element_780_1563517649718{} }
		@media (max-width: 991px) { .ulisting_element_780_1563517649718{} }
		@media (max-width: 767px) { .ulisting_element_780_1563517649718{} }
		@media (max-width: 575px) { .ulisting_element_780_1563517649718{} }
		 
		.ulisting_element_860_1551779732610{;margin-right:10px;margin-bottom:10px;}
		@media (max-width: 1199px) { .ulisting_element_860_1551779732610{} }
		@media (max-width: 991px) { .ulisting_element_860_1551779732610{} }
		@media (max-width: 767px) { .ulisting_element_860_1551779732610{} }
		@media (max-width: 575px) { .ulisting_element_860_1551779732610{} }
		 
		.ulisting_element_340_1563959448654{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1563959448654{} }
		@media (max-width: 991px) { .ulisting_element_340_1563959448654{} }
		@media (max-width: 767px) { .ulisting_element_340_1563959448654{} }
		@media (max-width: 575px) { .ulisting_element_340_1563959448654{} }
		 
		.ulisting_element_900_1563959448655{;padding-top:25px;padding-bottom:25px;padding-left:45px;}
		@media (max-width: 1199px) { .ulisting_element_900_1563959448655{padding-left:30px} }
		@media (max-width: 991px) { .ulisting_element_900_1563959448655{} }
		@media (max-width: 767px) { .ulisting_element_900_1563959448655{} }
		@media (max-width: 575px) { .ulisting_element_900_1563959448655{} }
		 
		.ulisting_element_770_1563959518380{;;}
		@media (max-width: 1199px) { .ulisting_element_770_1563959518380{} }
		@media (max-width: 991px) { .ulisting_element_770_1563959518380{} }
		@media (max-width: 767px) { .ulisting_element_770_1563959518380{} }
		@media (max-width: 575px) { .ulisting_element_770_1563959518380{} }
		 
		.ulisting_element_90_1563959518380{;;}
		@media (max-width: 1199px) { .ulisting_element_90_1563959518380{} }
		@media (max-width: 991px) { .ulisting_element_90_1563959518380{} }
		@media (max-width: 767px) { .ulisting_element_90_1563959518380{} }
		@media (max-width: 575px) { .ulisting_element_90_1563959518380{} }
		 
		.ulisting_element_350_1551779851009{color:#303441;margin-bottom:0px;}
		@media (max-width: 1199px) { .ulisting_element_350_1551779851009{} }
		@media (max-width: 991px) { .ulisting_element_350_1551779851009{} }
		@media (max-width: 767px) { .ulisting_element_350_1551779851009{} }
		@media (max-width: 575px) { .ulisting_element_350_1551779851009{margin-bottom:20px} }
		 
		.ulisting_element_60_1563959522396{;margin-top:-3px;display: flex; justify-content: center;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_60_1563959522396{display: flex; justify-content: center;;align-items: center;} }
		@media (max-width: 991px) { .ulisting_element_60_1563959522396{display: flex; justify-content: center;;align-items: center;} }
		@media (max-width: 767px) { .ulisting_element_60_1563959522396{display: flex; justify-content: center;;align-items: center;} }
		@media (max-width: 575px) { .ulisting_element_60_1563959522396{display: flex; justify-content: flex-start;;align-items: center;} }
		 
		.ulisting_element_770_1551779963342{;;}
		@media (max-width: 1199px) { .ulisting_element_770_1551779963342{} }
		@media (max-width: 991px) { .ulisting_element_770_1551779963342{} }
		@media (max-width: 767px) { .ulisting_element_770_1551779963342{} }
		@media (max-width: 575px) { .ulisting_element_770_1551779963342{} }
		 
		.ulisting_element_550_1601916124133{;display: flex; justify-content: flex-start;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_550_1601916124133{display: flex; justify-content: flex-start;;} }
		@media (max-width: 991px) { .ulisting_element_550_1601916124133{display: flex; justify-content: flex-end;;} }
		@media (max-width: 767px) { .ulisting_element_550_1601916124133{display: flex; justify-content: flex-end;;} }
		@media (max-width: 575px) { .ulisting_element_550_1601916124133{display: flex; justify-content: flex-end;;} }
		 
		.ulisting_element_550_1601916159246{;;}
		@media (max-width: 1199px) { .ulisting_element_550_1601916159246{} }
		@media (max-width: 991px) { .ulisting_element_550_1601916159246{} }
		@media (max-width: 767px) { .ulisting_element_550_1601916159246{} }
		@media (max-width: 575px) { .ulisting_element_550_1601916159246{} }
		 
		.ulisting_element_990_1563960388954{;margin-top:15px;margin-right:-10px;margin-left:-10px;}
		@media (max-width: 1199px) { .ulisting_element_990_1563960388954{} }
		@media (max-width: 991px) { .ulisting_element_990_1563960388954{} }
		@media (max-width: 767px) { .ulisting_element_990_1563960388954{} }
		@media (max-width: 575px) { .ulisting_element_990_1563960388954{} }
		 
		.ulisting_element_630_1559018683350{;;}
		@media (max-width: 1199px) { .ulisting_element_630_1559018683350{} }
		@media (max-width: 991px) { .ulisting_element_630_1559018683350{} }
		@media (max-width: 767px) { .ulisting_element_630_1559018683350{} }
		@media (max-width: 575px) { .ulisting_element_630_1559018683350{} }
		 
		.ulisting_element_560_1559018679928{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1559018679928{} }
		@media (max-width: 991px) { .ulisting_element_560_1559018679928{} }
		@media (max-width: 767px) { .ulisting_element_560_1559018679928{} }
		@media (max-width: 575px) { .ulisting_element_560_1559018679928{} }
		 
		.ulisting_element_150_1559018717606{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1559018717606{} }
		@media (max-width: 991px) { .ulisting_element_150_1559018717606{} }
		@media (max-width: 767px) { .ulisting_element_150_1559018717606{} }
		@media (max-width: 575px) { .ulisting_element_150_1559018717606{} }
		 
		.ulisting_element_720_1559018711901{;;}
		@media (max-width: 1199px) { .ulisting_element_720_1559018711901{} }
		@media (max-width: 991px) { .ulisting_element_720_1559018711901{} }
		@media (max-width: 767px) { .ulisting_element_720_1559018711901{} }
		@media (max-width: 575px) { .ulisting_element_720_1559018711901{} }
		 
		.ulisting_element_320_1559018740154{;;}
		@media (max-width: 1199px) { .ulisting_element_320_1559018740154{} }
		@media (max-width: 991px) { .ulisting_element_320_1559018740154{} }
		@media (max-width: 767px) { .ulisting_element_320_1559018740154{} }
		@media (max-width: 575px) { .ulisting_element_320_1559018740154{} }
		 
		.ulisting_element_110_1563959456316{;;}
		@media (max-width: 1199px) { .ulisting_element_110_1563959456316{} }
		@media (max-width: 991px) { .ulisting_element_110_1563959456316{} }
		@media (max-width: 767px) { .ulisting_element_110_1563959456316{} }
		@media (max-width: 575px) { .ulisting_element_110_1563959456316{} }
		 
		.ulisting_element_690_1555415694354{;margin-top:-50px;}
		@media (max-width: 1199px) { .ulisting_element_690_1555415694354{} }
		@media (max-width: 991px) { .ulisting_element_690_1555415694354{} }
		@media (max-width: 767px) { .ulisting_element_690_1555415694354{margin-top:0px} }
		@media (max-width: 575px) { .ulisting_element_690_1555415694354{} }
		